<div id="<%= dom_id firma %>">
  <p>
    <strong>Nume institutie:</strong>
    <%= firma.nume_institutie %>
  </p>

  <p>
    <strong>Cui:</strong>
    <%= firma.cui %>
  </p>

  <p>
    <strong>Rc:</strong>
    <%= firma.rc %>
  </p>

  <p>
    <strong>Adresa:</strong>
    <%= firma.adresa %>
  </p>

  <p>
    <strong>Banca:</strong>
    <%= firma.banca %>
  </p>

  <p>
    <strong>Cont:</strong>
    <%= firma.cont %>
  </p>

  <p>
    <strong>Serie:</strong>
    <%= firma.serie %>
  </p>

  <p>
    <strong>Nrinceput:</strong>
    <%= firma.nrinceput %>
  </p>
  <p>
  <strong>Cod:</strong>
  <%= firma.cod %>
</p>

</div>
