<p style="color: green"><%= notice %></p>

<%= render @firma %>

<div>
  <%= link_to "Editeaza datele", edit_firma_path(@firma) %> |
  <%= link_to "Inapoi la toate", firmas_path %>

  <%= button_to "Sterge aceasta institutie", @firma, method: :delete %>
</div>
