<p style="color: green"><%= notice %></p>

<%= render @firma %>

<div>
  <%= link_to "Edit this firma", edit_firma_path(@firma) %> |
  <%= link_to "Back to firmas", firmas_path %>

  <%= button_to "Destroy this firma", @firma, method: :delete %>
</div>
