<div id="<%= dom_id plante %>">
  <p>
    <strong>Idp:</strong>
    <%= plante.idp %>
  </p>

  <p>
    <strong>Tip:</strong>
    <%= plante.tip %>
  </p>

  <p>
    <strong>Subt:</strong>
    <%= plante.subt %>
  </p>

  <p>
    <strong>Nume:</strong>
    <%= plante.nume %>
  </p>

  <p>
    <strong>Denbot:</strong>
    <%= plante.denbot %>
  </p>

  <p>
    <strong>Numesec:</strong>
    <%= plante.numesec %>
  </p>

  <p>
    <strong>Numesec2:</strong>
    <%= plante.numesec2 %>
  </p>

  <p>
    <strong>Numeayu:</strong>
    <%= plante.numeayu %>
  </p>

  <p>
    <strong>Fam:</strong>
    <%= plante.fam %>
  </p>

</div>
