<%= form_with(model: recomandari) do |form| %>
  <% if recomandari.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recomandari.errors.count, "error") %> prohibited this recomandari from being saved:</h2>

      <ul>
        <% recomandari.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :listaproprietati_id, style: "display: block" %>
    <%= form.number_field :listaproprietati_id %>
  </div>

  <div>
    <%= form.label :idpr, style: "display: block" %>
    <%= form.number_field :idpr %>
  </div>

  <div>
    <%= form.label :idp, style: "display: block" %>
    <%= form.number_field :idp %>
  </div>

  <div>
    <%= form.label :idpp, style: "display: block" %>
    <%= form.number_field :idpp %>
  </div>

  <div>
    <%= form.label :imp, style: "display: block" %>
    <%= form.text_field :imp %>
  </div>

  <div>
    <%= form.label :tipp, style: "display: block" %>
    <%= form.text_field :tipp %>
  </div>

  <div>
    <%= form.label :srota, style: "display: block" %>
    <%= form.number_field :srota %>
  </div>

  <div>
    <%= form.label :proprietate, style: "display: block" %>
    <%= form.text_field :proprietate %>
  </div>

  <div>
    <%= form.label :propeng, style: "display: block" %>
    <%= form.text_field :propeng %>
  </div>

  <div>
    <%= form.label :propayur, style: "display: block" %>
    <%= form.text_field :propayur %>
  </div>

  <div>
    <%= form.label :propgerm, style: "display: block" %>
    <%= form.text_field :propgerm %>
  </div>

  <div>
    <%= form.label :completari, style: "display: block" %>
    <%= form.text_field :completari %>
  </div>

  <div>
    <%= form.label :sursa, style: "display: block" %>
    <%= form.text_field :sursa %>
  </div>

  <div>
    <%= form.label :sel, style: "display: block" %>
    <%= form.text_field :sel %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
