<div id="<%= dom_id recomandari %>">
  <p>
    <strong>Listaproprietati:</strong>
    <%= recomandari.listaproprietati_id %>
  </p>

  <p>
    <strong>Idpr:</strong>
    <%= recomandari.idpr %>
  </p>

  <p>
    <strong>Idp:</strong>
    <%= recomandari.idp %>
  </p>

  <p>
    <strong>Idpp:</strong>
    <%= recomandari.idpp %>
  </p>

  <p>
    <strong>Imp:</strong>
    <%= recomandari.imp %>
  </p>

  <p>
    <strong>Tipp:</strong>
    <%= recomandari.tipp %>
  </p>

  <p>
    <strong>Srota:</strong>
    <%= recomandari.srota %>
  </p>

  <p>
    <strong>Proprietate:</strong>
    <%= recomandari.proprietate %>
  </p>

  <p>
    <strong>Propeng:</strong>
    <%= recomandari.propeng %>
  </p>

  <p>
    <strong>Propayur:</strong>
    <%= recomandari.propayur %>
  </p>

  <p>
    <strong>Propgerm:</strong>
    <%= recomandari.propgerm %>
  </p>

  <p>
    <strong>Completari:</strong>
    <%= recomandari.completari %>
  </p>

  <p>
    <strong>Sursa:</strong>
    <%= recomandari.sursa %>
  </p>

  <p>
    <strong>Sel:</strong>
    <%= recomandari.sel %>
  </p>

</div>
