<div id="<%= dom_id srotum %>">
  <p>
    <strong>Codsrota:</strong>
    <%= srotum.codsrota %>
  </p>

  <p>
    <strong>Codsr:</strong>
    <%= srotum.codsr %>
  </p>

  <p>
    <strong>Numesrota:</strong>
    <%= srotum.numesrota %>
  </p>

  <p>
    <strong>Numescurt:</strong>
    <%= srotum.numescurt %>
  </p>

  <p>
    <strong>Explicatie:</strong>
    <%= srotum.explicatie %>
  </p>

  <p>
    <strong>Origine:</strong>
    <%= srotum.origine %>
  </p>

  <p>
    <strong>Parti:</strong>
    <%= srotum.parti %>
  </p>

  <p>
    <strong>Functii:</strong>
    <%= srotum.functii %>
  </p>

  <p>
    <strong>Observatie:</strong>
    <%= srotum.observatie %>
  </p>

</div>
