<p style="color: green"><%= notice %></p>

<%= render @srotum %>

<div>
  <%= link_to "Edit this srotum", edit_srotum_path(@srotum) %> |
  <%= link_to "Back to srota", srota_path %>

  <%= button_to "Destroy this srotum", @srotum, method: :delete %>
</div>
