<!-- app/views/listacanal2s/index.html.erb -->

<h1>Lista Canale 3</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Plătit</th>
      <th>Nume</th>
      <th>Telefon</th>
      <th>Acțiuni</th>
    </tr>
  </thead>
  <tbody>
    <% @listacanal3s.each do |item| %>
      <tr>
        <td><%= item.email %></td>
        <td><%= item.platit %></td>
        <td><%= item.nume %></td>
        <td><%= item.telefon %></td>
        <td>
          
          <%= link_to 'Editează', edit_listacanal3_path(item) %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


