<div id="<%= dom_id plante_parti %>">
  <p>
    <strong>Idx:</strong>
    <%= plante_parti.idx %>
  </p>

  <p>
    <strong>Cpl:</strong>
    <%= plante_parti.cpl %>
  </p>

  <p>
    <strong>Parte:</strong>
    <%= plante_parti.parte %>
  </p>

  <p>
    <strong>Part:</strong>
    <%= plante_parti.part %>
  </p>

  <p>
    <strong>Clasa:</strong>
    <%= plante_parti.clasa %>
  </p>

  <p>
    <strong>Invpp:</strong>
    <%= plante_parti.invpp %>
  </p>

  <p>
    <strong>Tippp:</strong>
    <%= plante_parti.tippp %>
  </p>

  <p>
    <strong>Recomandari:</strong>
    <%= plante_parti.recomandari %>
  </p>

  <p>
    <strong>Textsursa:</strong>
    <%= plante_parti.textsursa %>
  </p>

  <p>
    <strong>Starereprez:</strong>
    <%= plante_parti.starereprez %>
  </p>

  <p>
    <strong>Z:</strong>
    <%= plante_parti.z %>
  </p>

  <p>
    <strong>Healthrel:</strong>
    <%= plante_parti.healthrel %>
  </p>

  <p>
    <strong>Compozitie:</strong>
    <%= plante_parti.compozitie %>
  </p>

  <p>
    <strong>Etich:</strong>
    <%= plante_parti.etich %>
  </p>

  <p>
    <strong>Healthrelrom:</strong>
    <%= plante_parti.healthrelrom %>
  </p>

  <p>
    <strong>Propspeciale:</strong>
    <%= plante_parti.propspeciale %>
  </p>

  <p>
    <strong>Selectie:</strong>
    <%= plante_parti.selectie %>
  </p>

  <p>
    <strong>Lucru:</strong>
    <%= plante_parti.lucru %>
  </p>

  <p>
    <strong>S:</strong>
    <%= plante_parti.s %>
  </p>

  <p>
    <strong>Sel:</strong>
    <%= plante_parti.sel %>
  </p>

  <p>
    <strong>Index2:</strong>
    <%= plante_parti.index2 %>
  </p>

  <p>
    <strong>Ordvol:</strong>
    <%= plante_parti.ordvol %>
  </p>

  <p>
    <strong>Selpz:</strong>
    <%= plante_parti.selpz %>
  </p>

  <p>
    <strong>Selpzn:</strong>
    <%= plante_parti.selpzn %>
  </p>

  <p>
    <strong>Sels:</strong>
    <%= plante_parti.sels %>
  </p>

  <p>
    <strong>Selz:</strong>
    <%= plante_parti.selz %>
  </p>

  <p>
    <strong>Selnr:</strong>
    <%= plante_parti.selnr %>
  </p>

  <p>
    <strong>T10:</strong>
    <%= plante_parti.t10 %>
  </p>

  <p>
    <strong>T11:</strong>
    <%= plante_parti.t11 %>
  </p>

  <p>
    <strong>T12:</strong>
    <%= plante_parti.t12 %>
  </p>

  <p>
    <strong>T13:</strong>
    <%= plante_parti.t13 %>
  </p>

  <p>
    <strong>T14:</strong>
    <%= plante_parti.t14 %>
  </p>

  <p>
    <strong>T15:</strong>
    <%= plante_parti.t15 %>
  </p>

  <p>
    <strong>T16:</strong>
    <%= plante_parti.t16 %>
  </p>

  <p>
    <strong>B:</strong>
    <%= plante_parti.b %>
  </p>

  <p>
    <strong>R:</strong>
    <%= plante_parti.r %>
  </p>

  <p>
    <strong>C:</strong>
    <%= plante_parti.c %>
  </p>

  <p>
    <strong>Imp:</strong>
    <%= plante_parti.imp %>
  </p>

  <p>
    <strong>Testat:</strong>
    <%= plante_parti.testat %>
  </p>

  <p>
    <strong>G1:</strong>
    <%= plante_parti.g1 %>
  </p>

  <p>
    <strong>G2:</strong>
    <%= plante_parti.g2 %>
  </p>

  <p>
    <strong>G3:</strong>
    <%= plante_parti.g3 %>
  </p>

  <p>
    <strong>G4:</strong>
    <%= plante_parti.g4 %>
  </p>

  <p>
    <strong>G5:</strong>
    <%= plante_parti.g5 %>
  </p>

  <p>
    <strong>G6:</strong>
    <%= plante_parti.g6 %>
  </p>

  <p>
    <strong>Vir:</strong>
    <%= plante_parti.vir %>
  </p>

  <p>
    <strong>Vip:</strong>
    <%= plante_parti.vip %>
  </p>

  <p>
    <strong>Imaginepp:</strong>
    <%= plante_parti.imaginepp %>
  </p>

</div>
