<div id="<%= dom_id contracte %>">
  <p>
    <strong>User:</strong>
    <%= contracte.user_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contracte.email %>
  </p>

  <p>
    <strong>Tip:</strong>
    <%= contracte.tip %>
  </p>

  <p>
    <strong>Denumire:</strong>
    <%= contracte.denumire %>
  </p>

  <p>
    <strong>Contor:</strong>
    <%= contracte.contor %>
  </p>

  <p>
    <strong>Textcontract:</strong>
    <%= contracte.textcontract %>
  </p>

</div>
