<div id="<%= dom_id contracte %>">
  <p>
    <strong>User:</strong>
    <%= contracte.user_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contracte.email %>
  </p>

  <p>
    <strong>Tip:</strong>
    <%= contracte.tip %>
  </p>

  <p>
    <strong>Denumire:</strong>
    <%= contracte.denumire %>
  </p>

  <p>
    <strong>Contor:</strong>
    <%= contracte.contor %>
  </p>

  <p>
    <strong>Textcontract:</strong>
    <%= contracte.textcontract %>
  </p>
  <p>
    <strong>Nume Firma:</strong>
    <%= contracte.nume_firma %>
  </p>

  <p>
    <strong>Sediu Firma:</strong>
    <%= contracte.sediu_firma %>
  </p>

  <p>
    <strong>Cont Bancar:</strong>
    <%= contracte.cont_bancar %>
  </p>

  <p>
    <strong>Banca Firma:</strong>
    <%= contracte.banca_firma %>
  </p>

  <p>
    <strong>CUI Firma:</strong>
    <%= contracte.cui_firma %>
  </p>

  <p>
    <strong>Reprezentant Firma:</strong>
    <%= contracte.reprezentant_firma %>
  </p>
  <p>
  <strong>Calitate Reprezentant:</strong>
  <%= contracte.calitate_reprezentant %>
</p>



</div>
