<div class="container" id="cvp1">
<%= render 'layouts/sideleft' %>



<div class="cr" style="background-color: aliceblue;" >
</br></br>
<div class="spanview">

    <h2 style="font-size:22px;">Datele modelului de contract:</h2>

    <p style="margin:10px 0 0 0"><strong>Date Asociație:</strong> <%=@nume_firma%></p>
    <span><strong>Email contractor: </strong><%=@email_firma%></span><span>, </span>
    <span><strong>Tip Contract: </strong><%=@tip_contract%></span><span>, </span>
    <span><strong>Denumire contract: </strong><%=@denumire_contract%></span><span>, </span>
    <span><strong>Serie Contract: </strong><%=@serie_contract%></span><span>, </span>
    <span><strong>Numar start Contract start: </strong><%=@start_contract%></span><span>, </span>
    <span><strong>Reprezentant Instituție: </strong><%=@contract&.reprezentant_firma%></span><span>, </span>    
    <span><strong>Calitate reprezentant: </strong><%=@calitate_reprezentant%></span><span>, </span>
    <span><strong>Instituție: </strong><%=@nume_firma%></span><span>, </span>
    <span><strong>Sediu Instituție: </strong><%=@sediu_firma%></span><span>, </span>
    <span><strong>Cont Bancar: </strong><%=@cont_bancar%></span><span>, </span>
    <span><strong>Banca Instituției: </strong><%=@banca_firma%></span><span>, </span>
    <span><strong>CUI: </strong><%=@cui_firma%></span><span>.</span>

    <p style="margin:10px 0 0 0;"><strong>Date Voluntari:</strong></p>
    <span><strong>Denumire Post Voluntar: </strong><%=@denumire_post_voluntar%></span><span>, </span>
    <span><strong>Coordonator voluntar: </strong><%=@coordonator_voluntar%></span><span> , </span>
    <span><strong>Locul desfășurării activității: </strong><%=@locul_desfasurarii_activitatii_voluntar%></span><span>, </span>
    <span><strong>Departament: </strong><%=@departament%></span><span>, </span></br>
    <span><strong>Voluntarul va avea relații funcționale cu: </strong><%=@relatii_functionale_voluntar%></span><span>, </span></br>
    <strong>Sarcini voluntar:</strong>
        <% if @sarcini_voluntar.present? %>
          <ol>
            <% @sarcini_voluntar.split(';').each do |sarcina| %>
              <li><%= sarcina.strip %></li>
            <% end %>
          </ol>
        <% else %>
          <p>Nu există sarcini definite.</p>
        <% end %>

    <span><strong>Valabilitate pachet (luni): </strong><%=@valabilitate_luni%></span>
    

</div>


<div>
  <%= link_to "Editează acest contract", edit_contracte_path(@contracte) %> |
  <%= link_to "Înapoi la contracte", contractes_path %>

  <!--<%= button_to "Sterge acest contract", @contracte, method: :delete %>-->
</div>


