<%= form_with(model: contracte) do |form| %>
  <% if contracte.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contracte.errors.count, "error") %> prohibited this contracte from being saved:</h2>

      <ul>
        <% contracte.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="videos">
  <table class="table">
      <thead>
        <tr>
          <th><%= form.label :user_id %></th>
          <th><%= form.label :email %></th>
          <th><%= form.label :tip %></th>
          <th><%= form.label :denumire %></th>
          <th><%= form.label :cod_contract %></th>
          <th><%= form.label :contor %></th>
          <th><%= form.label :textcontract %></th>
          <th><%= form.label :nume_firma %></th>
          <th><%= form.label :sediu_firma %></th>
          <th><%= form.label :cont_bancar %></th>
          <th><%= form.label :banca_firma %></th>
          <th><%= form.label :cui_firma %></th>
          <th><%= form.label :reprezentant_firma %></th>
          <th><%= form.label :calitate_reprezentant %></th>
          <th><%= form.label :denumire_post %></th>
          <th><%= form.label :locul_desfasurarii %></th>
          <th><%= form.label :departament %></th>
          <th><%= form.label :subordonare %></th>
          <th><%= form.label :relatii_functionale %></th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td><%= form.number_field :user_id %></td>
          <td><%= form.text_field :email %></td>
          <td><%= form.text_field :tip %></td>
          <td><%= form.text_field :denumire %></td>
          <td><%= form.text_field :cod_contract %></td>
          <td><%= form.number_field :contor %></td>
          <td><%= form.text_area :textcontract %></td>
          <td><%= form.text_field :nume_firma %></td>
          <td><%= form.text_field :sediu_firma %></td>
          <td><%= form.text_field :cont_bancar %></td>
          <td><%= form.text_field :banca_firma %></td>
          <td><%= form.text_field :cui_firma %></td>
          <td><%= form.text_field :reprezentant_firma %></td>
          <td><%= form.text_field :calitate_reprezentant %></td>
          <td><%= form.text_field :denumire_post %></td>
          <td><%= form.text_field :locul_desfasurarii %></td>
          <td><%= form.text_field :departament %></td>
          <td><%= form.text_field :subordonare %></td>
          <td><%= form.text_field :relatii_functionale %></td>
        </tr>
      </tbody>
    </table>
    </div>
  <div>





  
  <canvas id="signature-pad" width="300" height="150" style="border: 1px solid #000;"></canvas>
<button type="button" onclick="clearSignature()">Șterge Semnătura</button>
<%= form.hidden_field :semnatura_admin, id: "semnatura_admin" %>
    <%= form.submit %>
  </div>
<% end %>


<script>
var isDrawing = false; // Variabila globală

document.addEventListener("turbo:load", function() {
    var canvas = document.getElementById('signature-pad');
    var hiddenField = document.getElementById('semnatura_admin');

    if (canvas && hiddenField) {
        var context = canvas.getContext('2d');

        // Încărcarea semnăturii existente
        if (hiddenField.value) {
            var image = new Image();
            image.onload = function() {
                context.drawImage(image, 0, 0);
            };
            image.src = hiddenField.value;
        }

        // Evenimentele pentru desenarea pe canvas
        attachCanvasEvents(canvas, context);

        // Salvarea semnăturii la trimiterea formularului
        var form = document.querySelector('form');
        if (form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Opriți trimiterea imediată a formularului

                // Verificați dacă există o semnătură pe canvas înainte de a salva
                if (!isCanvasBlank(canvas)) {
                    var dataURL = canvas.toDataURL();
                    hiddenField.value = dataURL;
                }

                setTimeout(function() {
                    form.submit(); // Trimiteți formularul după o întârziere
                }, 100); // Întârziere de 100 milisecunde
            });
        }
    }
});

function attachCanvasEvents(canvas, context) {
    canvas.addEventListener('mousedown', function(event) {
        isDrawing = true;
        startDrawing(event, context);
    });

    canvas.addEventListener('mousemove', function(event) {
        if (isDrawing) {
            continueDrawing(event, context);
        }
    });

    canvas.addEventListener('mouseup', function() {
        isDrawing = false;
    });

    canvas.addEventListener('mouseleave', function() {
        isDrawing = false;
    });
}

function startDrawing(event, context) {
    var x = event.offsetX;
    var y = event.offsetY;
    context.beginPath();
    context.moveTo(x, y);
}

function continueDrawing(event, context) {
    context.lineTo(event.offsetX, event.offsetY);
    context.stroke();
}

function isCanvasBlank(canvas) {
    return !canvas.getContext('2d')
      .getImageData(0, 0, canvas.width, canvas.height).data
      .some(channel => channel !== 0);
}

function clearSignature() {
    var canvas = document.getElementById('signature-pad');
    var hiddenField = document.getElementById('semnatura_admin');
    
    if (canvas && hiddenField) {
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        hiddenField.value = '';
    }
}
</script>

