<style>
#cvn .spanview {
   
    margin: 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
}

#cvn .cr h2 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
}

#cvn .cr .section-title {
    margin-top: 20px;
    font-size: 20px;
    color: #4b0082;
    margin-bottom: 20px;
}

#cvn .cr .input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

#cvn .cr .input-group label {
    min-width: 210px;
    margin-right: 10px;
    font-weight: bold;
}

#cvn .cr .input-group input[type="text"],
#cvn .cr .input-group input[type="number"],
#cvn .cr .input-group textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#cvn .cr .input-group textarea {
    resize: vertical;
}

#cvn .cr .section {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

/* Stiluri suplimentare pentru cvc și ajustări responsabile, acum raportate la #cvn */
#cvn .cr p {
    margin-bottom: 0;
    font-size:16px;
}


/* Ajustări responsabile pentru .cr în contextul #cvn */
@media screen and (min-width: 920px) {
    #cvn .cr {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 919px) {
    #cvn .cr {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 520px) {
    #cvn .cr {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.btn-fp-link-form{
    margin-top:20px;
    background-color: #64025e;
    color: white;
    font-size: 16px;
    box-shadow: rgba(0,0,0,0.3) 0px 2px 4px;
    padding: 8px 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    border: none;
    cursor: pointer;
}
.btn-fp-link-form:hover {
    background-color: #50024a;
    box-shadow: rgba(0,0,0,0.5) 0px 4px 8px;
  }
</style>

<div class="container" id="cvn">
<%= render 'layouts/sideleft' %>




<p style="color: green"><%= notice %></p>

<main class="cr" style="background-color: aliceblue;">
    <h1 class="first-tittle">Set documente voluntariat: Ayush Cell Romania</h1>
    <h2 class="main-title">Achiziționează un nou set de documente pentru voluntariat</h2>
<p>Completeaza datele necesare pentru fiecare set de documente:</p>



<%= form_with(model: contracte) do |form| %>
  <% if contracte.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contracte.errors.count, "error") %> prohibited this contract from being saved:</h2>
      <ul>
        <% contracte.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="spanview">
  <h2>Pachet contract nr. Nou din data Curentă</h2>

  <div class="section">
  <p class="section-title"><strong>Date Asociație:</strong></p>
  <div class="input-group"><label>Email contractor:</label><input type="text" name="contracte[email]" id="contracte_email" placeholder="exemplu@domeniu.com"></div>
  <div class="input-group"><label>Tip Contract:</label><input type="text" name="contracte[tip]" id="contracte_tip" placeholder="Prestări servicii, Vânzare-Cumpărare, etc."></div>
  <div class="input-group"><label>Denumire contract:</label><input type="text" name="contracte[denumire]" id="contracte_denumire" placeholder="Denumirea completă a contractului"></div>
  <div class="input-group"><label>Serie Contract:</label><input type="text" name="contracte[cod_contract]" id="contracte_cod_contract" placeholder="Seria și numărul contractului"></div>
  <div class="input-group"><label>Număr start Contract:</label><input type="number" name="contracte[contor_start]" id="contracte_contor_start" placeholder="Numărul de la care începe contractul"></div>
  <div class="input-group"><label>Reprezentant Instituție:</label><input type="text" name="contracte[reprezentant_firma]" id="contracte_reprezentant_firma" placeholder="Nume și prenume"></div>
  <div class="input-group"><label>Calitate reprezentant:</label><input type="text" name="contracte[calitate_reprezentant]" id="contracte_calitate_reprezentant" placeholder="Funcția în cadrul instituției"></div>
  <div class="input-group"><label>Instituție:</label><input type="text" name="contracte[nume_firma]" id="contracte_nume_firma" placeholder="Numele complet al instituției"></div>
  <div class="input-group"><label>Sediu Instituție:</label><input type="text" name="contracte[sediu_firma]" id="contracte_sediu_firma" placeholder="Adresa completă a sediului"></div>
  <div class="input-group"><label>Cont Bancar:</label><input type="text" name="contracte[cont_bancar]" id="contracte_cont_bancar" placeholder="Numărul contului bancar"></div>
  <div class="input-group"><label>Banca Instituției:</label><input type="text" name="contracte[banca_firma]" id="contracte_banca_firma" placeholder="Numele băncii"></div>
  <div class="input-group"><label>CUI:</label><input type="text" name="contracte[cui_firma]" id="contracte_cui_firma" placeholder="Codul Unic de Înregistrare"></div>
</div>

<div class="section">
  <p class="section-title"><strong>Date Voluntari:</strong></p>
  <div class="input-group"><label>Denumire Post Voluntar:</label><input type="text" name="contracte[denumire_post]" id="contracte_denumire_post" placeholder="Titlul postului de voluntar"></div>
  <div class="input-group"><label>Locul desfășurării activității:</label><input type="text" name="contracte[locul_desfasurarii]" id="contracte_locul_desfasurarii" placeholder="Locația exactă a activității"></div>
  <div class="input-group"><label>Departament:</label><input type="text" name="contracte[departament]" id="contracte_departament" placeholder="Numele departamentului"></div>
  <div class="input-group"><label>Relații funcționale cu:</label><input type="text" name="contracte[relatii_functionale]" id="contracte_relatii_functionale" placeholder="Roluri sau persoane în relație directă"></div>
  <div class="input-group"><label>Sarcini voluntar:</label><textarea rows="3" name="contracte[sarcini_voluntar]" id="contracte_sarcini_voluntar" placeholder="Descrieți sarcinile principale ale voluntarului, folosind punct și virgulă (;) pentru separare"></textarea></div>
  <div class="input-group"><label>Valabilitate pachet (luni):</label><input type="number" name="contracte[valabilitate_luni]" id="contracte_valabilitate_luni" placeholder="Durata în luni a valabilității"></div>
</div>

</div>


<%= form.submit "Salvează", class: "btn-fp-link-form" %>

<% end %>

</div>
</div>

<script>
var isDrawing = false; // Variabila globală

document.addEventListener("turbo:load", function() {
    var canvas = document.getElementById('signature-pad');
    var hiddenField = document.getElementById('semnatura_admin');

    if (canvas && hiddenField) {
        var context = canvas.getContext('2d');

        // Încărcarea semnăturii existente
        if (hiddenField.value) {
            var image = new Image();
            image.onload = function() {
                context.drawImage(image, 0, 0);
            };
            image.src = hiddenField.value;
        }

        // Evenimentele pentru desenarea pe canvas
        attachCanvasEvents(canvas, context);

        // Salvarea semnăturii la trimiterea formularului
        var form = document.querySelector('form');
        if (form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Opriți trimiterea imediată a formularului

                // Verificați dacă există o semnătură pe canvas înainte de a salva
                if (!isCanvasBlank(canvas)) {
                    var dataURL = canvas.toDataURL();
                    hiddenField.value = dataURL;
                }

                setTimeout(function() {
                    form.submit(); // Trimiteți formularul după o întârziere
                }, 100); // Întârziere de 100 milisecunde
            });
        }
    }
});

function attachCanvasEvents(canvas, context) {
    canvas.addEventListener('mousedown', function(event) {
        isDrawing = true;
        startDrawing(event, context);
    });

    canvas.addEventListener('mousemove', function(event) {
        if (isDrawing) {
            continueDrawing(event, context);
        }
    });

    canvas.addEventListener('mouseup', function() {
        isDrawing = false;
    });

    canvas.addEventListener('mouseleave', function() {
        isDrawing = false;
    });
}

function startDrawing(event, context) {
    var x = event.offsetX;
    var y = event.offsetY;
    context.beginPath();
    context.moveTo(x, y);
}

function continueDrawing(event, context) {
    context.lineTo(event.offsetX, event.offsetY);
    context.stroke();
}

function isCanvasBlank(canvas) {
    return !canvas.getContext('2d')
      .getImageData(0, 0, canvas.width, canvas.height).data
      .some(channel => channel !== 0);
}

function clearSignature() {
    var canvas = document.getElementById('signature-pad');
    var hiddenField = document.getElementById('semnatura_admin');
    
    if (canvas && hiddenField) {
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        hiddenField.value = '';
    }
}
</script>

