<%= form_with(model: contracte) do |form| %>
  <% if contracte.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contracte.errors.count, "error") %> prohibited this contracte from being saved:</h2>

      <ul>
        <% contracte.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="videos">
  <table class="table">
      <thead>
        <tr>
          <th><%= form.label :user_id %></th>
          <th><%= form.label :email %></th>
          <th><%= form.label :tip %></th>
          <th><%= form.label :denumire %></th>
          <th><%= form.label :contor %></th>
          <th><%= form.label :textcontract %></th>
          <th><%= form.label :nume_firma %></th>
          <th><%= form.label :sediu_firma %></th>
          <th><%= form.label :cont_bancar %></th>
          <th><%= form.label :banca_firma %></th>
          <th><%= form.label :cui_firma %></th>
          <th><%= form.label :reprezentant_firma %></th>
          <th><%= form.label :calitate_reprezentant %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= form.number_field :user_id %></td>
          <td><%= form.text_field :email %></td>
          <td><%= form.text_field :tip %></td>
          <td><%= form.text_field :denumire %></td>
          <td><%= form.number_field :contor %></td>
          <td><%= form.text_area :textcontract %></td>
          <td><%= form.text_field :nume_firma %></td>
          <td><%= form.text_field :sediu_firma %></td>
          <td><%= form.text_field :cont_bancar %></td>
          <td><%= form.text_field :banca_firma %></td>
          <td><%= form.text_field :cui_firma %></td>
          <td><%= form.text_field :reprezentant_firma %></td>
          <td><%= form.text_field :calitate_reprezentant %></td>
        </tr>
      </tbody>
    </table>
    </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
