<style>
#cvn .spanview {
   
    margin: 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
}

#cvn .cr h2 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
}

#cvn .cr .section-title {
    margin-top: 20px;
    font-size: 20px;
    color: #4b0082;
    margin-bottom: 20px;
}

#cvn .cr .input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

#cvn .cr .input-group label {
    min-width: 210px;
    margin-right: 10px;
    font-weight: bold;
}

#cvn .cr .input-group input[type="text"],
#cvn .cr .input-group input[type="number"],
#cvn .cr .input-group textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#cvn .cr .input-group textarea {
    resize: vertical;
    min-height:150px;
}

#cvn .cr .section {
    padding-top: 20px;
}

/* Stiluri suplimentare pentru cvc și ajustări responsabile, acum raportate la #cvn */
#cvn .cr p {
    margin-bottom: 0;
    font-size:16px;
}


/* Ajustări responsabile pentru .cr în contextul #cvn */
@media screen and (min-width: 920px) {
    #cvn .cr {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 919px) {
    #cvn .cr {
        padding-left: 20px;
        padding-right: 20px;
    }
    #cvn form{
      width: -webkit-fill-available;
    }
}
@media screen and (max-width: 520px) {
    #cvn .cr {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.btn-fp-link-form{
    margin-top:20px;
    background-color: #64025e;
    color: white;
    font-size: 16px;
    box-shadow: rgba(0,0,0,0.3) 0px 2px 4px;
    padding: 8px 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    border: none;
    cursor: pointer;
}
.btn-fp-link-form:hover {
    background-color: #50024a;
    box-shadow: rgba(0,0,0,0.5) 0px 4px 8px;
  }
</style>

<div class="container" id="cvn">
<%= render 'layouts/sideleft' %>






<main class="cr" style="background-color: aliceblue;">
    <h1 class="first-tittle">Set documente voluntariat: Ayush Cell Romania</h1>
    <h2 class="main-title">Datele necesare pentru setul de documente</h2>
<p>Completeaza datele necesare pentru setul de documente:</p>



<%= form_with(model: contracte) do |form| %>
  <% if contracte.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contracte.errors.count, "error") %> prohibited this contract from being saved:</h2>
      <ul>
        <% contracte.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="spanview"> 
  <h2>Introdu datele:</h2>
  <div style="border-top: 1px solid #eee; width:61.8%; margin:auto;"></div>
  <div class="section">
  <p class="section-title"><strong>Date Asociație:</strong></p>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="input-group">
    <%= form.label :email, 'Email contractor:' %>
    <%= form.text_field :email, id: 'contracte_email', placeholder: 'exemplu@domeniu.com', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :tip, 'Tip Contract:' %>
    <%= form.text_field :tip, id: 'contracte_tip', placeholder: 'Prestări servicii, Vânzare-Cumpărare, etc.', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :denumire, 'Denumire contract:' %>
    <%= form.text_field :denumire, id: 'contracte_denumire', placeholder: 'Denumirea completă a contractului', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :cod_contract, 'Serie Contract:' %>
    <%= form.text_field :cod_contract, id: 'contracte_cod_contract', placeholder: 'Serie contract Ex: INS', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :contor_start, 'Număr start Contract:' %>
    <%= form.number_field :contor_start, id: 'contracte_contor_start', placeholder: 'Numărul de la care începe contractul Ex: 1', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :reprezentant_firma, 'Reprezentant Instituție:' %>
    <%= form.text_field :reprezentant_firma, id: 'contracte_reprezentant_firma', placeholder: 'Nume și prenume', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :calitate_reprezentant, 'Calitate reprezentant:' %>
    <%= form.text_field :calitate_reprezentant, id: 'contracte_calitate_reprezentant', placeholder: 'Funcția în cadrul instituției', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :nume_firma, 'Instituție:' %>
    <%= form.text_field :nume_firma, id: 'contracte_nume_firma', placeholder: 'Numele complet al instituției', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :sediu_firma, 'Sediu Instituție:' %>
    <%= form.text_field :sediu_firma, id: 'contracte_sediu_firma', placeholder: 'Adresa completă a sediului', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :cont_bancar, 'Cont Bancar:' %>
    <%= form.text_field :cont_bancar, id: 'contracte_cont_bancar', placeholder: 'Numărul contului bancar', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :banca_firma, 'Banca Instituției:' %>
    <%= form.text_field :banca_firma, id: 'contracte_banca_firma', placeholder: 'Numele băncii', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :cui_firma, 'CUI:' %>
    <%= form.text_field :cui_firma, id: 'contracte_cui_firma', placeholder: 'Codul Unic de Înregistrare', class: 'input-class-name' %>
  </div>
</div>


<div class="section">
  <p class="section-title"><strong>Date Voluntari:</strong></p>
  
  <div class="input-group">
    <%= form.label :denumire_post, 'Denumire Post Voluntar:' %>
    <%= form.text_field :denumire_post, id: 'contracte_denumire_post', placeholder: 'Titlul postului de voluntar', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :locul_desfasurarii, 'Locul desfășurării activității:' %>
    <%= form.text_field :locul_desfasurarii, id: 'contracte_locul_desfasurarii', placeholder: 'Locația exactă a activității', class: 'input-class-name' %>
  </div>

  <div class="input-group">
    <%= form.label :departament, 'Departament:' %>
    <%= form.text_field :departament, id: 'contracte_departament', placeholder: 'Numele departamentului', class: 'input-class-name' %>
  </div>
  <div class="input-group">
    <%= form.label :subordonare, 'Coordonator de voluntari:' %>
    <%= form.text_field :subordonare, id: 'subordonare', placeholder: 'Subordonare', class: 'input-class-name' %>
    </div>
  <div class="input-group">
    <%= form.label :relatii_functionale, 'Relații funcționale cu:' %>
    <%= form.text_field :relatii_functionale, id: 'contracte_relatii_functionale', placeholder: 'Roluri sau persoane în relație directă', class: 'input-class-name' %>
  </div>

  <div class="input-group" style="display:flex; flex-direction:row;">
    <%= form.label :sarcini_voluntar, 'Sarcini voluntar:' , style: 'width: -webkit-fill-available;'%>
    <%= form.text_area :sarcini_voluntar, rows: 3, id: 'contracte_sarcini_voluntar', placeholder: 'Descrieți sarcinile principale ale voluntarului, folosind punct și virgulă (;) pentru separare. Exemplu: Scriere articole; Organizare evenimente; Colectare fonduri;', class: 'input-class-name', class: 'input-class-name', style: 'width: -webkit-fill-available;' %>
  </div>


  <div class="input-group" style="display:flex; flex-direction:row;">
    <%= form.label :responsabilitati_voluntar, 'Responsabilitati voluntar:' , style: 'width: -webkit-fill-available;'%>
    <%= form.text_area :responsabilitati_voluntar, rows: 3, id: 'responsabilitati_voluntar', placeholder: 'Descrieți responsabilitatile principale ale voluntarului, folosind punct și virgulă (;) pentru separare. Exemplu: răspunde pentru neîndeplinirea sau îndeplinirea necorespunzătoare a atribuțiilor ce-i revin;	răspunde pentru eventualele prejudicii produse ca efect al activității sale; etc', class: 'input-class-name', class: 'input-class-name', style: 'width: -webkit-fill-available;' %>
  </div>

  <div class="input-group" style="display:flex; flex-direction:row;">
  <%= form.label :conditii_lucru, 'Conditii lucru voluntar:' , style: 'width: -webkit-fill-available;'%>
  <%= form.text_area :conditii_lucru, rows: 3, id: 'conditii_lucru', placeholder: 'Conditiile de lucru ale voluntarului, folosind punct și virgulă (;) pentru separare. Exemplu: program de activități conform precizarilor organizației; etc', class: 'input-class-name', class: 'input-class-name', style: 'width: -webkit-fill-available;' %>
</div>



  <div class="input-group" >
  <%= form.label :valabilitate_luni, 'Valabilitate pachet (luni):' %>
  <%= form.number_field :valabilitate_luni, id: 'contracte_valabilitate_luni', placeholder: 'Durata în luni a valabilității', style: 'max-width: 300px;' %>
  
  </div>

  <div class="input-group">
  <%= form.label :video_ssm, 'Link video SSM:' %>
  <%= form.text_field :video_ssm, id: 'video_ssm', placeholder: 'Link video SSM:', class: 'input-class-name' %>
  </div>
  <div class="input-group">
    <%= form.label :video_isu, 'Link video ISU:' %>
    <%= form.text_field :video_isu, id: 'video_isu', placeholder: 'Link video ISU:', class: 'input-class-name' %>
    </div>

<div style="display:flex; flex-direction:column;width: fit-content;text-align:center; margin: 0 auto;">
        <label for="signature-pad" style="font-weight: bold;margin-top: 20px;">Semnează aici:</label>
        <canvas id="signature-pad" width="300" height="150" style="border: 1px solid #000;"></canvas>
        <button type="button" onclick="clearSignature()" class="register" style="margin-top: 20px; margin-bottom: 30px; background-color: hsla(180,51.4%,51.6%,1); border:1px solid hsla(180,51.4%,51.6%,1); padding: 7px 40px;">Șterge Semnătura</button>

        <%= form.hidden_field :semnatura_admin, id: "semnatura_admin" %><%= form.submit 'Salveaza modelul de contract', class: 'register', style: 'margin-top: 20px;' %>

</div>

</div>


</div>









<% end %>
<div>
  
  <%= link_to "Toate modelele de contract", contractes_path %>
</div>
</div>
</div>

<script>
var isDrawing = false; // Variabila globală

document.addEventListener("turbo:load", function() {
    var canvas = document.getElementById('signature-pad');
    var hiddenField = document.getElementById('semnatura_admin');

    if (canvas && hiddenField) {
        var context = canvas.getContext('2d');

        // Încărcarea semnăturii existente
        if (hiddenField.value) {
            var image = new Image();
            image.onload = function() {
                context.drawImage(image, 0, 0);
            };
            image.src = hiddenField.value;
        }

        // Evenimentele pentru desenarea pe canvas
        attachCanvasEvents(canvas, context);

        // Salvarea semnăturii la trimiterea formularului
        var form = document.querySelector('form');
        if (form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Opriți trimiterea imediată a formularului

                // Verificați dacă există o semnătură pe canvas înainte de a salva
                if (!isCanvasBlank(canvas)) {
                    var dataURL = canvas.toDataURL();
                    hiddenField.value = dataURL;
                }

                setTimeout(function() {
                    form.submit(); // Trimiteți formularul după o întârziere
                }, 100); // Întârziere de 100 milisecunde
            });
        }
    }
});

function attachCanvasEvents(canvas, context) {
    // Evenimente pentru mouse
    canvas.addEventListener('mousedown', function(event) {
        isDrawing = true;
        var mousePos = getMousePos(canvas, event);
        startDrawing(mousePos, context);
    });

    canvas.addEventListener('mousemove', function(event) {
        if (isDrawing) {
            var mousePos = getMousePos(canvas, event);
            continueDrawing(mousePos, context);
        }
    });

    canvas.addEventListener('mouseup', function() {
        isDrawing = false;
    });

    canvas.addEventListener('mouseleave', function() {
        isDrawing = false;
    });

    // Evenimente pentru touch
    canvas.addEventListener('touchstart', function(event) {
        isDrawing = true;
        var touchPos = getTouchPos(canvas, event.touches[0]);
        startDrawing(touchPos, context);
        event.preventDefault(); // Prevenirea scroll-ului
    });

    canvas.addEventListener('touchmove', function(event) {
        if (isDrawing) {
            var touchPos = getTouchPos(canvas, event.touches[0]);
            continueDrawing(touchPos, context);
        }
        event.preventDefault(); // Prevenirea scroll-ului
    });

    canvas.addEventListener('touchend', function() {
        isDrawing = false;
    });
}

function getMousePos(canvas, event) {
    var rect = canvas.getBoundingClientRect();
    return {
        x: event.clientX - rect.left,
        y: event.clientY - rect.top
    };
}

function getTouchPos(canvas, touchEvent) {
    var rect = canvas.getBoundingClientRect();
    return {
        x: touchEvent.clientX - rect.left,
        y: touchEvent.clientY - rect.top
    };
}

function startDrawing(pos, context) {
    context.beginPath();
    context.moveTo(pos.x, pos.y);
}

function continueDrawing(pos, context) {
    context.lineTo(pos.x, pos.y);
    context.stroke();
}

function isCanvasBlank(canvas) {
    return !canvas.getContext('2d')
      .getImageData(0, 0, canvas.width, canvas.height).data
      .some(channel => channel !== 0);
}

function clearSignature() {
    var canvas = document.getElementById('signature-pad');
    var hiddenField = document.getElementById('semnatura_admin');
    
    if (canvas && hiddenField) {
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        hiddenField.value = '';
    }
}
</script>

