
<style>
#error_explanation {
  color: red;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 20px;
}


.error_messages p {
  color: red;
}


#civ form{
    width: -webkit-fill-available;
}
#civ .form-label, label {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 3px;
}

#civ .form-input, input[type="text"], input[type="email"], input[type="submit"] {
    width: auto;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: inline-block;
    min-width: 290px;
}

#civ input[type="submit"] {
    display: block;
    margin: 10px auto;
    border: 1px solid #4b0082;
    background-color: #4b0082;
    color: white;
}
#civ .semnatura {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align:center;
    }

   #civ .gazda, #civ .voluntar {
        max-width: 300px;
        flex: 1; 
    }
  

@media screen and (max-width: 600px) {
    #civ .form-input, #civ .form-label, #civ input[type="text"], #civ input[type="email"], #civ input[type="submit"], #civ label {
        width: 100%;
        display: block;
        margin-right: 0;
    }
    #civ form{
      display: flex;
      flex-direction: column;
    }
    #civ .gazda{
      text-align: left;
      padding-bottom:10px;
    }
    #civ .semnatura{
      flex-direction:column;
      align-items: center;
    }
    #civ #str{
      width: auto!important;
    }
}
#civ #str{
  width: 400px;;
}

#civ .voluntar {
    display: flex;
    flex-direction: column;
    align-items: flex-center;
}

#civ canvas {
    border: 1px solid #000;
    margin-top: -15px;
}

#civ .register {
    cursor: pointer;
    margin: 0 auto;
    width: auto;
}
#civ input[type="submit"]{
  margin-top:20px;
  width: auto;
  margin-left:auto;
  margin-right:auto;
}

</style>


<% content_for :title, "Cerere înscriere Voluntar 1 | Ayush Cell Romania"  %>
<% content_for :description, "Completare cerere de înscriere voluntar" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/cerere_voluntar">
<% end %>

<div class="container" id="civ">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: aliceblue; ">
    <h1 class="first-tittle">Cerere de înscriere voluntar: Ayush Cell Romania</h1>
    <h2 class="main-title" >Completare cerere de înscriere ca voluntar</h2>
    
    


    <%= form_with model: [@contract, @contracte_useri], 
              url: create_or_update_contracte_useri_contracte_path(@contract), 
              method: @contracte_useri.new_record? ? :post : :patch, 
              local: true, 
              html: { class: "form-class" } do |form| %>

      <% if @contracte_useri.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contracte_useri.errors.count, "error") %> prohibited this contracte_useri from being saved:</h2>
        <ul>
        <% @contracte_useri.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    
    
    
     
      <%= form.hidden_field :contracte_id, value: @contract.id if @contract.id.present? %>      
      <%= form.hidden_field :idcontractor, value: @contract.user_id if @contract&.user_id.present? %>
      <%= form.hidden_field :user_id, value: current_user.id if @current_user.present? %>
      <%= form.hidden_field :semnatura_voluntar, id: "semnatura_voluntar" %>
      <%= hidden_field_tag :contract_id, @contract.id %>

      

      <div>
        <label class="form-label">Nr: </label><br><br>
      </div>
    
      <div>
        <label for="nume_voluntar" class="form-label">Subsemnatul/a, cu numele:</label>
        <%= form.text_field :nume_voluntar, id: "nume_voluntar", class: "form-input",  placeholder: "Introduceți numele de familie" %>
        <label for="prenume" class="form-label">și prenumele:</label>
        <%= form.text_field :prenume, id: "prenume", class: "form-input", placeholder: "Introduceți prenumele" %><br>
      </div>
    
      <div>
        <label class="form-label">având adresa de domiciliu:</label>
        Strada <%= form.text_field :strada_voluntar, class: "form-input", placeholder: "Scrieți numele străzii" %>
        Numărul <%= form.text_field :numarstrada_voluntar, class: "form-input", placeholder: "Numărul" %>,
         <%= form.text_field :bloc_voluntar, class: "form-input", placeholder: "bloc,scara,etaj,apartament" %><br>
      </div>
    
      <div>
        Localitatea <%= form.text_field :localitate_voluntar, class: "form-input", placeholder: "Completați localitatea" %>
        Județul <%= form.text_field :judet_voluntar, class: "form-input", placeholder: "Județul" %><br>
      </div>
    
      <div>
        Telefon: <%= form.text_field :telefon_voluntar, class: "form-input", placeholder: "Adăugați numărul de telefon" %>
        E-mail: <%= form.email_field :email, class: "form-input", placeholder: "Introduceți adresa de e-mail" %><br>
      </div>
    
      <p>Prin prezenta, vă solicit acordul de a participa în calitate de voluntar la activitățile de voluntariat organizate de organizația dvs.</p>
      <p>Menționez că îmi asum toate obligațiile prevăzute în contractul de voluntariat și în fișa de voluntariat.</p><br>
    
      <div class="semnatura">
        <div class="gazda">
          Data: <span><%= Date.today.strftime('%d-%m-%Y') %></span>
        </div>
    
        <div class="voluntar">
          <p>Semnătura voluntar: </p>
          <span id="nume-voluntar-destinatie" style="width: -webkit-fill-available;"></span>
          <canvas id="signature-pad" width="300" height="150" style="border: 1px solid #000;"></canvas><br><br>
          <button type="button" onclick="clearSignature(2)" class="register" style="margin-top: -30px;">Șterge Semnătura</button>
              
              <%= form.hidden_field :semnatura_voluntar, id: "semnatura_admin" %>
          </div>
        </div>
    
      <% if @show_submit_button %>
        <%= form.submit "Trimite Cererea", class: "register" %>
      <% end %>
    <% end %>
    
    
</div>
</div>


<script>
var isDrawing = false; // Variabila globală

document.addEventListener("turbo:load", function() {
    var canvas = document.getElementById('signature-pad');
    var hiddenField = document.getElementById('semnatura_admin');

    if (canvas && hiddenField) {
        var context = canvas.getContext('2d');

        // Încărcarea semnăturii existente
        if (hiddenField.value) {
            var image = new Image();
            image.onload = function() {
                context.drawImage(image, 0, 0);
            };
            image.src = hiddenField.value;
        }

        // Evenimentele pentru desenarea pe canvas
        attachCanvasEvents(canvas, context);

        // Salvarea semnăturii la trimiterea formularului
        var form = document.querySelector('form');
        if (form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Opriți trimiterea imediată a formularului

                // Verificați dacă există o semnătură pe canvas înainte de a salva
                if (!isCanvasBlank(canvas)) {
                    var dataURL = canvas.toDataURL();
                    hiddenField.value = dataURL;
                }

                setTimeout(function() {
                    form.submit(); // Trimiteți formularul după o întârziere
                }, 100); // Întârziere de 100 milisecunde
            });
        }
    }
});

function attachCanvasEvents(canvas, context) {
    canvas.addEventListener('mousedown', function(event) {
        isDrawing = true;
        startDrawing(event, context);
    });

    canvas.addEventListener('mousemove', function(event) {
        if (isDrawing) {
            continueDrawing(event, context);
        }
    });

    canvas.addEventListener('mouseup', function() {
        isDrawing = false;
    });

    canvas.addEventListener('mouseleave', function() {
        isDrawing = false;
    });
}

function startDrawing(event, context) {
    var x = event.offsetX;
    var y = event.offsetY;
    context.beginPath();
    context.moveTo(x, y);
}

function continueDrawing(event, context) {
    context.lineTo(event.offsetX, event.offsetY);
    context.stroke();
}

function isCanvasBlank(canvas) {
    return !canvas.getContext('2d')
      .getImageData(0, 0, canvas.width, canvas.height).data
      .some(channel => channel !== 0);
}

function clearSignature() {
    var canvas = document.getElementById('signature-pad');
    var hiddenField = document.getElementById('semnatura_admin');
    
    if (canvas && hiddenField) {
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        hiddenField.value = '';
    }
}
</script>

