
<style>
#fisa-post .semnatura {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  text-align: center;
  margin-top: 20px;
}
#fisa-post h3{
font-size: 22px;
font-weight: 700;
color: black;
margin-bottom: 20px;
text-align: left;
padding: 5px 0px;
}
#fisa-post .gazda, #fisa-post .voluntar {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
.address{
display: flex;
  flex-direction: column;
}

#fisa-post form {
    width: 100%;
}

#fisa-post input[type="text"], #gdpr input[type="email"] {
    padding: 6px 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

#fisa-post input[type="submit"] {
    display: block;
    margin: 20px auto;
    border: 1px solid #4b0082;
    background-color: #4b0082;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
  #fisa-post .semnatura {
      flex-direction: column; 
  }

  #fisa-post .gazda, #fisa-post .voluntar {
      max-width: none;
  }
}

#fisa-post canvas {
  border: 1px solid #000;
  margin-top: 10px;
}

#fisa-post .register {
  margin-top: 20px;
}
</style>

<% content_for :title, "Fișa postului | Ayush Cell Romania" %>
<% content_for :description, "Completează fisa postului" %>
<% content_for :keywords, "fisa postului, Fisa postului Ayush Cell Romania" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/fisa_postului">
<% end %>

<div class="container" id="fisa-post">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Fișa postului I Ayush Cell Romania</h1>
    <h2 class="main-title" >Completează Fisa Postului</h2>
  <%= form_with model: [@contract, @contracte_useri], 
            url: salveaza_fisa_postului_contracte_path(@contract), 
            method: :post, 
            local: true, 
            html: { class: "form-class" } do |form| %>

              
            
            <% if @contracte_useri.errors.any? %>
            <div id="error_explanation" style="color: red;">
              <h2><%= pluralize(@contracte_useri.errors.count, "error") %> prohibited this contracte_useri from being saved:</h2>
              <ul>
              <% @contracte_useri.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
              </ul>
            </div>
            <% end %>
            
              
                <!-- Aici poți adăuga câmpurile specifice pentru GDPR pe care dorești să le colectezi -->
                <%= form.hidden_field :contracte_id, value: @contract.id if @contract.id.present? %>      
                <%= form.hidden_field :idcontractor, value: @contract.user_id if @contract&.user_id.present? %>
                <%= form.hidden_field :user_id, value: current_user.id if current_user.present? %>   
                <%= form.hidden_field :cod_contract, value: @cod_contract %>
                <%= form.hidden_field :nr_contract_referinta, value: @nr_contract_referinta %>
                <%= form.hidden_field :status, value: @status %>
                <%= form.hidden_field :expira_la, value: @expira_la %>
                <%= form.hidden_field :coordonator_v, value: @coordonator_v %>
                <%= form.hidden_field :data_inceperii, value: @data_inceperii %>
                <%= form.hidden_field :semnatura_administrator, value: @semnatura_administrator %>
  
                <%= hidden_field_tag :contract_id, @contract.id %>
                <%= form.hidden_field :perioada_contract, value: @contract.valabilitate_luni if @contract&.valabilitate_luni.present? %>
<section>
    <div>
        <h3>Organizație Gazdă:</h3>
        <p style="margin-top:-10px;"><%=@gazda%></p>
        <p style="margin-top:-10px;"><%=@adresa_firma%></p>

        <h2 class="main-title" style="text-align:center;">Fișa postului</h2>
        <p style="margin-top:-30px;text-align:center;">anexă la contractul de voluntariat</p>


        <h3>Denumire post: <%=@denumire_contract%></h3>
        <p>Nume și prenume voluntar: <%=@nume_voluntar%></p>
        <p style="margin-top:-10px;">Locul desfășurării activității de voluntariat: <%=@locul_desfasurarii_activitatii_voluntar%></p>
        <p style="margin-top:-10px;">Departament: <%=@departament%></p>
        <p style="margin-top:-10px;">Subordonare: coordonator <%=@coordonator_voluntar%></p>
        <p style="margin-top:-10px;">Relații funcționale: <%=@relatii_functionale_voluntar%></p>
        <h3>Cerințe specifice postului:</h3>
        <ul style="margin-top:-20px;">
            <li>disciplină, seriozitate, responsabilitate și atenție.</li>
        </ul>
        <h3>Scopul postului:</h3>
        <p>realizarea de activități în conformitate cu valorile promovate de asociație</p>
        <div>
        <h3>Sarcini și îndatoriri specifice:</h3> <!-- sarcinile trebuie puse in tabel despartite de ; -->
        <ul style="margin-top:-20px;">
        <% @sarcini.each do |sarcina| %>
          <div>
            <li><%= sarcina %></li>
          </div>
        <% end %>
        </ul>

        <h3>Protecția datelor cu caracter personal</h3>
        <ul style="margin-top:-20px;">
            <li>Informează în mod corect și complet cu privire la scopurile pentru care vor fi prelucrate datele personale.</li>
            <li>Informează în mod corect și complet cu privire la tipul de date personale care vor fi prelucrate.</li>
            <li>Informează în mod corect și complet cu privire la durata prelucrării datelor (perioada de stocare a datelor).</li>
            <li>Informează în mod corect și complet cu privire la drepturile privind datele cu caracter personal (dreptul la informare, dreptul de acces la informațiile prelucrate, dreptul la rectificare, dreptul la ștergerea datelor, dreptul la restricționarea prelucrării, dreptul la opoziție), în conformitate cu reglementările organizației, privind protecția datelor personale.</li>
            <li>Informează în mod corect și complet cu privire la drepturile și obligațiile operatorului (organizația gazdă).</li>
            <li>Informează în mod corect și complet cu privire la consecințele refuzului de a-i fi prelucrate datele personale, așa cum sunt acestea stipulate în regulamentele organizației.</li>
            <li>Consimțământul este obținut în scris, conform reglementărilor asociației (operator) și utilizând formularele puse la dispoziție de acesta.</li>
        </ul>

        <h3>Responsabilități ale postului:</h3>
        <ul style="margin-top:-20px;">
            <li>Răspunde pentru neîndeplinirea sau îndeplinirea necorespunzătoare a atribuțiilor ce-i revin.</li>
            <li>Răspunde pentru eventualele prejudicii produse ca efect al activității sale.</li>
            <li>Răspunde de păstrarea confidențialității informațiilor.</li>
            <li>Răspunde de păstrarea documentelor legate de activitățile asociației.</li>
            <li>Răspunde de utilizarea resurselor puse la dispoziție exclusiv în interesul acesteia.</li>
            <li>Respectă prevederile normativelor interne și procedurile de lucru privitoare la postul său.</li>
        </ul>

        <h3>Autoritatea postului:</h3>
        <ul style="margin-top:-20px;">
            <li>În cadrul domeniului de activitate pe care o desfășoară, conform atribuțiilor, sarcinilor, Regulamentului Intern și deciziilor organizației gazdă.</li>
            <li>Informeză  și se consultă cu coordonatorul de voluntari în cazul situațiilor deosebite sau a celor care pot depăși sfera competențelor sale de rezolvare.</li>
        </ul>

        <h3>Condiții de lucru:</h3>
        <p>Program de activități conform precizărilor organizației.</p>

        <h3>Facilități:</h3>
        <p>Se asigură, la cerere, de către organizația gazdă, hrană rece; decontarea cheltuielilor de transport efectuate în scopul desfășurării activităților organizației gazdă.</p>

        <h3>Sancțiuni:</h3>
        <ul style="margin-top:-20px;">
            <li>Nerespectarea responsabilităților și atribuțiilor postului, a cerințelor de etică, se sancționează conform Regulamentului de ordine interioară.</li>
            <li>Dacă este cazul, răspunde potrivit dispozițiilor legale în vigoare, putând fi obligat și plata de daune în raport cu prejudiciile aduse.</li>
        </ul>

        <div class="semnatura">
 
        
        <div class="gazda">
        <p><%=@nume_firma%>,</p>
        <p style="margin-top: -15px; border: 2px solid transparent; border-left: none;"><%= @nume_admin %></p>
        <img src="<%= @semnatura_admin %>" alt="Semnătura reprezentantului" style="border: none;">
        </div>
    
            
            
        <div class="voluntar">
        <p>Voluntar: </p>
        <p style="margin-top:-15px;">
        <span id="nume-voluntar-destinatie" style="width: -webkit-fill-available; padding-left:5px;">
            <%= @contracte_useri.nume_voluntar %>
        </span>
        </p>
        <canvas id="signature-pad-3" width="auto" height="auto" style="border: 1px solid #000;"></canvas>
        
        <button type="button" onclick="clearSignature(2)", class="register">Șterge Semnătura</button>
        <%= form.hidden_field :semnatura3, id: "semnatura3" %>
    </div>
  

    </div>
       
        </div>
        <% if @show_submit_button %>
        <input type="submit" value="Trimite Fisa postului" class="register" style="border: 1px solid #4b0082; background-color: #4b0082; display: flex;">  
        <%end%> <% end %>
        </section>
        </div>
        </div>
    
        <script>
        var isDrawing = false; // Variabila globală
        
        document.addEventListener("turbo:load", function() {
            var canvas = document.getElementById('signature-pad-3');
            var hiddenField = document.getElementById('semnatura3');
            
        
            if (canvas && hiddenField) {
                var context = canvas.getContext('2d');
        
                // Încărcarea semnăturii existente
                if (hiddenField.value) {
                    var image = new Image();
                    image.onload = function() {
                        context.drawImage(image, 0, 0);
                    };
                    image.src = hiddenField.value;
                }
        
                // Evenimentele pentru desenarea pe canvas
                attachCanvasEvents(canvas, context);
        
                // Salvarea semnăturii la trimiterea formularului
                var form = document.querySelector('form');
                if (form) {
                    form.addEventListener('submit', function(event) {
                        event.preventDefault(); // Opriți trimiterea imediată a formularului
        
                        // Verificați dacă există o semnătură pe canvas înainte de a salva
                        if (!isCanvasBlank(canvas)) {
                            var dataURL = canvas.toDataURL();
                            hiddenField.value = dataURL;
                        }
        
                        setTimeout(function() {
                            form.submit(); // Trimiteți formularul după o întârziere
                        }, 100); // Întârziere de 100 milisecunde
                    });
                }
            }
        });
        
        function attachCanvasEvents(canvas, context) {
            canvas.addEventListener('mousedown', function(event) {
                isDrawing = true;
                startDrawing(event, context);
            });
        
            canvas.addEventListener('mousemove', function(event) {
                if (isDrawing) {
                    continueDrawing(event, context);
                }
            });
        
            canvas.addEventListener('mouseup', function() {
                isDrawing = false;
            });
        
            canvas.addEventListener('mouseleave', function() {
                isDrawing = false;
            });
        }
        
        function startDrawing(event, context) {
            var x = event.offsetX;
            var y = event.offsetY;
            context.beginPath();
            context.moveTo(x, y);
        }
        
        function continueDrawing(event, context) {
            context.lineTo(event.offsetX, event.offsetY);
            context.stroke();
        }
        
        function isCanvasBlank(canvas) {
            return !canvas.getContext('2d')
              .getImageData(0, 0, canvas.width, canvas.height).data
              .some(channel => channel !== 0);
        }
        
        function clearSignature() {
            var canvas = document.getElementById('signature-pad-3');
            var hiddenField = document.getElementById('semnatura3');
            
            if (canvas && hiddenField) {
                var context = canvas.getContext('2d');
                context.clearRect(0, 0, canvas.width, canvas.height);
                hiddenField.value = '';
            }
        }
        </script>
        
        
          
        
        