<style>
#gdpr form {
    width: 100%;
}

#gdpr input[type="text"], #gdpr input[type="email"] {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

#gdpr input[type="submit"] {
    display: block;
    margin: 20px auto;
    border: 1px solid #4b0082;
    background-color: #4b0082;
    color: white;
    cursor: pointer;
}

#gdpr .semnatura {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    text-align: center;
    margin-top: 20px;
}

#gdpr .gazda, #gdpr .voluntar {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.address{
  display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    #gdpr .semnatura {
        flex-direction: column; 
    }

    #gdpr .gazda, #gdpr .voluntar {
        max-width: none;
    }
}

#gdpr canvas {
    border: 1px solid #000;
    margin-top: 10px;
}

#gdpr .register {
    margin-top: 20px;
}
</style>


  


<% content_for :title, "GDPR | Ayush Cell Romania" %>
<% content_for :description, "Completează fisa GDPR" %>
<% content_for :keywords, "fisa GDPR, GDPR Ayush Cell Romania" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/gdpr">
<% end %>

<div class="container" id="gdpr">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Acord GDPR I Ayush Cell Romania</h1>
    <h2 class="main-title" >Completează acordul GDPR</h2>

<section>
    <%= form_with model: [@contract, @contracte_useri], 
          url: salveaza_gdpr_contracte_path(@contract), 
          method: :post, 
          local: true, 
          html: { class: "form-class" } do |form| %>

          <% if @contracte_useri.errors.any? %>
          <div id="error_explanation">
          <h2><%= pluralize(@contracte_useri.errors.count, "error") %> prohibited this contracte_useri from being saved:</h2>
          <ul>
          <% @contracte_useri.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
          </ul>
          </div>
          <% end %>

          <!-- Aici poți adăuga câmpurile specifice pentru GDPR pe care dorești să le colectezi -->
          <%= form.hidden_field :contracte_id, value: @contract.id if @contract.id.present? %>      
          <%= form.hidden_field :idcontractor, value: @contract.user_id if @contract&.user_id.present? %>
          <%= form.hidden_field :user_id, value: current_user.id if current_user.present? %>          
          <%= hidden_field_tag :contract_id, @contract.id %>
          <%if @data_gdpr%>
      
          <%= form.hidden_field :data_gdpr, value: @data_gdpr %>
          <%else%>
          
          <%= form.hidden_field :data_gdpr, value: Date.today %>
          <%end%>
    
    <div>
        <h2 class="main-title">Organizație Gazdă:</h2>
        <p><b><%=@gazda%></b></p>
        <p style="margin-top:-10px;">Adresa: <b><%=@adresa_firma%></b></p>

        <h2 class="main-title">ACORD GDPR</h1>
        <p class="address">
            Subsemnat(ul)/a <%=@nume_voluntar%>, domiciliat în 
            <%=@domiciliu%>, prin semnarea acestui act declar că sunt de acord cu prelucrarea datelor mele cu caracter personal înserate atât în cuprinsul Contractului de Voluntariat, cât și a anexelor sale, care se realizează în conformitate cu dispozițiile art. 6 alin (1) litera b) și c) din Regulamentul nr. 679/2016.
        </p>
        <p>
            Prin semnarea prezentului act îmi dau acordul ca organizația gazdă să poată prelucra toate datele din contractul de voluntariat și anexele sale, în mod special: nume/prenume, adresa, CNP, telefon, e-mail, serie si nr BI sau CI, fotografie legitimație.
        </p>
        <p>
            De asemenea, sunt de acord cu prelucrarea datelor personale pentru justificări de natură financiar contabile (atunci când beneficiez din partea asociației de transport, cazare, masă, cursuri de perfecționare, etc.) în conformitate cu dispozițiile art. 6 alin. 1 lit c) din același regulament.
        </p>
        <p>
            Prelucrarea datelor va fi efectuată în cadrul activităților legitime ale organizației gazdă în conformitate cu dispozițiile legale şi cu garanțiile adecvate.
        </p>
        <p>
            Astfel, în vederea asigurării proporționalității și a unui echilibru între dreptul la protecția datelor cu caracter personal și a datelor speciale și prelucrarea unor astfel de date, în conformitate cu dispozițiile art. 9 alin. 1 lit. c) din Legea nr. nr. 190 din 18 iulie 2018 privind măsuri de punere în aplicare a Regulamentului (UE) 2016/679 al Parlamentului European și al Consiliului din 27 aprilie 2016 privind protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu caracter personal și privind libera circulație a acestor date și de abrogare a Directivei 95/46/CE (Regulamentul general privind protecția datelor), organizația gazdă garantează voluntarului respectarea dreptului de rectificare și ștergere a datelor cu caracter personal. În vederea realizării acestui deziderat, cel interesat se va putea adresa, în scris, domnului <b><%=@nume_admin%></b>, la adresa de email: <b><%=@email_admin%></b>, persoană desemnată de către asociație ca fiind responsabilul cu protecția datelor personale în cadrul organizației.
        </p>
        <p>
        
  <div class="semnatura">
      <div class="gazda">
      <%if @data_gdpr%>        
        
      <span><%= @data_gdpr %></span>
      <%else%>
      
      <span><%=Date.today.strftime('%d-%m-%Y') %></span>
      <%end%>  
      </div>

      <div class="voluntar">
      <p style="padding-left: 30px;">Semnătura Voluntar: </p>
      <p style="margin-top:-15px;">
      <span id="nume-voluntar-destinatie" style="width: -webkit-fill-available; padding-left:5px;">
          
      </span>
      </p>
      <canvas id="signature-pad" width="auto" height="auto" style="border: 1px solid #000; margin-top:-30px;"></canvas></br></br>
      <% if @show_submit_button %>
      <button type="button" onclick="clearSignature(2)", class="register", style="margin-top:-30px;">Șterge Semnătura</button><% end %>
      <%= form.hidden_field :semnatura1, id: "semnatura1" %>
      </div>
  </div>
  <% if @show_submit_button %>
     <input type="submit" value="Trimite Acord GDPR" class="register" style="border: 1px solid #4b0082; background-color: #4b0082;">
     <% end %>   
    </div><% end %> 
</section>
</div>
</div>





<script>
var isDrawing = false; // Variabila globală

document.addEventListener("turbo:load", function() {
    var canvas = document.getElementById('signature-pad');
    var hiddenField = document.getElementById('semnatura1');

    if (canvas && hiddenField) {
        var context = canvas.getContext('2d');

        // Încărcarea semnăturii existente
        if (hiddenField.value) {
            var image = new Image();
            image.onload = function() {
                context.drawImage(image, 0, 0);
            };
            image.src = hiddenField.value;
        }

        // Evenimentele pentru desenarea pe canvas
        attachCanvasEvents(canvas, context);

        // Salvarea semnăturii la trimiterea formularului
        var form = document.querySelector('form');
        if (form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Opriți trimiterea imediată a formularului

                // Verificați dacă există o semnătură pe canvas înainte de a salva
                if (!isCanvasBlank(canvas)) {
                    var dataURL = canvas.toDataURL();
                    hiddenField.value = dataURL;
                }

                setTimeout(function() {
                    form.submit(); // Trimiteți formularul după o întârziere
                }, 100); // Întârziere de 100 milisecunde
            });
        }
    }
});

function attachCanvasEvents(canvas, context) {
    // Evenimente pentru mouse
    canvas.addEventListener('mousedown', function(event) {
        isDrawing = true;
        var mousePos = getMousePos(canvas, event);
        startDrawing(mousePos, context);
    });

    canvas.addEventListener('mousemove', function(event) {
        if (isDrawing) {
            var mousePos = getMousePos(canvas, event);
            continueDrawing(mousePos, context);
        }
    });

    canvas.addEventListener('mouseup', function() {
        isDrawing = false;
    });

    canvas.addEventListener('mouseleave', function() {
        isDrawing = false;
    });

    // Evenimente pentru touch
    canvas.addEventListener('touchstart', function(event) {
        isDrawing = true;
        var touchPos = getTouchPos(canvas, event);
        startDrawing(touchPos, context);
        event.preventDefault(); // Prevenirea scroll-ului pe dispozitivele touch
    });

    canvas.addEventListener('touchmove', function(event) {
        if (isDrawing) {
            var touchPos = getTouchPos(canvas, event);
            continueDrawing(touchPos, context);
        }
        event.preventDefault(); // Prevenirea scroll-ului pe dispozitivele touch
    });

    canvas.addEventListener('touchend', function() {
        isDrawing = false;
    });
}

function getMousePos(canvas, event) {
    var rect = canvas.getBoundingClientRect();
    return {
        x: event.clientX - rect.left,
        y: event.clientY - rect.top
    };
}

function getTouchPos(canvas, touchEvent) {
    var rect = canvas.getBoundingClientRect();
    return {
        x: touchEvent.touches[0].clientX - rect.left,
        y: touchEvent.touches[0].clientY - rect.top
    };
}

function startDrawing(pos, context) {
    context.beginPath();
    context.moveTo(pos.x, pos.y);
}

function continueDrawing(pos, context) {
    context.lineTo(pos.x, pos.y);
    context.stroke();
}

function isCanvasBlank(canvas) {
    return !canvas.getContext('2d')
      .getImageData(0, 0, canvas.width, canvas.height).data
      .some(channel => channel !== 0);
}

function clearSignature() {
    var canvas = document.getElementById('signature-pad');
    var hiddenField = document.getElementById('semnatura1');
    if (canvas && hiddenField) {
        var context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        hiddenField.value = '';
    }
}
</script>
