
<style>
#cvc p{
    margin-bottom:0;
}
#cvc h2{
    margin-bottom:0;
}

@media screen and (min-width: 920px) {
#cvc .cr{
    padding-left:20px;
    padding-right:20px;
    }
}
@media screen and (max-width: 919px) {
#cvc .cr{
    padding-left:20px;
    padding-right:20px;
}
}
@media screen and (max-width: 520px) {
#cvc .cr{
    padding-left:10px;
    padding-right:10px;
}
}
.button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/ font-family: arial, sans-serif; /* Sistem font */
  /*optional*/ color: #069;
  /*optional*/ text-decoration: underline;
  cursor: pointer;
}
#cvc{
    word-break: keep-all;
}
#cvc .table{
    word-break: auto-phrase;
}
</style>


<div class="container" id="cvc">
<%= render 'layouts/sideleft' %>






<main class="cr" style="background-color: aliceblue;">

    <h1 class="first-tittle">Set documente voluntariat: Ayush Cell Romania</h1>
    <div style="text-align:left; width: 100%;">
    <p>Aveti achizitionate: <%= @nr_total_contracte_achizitionate %> set-uri de documente.</p>
    <p>Total voluntari: <%= @numar_contracte_useris %> </p>
    <p>Set de documente disponibile: <%= @nr_total_contracte_achizitionate-@numar_contracte_useris %> </p>
    </div>
    <h2 class="main-title">Achiziționează un nou set de documente pentru voluntariat</h2>
<p>Pretul descreste proportional cu numarul de contracte achizitionate. </p>
<%= form_with url: datefacturarep_path(s: @prod.id), method: :post, local: true, data: { turbo: false } do |form| %>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class="desk">
                    <th>Servicii</th>
                    <th>Detalii</th>
                    <th>Cantitate</th>
                    <th>Pret bucata</th>                
                    <th>Pret total</th>
                    <th>Actiune</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= @prod.nume %></td>
                    <td><%= @prod.detalii %></td>
                    <td style="text-align:center;">
                        <%= form.select :cantitate, options_for_select((1..200).to_a), {}, { class: 'form-control', id: 'cantitateSelect' } %>
                    </td>
                    <td id="pretBucata" style="text-align:center;">
                        <%= @prod.pret.to_f %> lei
                        <%= form.hidden_field :pret_unitar, id: 'hiddenPretUnitar' %>
                    </td>                
                    <td id="pretTotal" style="text-align:center;">
                        ---
                        <%= form.hidden_field :pret_total, id: 'hiddenPretTotal' %>
                    </td>
                    <td style="text-align:center;">
                        <%= form.submit "Comanda", class: 'btn btn-primary' %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<% end %>








<%if @nr_contractes>0 || current_user.role==1%>
<div style="text-align:left; width: 100%;">
<h3>Legenda:</h3>
<p>D1: CERERE ÎNSCRIERE VOLUNTAR</p>
<p>D2: ACORD GDPR</p>
<p>D3: CONTRACT VOLUNTARIAT</p>
<p>D4: FISA POSTULUI - anexă la contractul de voluntariat</p>
<p>D5: FISA SSM DE INSTRUIRE INDIVIDUALĂ PRIVIND SECURITATEA ȘI SĂNĂTATEA ÎN MUNCĂ <%= link_to "Descarca PDF", "pdf/voluntariat/Fisa SSM.pdf", download: '' %></p>
<p>D6: FISA ISU DE INSTRUCTAJ ÎN DOMENIUL SITUAȚIILOR DE URGENȚĂ <%= link_to "Descarca PDF", "pdf/voluntariat/Fisa ISU.pdf", download: '' %></p>
</div>

<h2 class="main-title">Modele Contracte de voluntariat</h2>
<%if (@nr_total_contracte_achizitionate>0 &&  @nr_total_contracte_achizitionate-@numar_contracte_useris>0) || current_user.role==1%>
    <%= link_to "Creaza Model contract nou", new_contracte_path %>
<%end%>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="desk">

           
            <th>Denumire</th>
            <th>Cod contract</th>
            <th>D1</th>
            <th>D2</th>
            <th>D3</th>
            <th>D4</th>           
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        <% @contractes.each do |c| %>
            <tr>

                
                <td><%= c.denumire %></td>
                <td><%= c.cod_contract %></td>
                <td><%= link_to "Vezi doc.", cerere_voluntar1_path(contract_id: c.id) %></br>
                                </td>
                <td><%= link_to "Vezi doc.", gdpr1_path(contract_id: c.id) %></br>
                                </td>
                <td><%= link_to "Vezi doc.", contract_voluntar1_path(contract_id: c.id) %></br>
                                </td>
                <td><%= link_to "Vezi doc.", fisa_postului1_path(contract_id: c.id) %></br>
                                </td>
                
                <td style="display: flex; flex-direction: column; align-items: center;">
                    <%= link_to 'Vezi', c %>
                    <%= link_to 'Editeaza', edit_contracte_path(c) %>
                    <%= button_to 'Sterge', c, method: :delete, data: { controller: "confirm", action: "click->confirm#confirm" }, class: 'button-link' %>
                    
                    
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%end%>




<%if  @numar_contracte_useris>0 || current_user.role == 1%>
<h2 class="main-title">Contracte de voluntariat</h2>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="desk">

            <th>Nume voluntar</th>
            <th>Localitate voluntar</th>
            <th>D1</th>
            <th>D2</th>
            <th>D3</th>
            <th>D4</th>
        </tr>
    </thead>
    <tbody>
    <% @contracte_useri.each do |c| %>
        <tr>
          <td><%= c.nume_voluntar+' '+c.prenume %></td>
          <td><%= c.localitate_voluntar %></td>
          <td style="text-align: center;">
        <%= link_to 'Vezi D1', show_cerere_voluntar_path(c.id), class: "btn btn-secondary" %>               
            </td>

          <td style="text-align: center;">
            <%= link_to 'Vezi D2', show_gdpr_voluntar_path(c.id), class: "btn btn-secondary" %>
          </td>
          <td style="text-align: center;">
            <%= link_to 'Vezi D3', show_contract_voluntar_path(c.id), class: "btn btn-secondary" %>
          </td>
          <td style="text-align: center;">
            <%= link_to 'Vezi D4', show_fisa_postului_voluntar_path(c.id), class: "btn btn-secondary" %>
          </td>
        </tr>
      <% end %>
      
        </tbody>
</table>
<%end%>

</div></div>

<script>
console.log("Script încărcat");
document.addEventListener("turbo:load", function() {
    console.log("Turbo load triggered");
    initComandaForm();
});

function initComandaForm() {
    updatePret();

    document.getElementById('cantitateSelect').addEventListener('change', function() {
        updatePret();
    });
}

function calculeazaPret(n) {
    if (n <= 10) return -0.0667 * n + 5.8667;
    else if (n <= 20) return -0.04 * n + 5.6;
    else if (n <= 100) return -0.0125 * n + 5.05;
    else return 3.8;
}

function updatePret() {
    var cantitate = parseInt(document.getElementById('cantitateSelect').value, 10);
    var pretPeBucata = calculeazaPret(cantitate);
    var pretTotal = pretPeBucata * cantitate;

    console.log("Cantitate: " + cantitate);
    console.log("Pret pe Bucata: " + pretPeBucata.toFixed(2));
    console.log("Pret Total: " + pretTotal.toFixed(2));

    // Update the display elements
    var pretBucataElement = document.getElementById('pretBucata');
    var pretTotalElement = document.getElementById('pretTotal');

    if (pretBucataElement && pretTotalElement) {
        pretBucataElement.textContent = pretPeBucata.toFixed(2) + ' lei';
        pretTotalElement.textContent = pretTotal.toFixed(2) + ' lei';
    } else {
        console.error("Element IDs for display are incorrect or elements are not rendered.");
    }

    // Update hidden input values
    var hiddenPretUnitar = document.getElementById('hiddenPretUnitar');
    var hiddenPretTotal = document.getElementById('hiddenPretTotal');

    if (hiddenPretUnitar && hiddenPretTotal) {
        hiddenPretUnitar.value = pretPeBucata.toFixed(2);
        hiddenPretTotal.value = pretTotal.toFixed(2);
        
    } else {
        console.error("Element IDs for hidden inputs are incorrect or elements are not rendered.");
    }
    
initComandaForm();
function initComandaForm() {
    if (document.getElementById('hiddenPretUnitar') && document.getElementById('hiddenPretTotal')) {
        updatePret();
        document.getElementById('cantitateSelect').addEventListener('change', updatePret);
    } else {
        console.error("Form elements not ready.");
        // Optionally retry initialization or log a more detailed error.
    }
}

}



</script>
