
<style>
#cvc p{
    margin-bottom:0;
}
#cvc h2{
    margin-bottom:0;
}

@media screen and (min-width: 920px) {
#cvc .cr{
    padding-left:20px;
    padding-right:20px;
    }
}
@media screen and (max-width: 919px) {
#cvc .cr{
    padding-left:20px;
    padding-right:20px;
}
}
@media screen and (max-width: 520px) {
#cvc .cr{
    padding-left:10px;
    padding-right:10px;
}
}

</style>


<div class="container" id="cvc">
<%= render 'layouts/sideleft' %>






<main class="cr" style="background-color: aliceblue;">

    <h1 class="first-tittle">Set documente voluntariat: Ayush Cell Romania</h1>
    <h5>Aveti achizitionate: <%= @nr_total_contracte_achizitionate %> set-uri de documente.</h5>
    <h5>Total voluntari: <%= @numar_contracte_useris %> </h5>
    <h5>Set de documente disponibile: <%= @nr_total_contracte_achizitionate-@numar_contracte_useris %> </h5>
    <h2 class="main-title">Achiziționează un nou set de documente pentru voluntariat</h2>
<p>Pretul descreste proportional cu numarul de contracte achizitionate. </p>
<div class="table-responsive" style="margin-right: auto; margin-left: 0;">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr class="desk">
                <th>Servicii</th>
                <th>Detalii</th>
                <th>Cantitate</th>
                <th>Pret bucata</th>                
                <th>Pret total</th>
                <th>Actiune</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <%= @prod.nume %> </td>
                <td><%= @prod.detalii %></td>
                <td style="text-align:center;">
                    <select id="cantitateSelect" name="cantitate" class="form-control">
                        <% (1..200).each do |numar| %>
                            <option value="<%= numar %>"><%= numar %></option>
                        <% end %>
                    </select>
                </td>
                <td id="pretBucata" style="text-align:center;"><%= @prod.pret.to_f %> lei</td>                
                <td id="pretTotal" style="text-align:center;">---</td>
                <td style="text-align:center;"> <%= link_to 'Comanda', datefacturare_path(s: @prod.id), id: 'linkComanda', class: 'btn btn-primary', "data-turbo": "false" %>
                

                </td>


            </tr>
        </tbody>
    </table>
</div>





<%if @nr_contractes>0%>
<h2 class="main-title">Modele Contracte de voluntariat</h2>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="desk">

            <th>Email</th>
            <th>Tip</th>
            <th>Denumire</th>
            <th>Cod contract</th>
            <th>Contor start</th>
            <th>Valabilitate (luni)</th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        <% @contractes.each do |c| %>
            <tr>

                <td><%= c.email %></td>
                <td><%= c.tip %></td>
                <td><%= c.denumire %></td>
                <td><%= c.cod_contract %></td>
                <td><%= c.contor_start %></td>
                <td><%= c.valabilitate_luni %></td>
                <td style="display: flex; flex-direction: column; align-items: center;">
                    <%= link_to 'View', c %>
                    <%= link_to 'Edit', edit_contracte_path(c) %>
                    <%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%end%>


<%if (@nr_total_contracte_achizitionate>0 &&  @nr_total_contracte_achizitionate-@numar_contracte_useris>0) || current_user.role==1%>
    <%= link_to "Creaza Model contract nou", new_contracte_path %>
<%end%>

<%if  @numar_contracte_useris>0%>
<h2 class="main-title">Contracte de voluntariat</h2>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="desk">

            <th>Nume voluntar</th>
            <th>Localitate voluntar</th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        <% @contracte_useri.each do |c| %>
            <tr>
            <td><%= c.nume_voluntar %></td>
            <td><%= c.localitate_voluntar %></td>
            <td style="display: flex; flex-direction: column; align-items: center;">
                
                <%= link_to 'Edit', edit_contracte_useri_contracte_path(c), class: "btn btn-secondary" %>
               
            </td>
            </tr>
        <% end %>
        </tbody>
</table>
<%end%>

</div></div>

<script>
console.log("Script încărcat");
document.addEventListener("turbo:load", function() {
    
    console.log("Turbo load triggered");
    initComandaLink();
});

function initComandaLink() {
    updatePret();
    updateLink();

    document.getElementById('cantitateSelect').addEventListener('change', function() {
        updatePret();
        updateLink();
    });
}

function calculeazaPret(n) {
    if (n <= 10) return -0.0667 * n + 5.8667;
    else if (n <= 20) return -0.04 * n + 5.6;
    else if (n <= 100) return -0.0125 * n + 5.05;
    else return 3.8;
}

function updatePret() {
    var cantitate = document.getElementById('cantitateSelect').value;
    var pretPeBucata = calculeazaPret(cantitate);
    var pretTotal = pretPeBucata * cantitate;

    document.getElementById('pretBucata').textContent = pretPeBucata.toFixed(2) + ' lei';
    document.getElementById('pretTotal').textContent = pretTotal.toFixed(2) + ' lei';
}

function updateLink() {
    console.log('salut');
    var cantitate = document.getElementById('cantitateSelect').value;
    var pretBucata = parseFloat(document.getElementById('pretBucata').textContent.replace(' lei', ''));
    var pretTotal = parseFloat(document.getElementById('pretTotal').textContent.replace(' lei', ''));
    var link = document.getElementById('linkComanda');
    var baseUrl = link.href; 
   
    


    let newUrl = new URL(baseUrl);
   
    newUrl.searchParams.set('cantitate', cantitate);
    newUrl.searchParams.set('pret_bucata', pretBucata.toFixed(2));
    newUrl.searchParams.set('pret_total', pretTotal.toFixed(2));

    link.href = newUrl.toString();
}

</script>


