<p style="color: green"><%= notice %></p>
<div class="container" id="cvp1">
<%= render 'layouts/sideleft' %>

<div style="background-color: aliceblue;" >
<h1>Contracte</h1>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="desk">
            <th style="height: 40px; vertical-align: middle; width: 1%;">Id</th>
            <th style="height: 40px; vertical-align: middle; width: 1%;">User_id</th>
            <th>Email</th>
            <th>Tip</th>
            <th>Denumire</th>
            <th>Cod contract</th>
            <th style="height: 40px; vertical-align: middle; width: 1%;">Contor</th>
            <th>Nume Firma</th>
            <th>Sediu Firma</th>
            <th>Cont Bancar</th>
            <th style="height: 40px; vertical-align: middle; width: 1%;">Banca Firma</th>
            <th>CUI Firma</th>
            <th>Reprezentant Firma</th>
            <th>Calitate</th>
            <th>Denumire post</th>
            <th>Locul desfasurarii</th>
            <th>Departament</th>
            <th>Subordonare</th>
            <th>Relatii functionale</th>
            
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        <% @contractes.each do |c| %>
            <tr>
                <td><%= c.id %></td>
                <td><%= c.user_id %></td>
                <td><%= c.email %></td>
                <td><%= c.tip %></td>
                <td><%= c.denumire %></td>
                <td><%= c.cod_contract %></td>
                <td><%= c.contor %></td>
                <td><%= c.nume_firma %></td>
                <td><%= c.sediu_firma %></td>
                <td><%= c.cont_bancar %></td>
                <td><%= c.banca_firma %></td>
                <td><%= c.cui_firma %></td>
                <td><%= c.reprezentant_firma %></td>
                <td><%= c.calitate_reprezentant %></td>
                <td><%= c.denumire_post %></td>
                <td><%= c.locul_desfasurarii %></td>
                <td><%= c.departament %></td>
                <td><%= c.subordonare %></td>
                <td><%= c.relatii_functionale %></td>
                <td>
                    <%= link_to 'View', c %>
                    <%= link_to 'Edit', edit_contracte_path(c) %>
                    <%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to "New Contracte", new_contracte_path %>
</div></div>