
<style>
#cvc p{
    margin-bottom:0;
}
#cvc h2{
    margin-bottom:0;
}

@media screen and (min-width: 920px) {
#cvc .cr{
    padding-left:20px;
    padding-right:20px;
    }
}
@media screen and (max-width: 919px) {
#cvc .cr{
    padding-left:20px;
    padding-right:20px;
}
}
@media screen and (max-width: 520px) {
#cvc .cr{
    padding-left:10px;
    padding-right:10px;
}
}
.button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/ font-family: arial, sans-serif; /* Sistem font */
  /*optional*/ color: #069;
  /*optional*/ text-decoration: underline;
  cursor: pointer;
}
#cvc{
    word-break: keep-all;
}
#cvc .table{
    word-break: auto-phrase;
}
</style>


<div class="container" id="cvc">
<%= render 'layouts/sideleft' %>






<main class="cr" style="background-color: aliceblue;">

    <h1 class="first-tittle">Set documente voluntariat: Ayush Cell Romania</h1>
    <div style="text-align:left">
    <p>Aveti achizitionate: <%= @nr_total_contracte_achizitionate %> set-uri de documente.</p>
    <p>Total voluntari: <%= @numar_contracte_useris %> </p>
    <p>Set de documente disponibile: <%= @nr_total_contracte_achizitionate-@numar_contracte_useris %> </p>
    </div>
    <h2 class="main-title">Achiziționează un nou set de documente pentru voluntariat</h2>
<p>Pretul descreste proportional cu numarul de contracte achizitionate. </p>
<div class="table-responsive" style="margin-right: auto; margin-left: 0;">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr class="desk">
                <th>Servicii</th>
                <th>Detalii</th>
                <th>Cantitate</th>
                <th>Pret bucata</th>                
                <th>Pret total</th>
                <th>Actiune</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <%= @prod.nume %> </td>
                <td><%= @prod.detalii %></td>
                <td style="text-align:center;">
                    <select id="cantitateSelect" name="cantitate" class="form-control">
                        <% (1..200).each do |numar| %>
                            <option value="<%= numar %>"><%= numar %></option>
                        <% end %>
                    </select>
                </td>
                <td id="pretBucata" style="text-align:center;"><%= @prod.pret.to_f %> lei</td>                
                <td id="pretTotal" style="text-align:center;">---</td>
                <td style="text-align:center;"> <%= link_to 'Comanda', datefacturare_path(s: @prod.id), id: 'linkComanda', class: 'btn btn-primary', "data-turbo": "false" %>
                

                </td>


            </tr>
        </tbody>
    </table>
</div>





<%if @nr_contractes>0 || current_user.role==1%>
<div style="text-align:left;">
<h3>Legenda:</h3>
<p>D1: CERERE ÎNSCRIERE VOLUNTAR</p>
<p>D2: ACORD GDPR</p>
<p>D3: CONTRACT VOLUNTARIAT</p>
<p>D4: FISA POSTULUI - anexă la contractul de voluntariat</p>
<p>D5: FISA SSM DE INSTRUIRE INDIVIDUALĂ PRIVIND SECURITATEA ȘI SĂNĂTATEA ÎN MUNCĂ <%= link_to "Descarca PDF", "pdf/voluntariat/Fisa SSM.pdf", download: '' %></p>
<p>D6: FISA ISU DE INSTRUCTAJ ÎN DOMENIUL SITUAȚIILOR DE URGENȚĂ <%= link_to "Descarca PDF", "pdf/voluntariat/Fisa ISU.pdf", download: '' %></p>
</div>

<h2 class="main-title">Modele Contracte de voluntariat</h2>
<%if (@nr_total_contracte_achizitionate>0 &&  @nr_total_contracte_achizitionate-@numar_contracte_useris>0) || current_user.role==1%>
    <%= link_to "Creaza Model contract nou", new_contracte_path %>
<%end%>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="desk">

           
            <th>Denumire</th>
            <th>Cod contract</th>
            <th>D1</th>
            <th>D2</th>
            <th>D3</th>
            <th>D4</th>           
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        <% @contractes.each do |c| %>
            <tr>

                
                <td><%= c.denumire %></td>
                <td><%= c.cod_contract %></td>
                <td><%= link_to "Vezi doc.", cerere_voluntar1_path(contract_id: c.id) %></br>
                                </td>
                <td><%= link_to "Vezi doc.", gdpr1_path(contract_id: c.id) %></br>
                                </td>
                <td><%= link_to "Vezi doc.", contract_voluntar1_path(contract_id: c.id) %></br>
                                </td>
                <td><%= link_to "Vezi doc.", fisa_postului1_path(contract_id: c.id) %></br>
                                </td>
                
                <td style="display: flex; flex-direction: column; align-items: center;">
                    <%= link_to 'Vezi', c %>
                    <%= link_to 'Editeaza', edit_contracte_path(c) %>
                    <%= button_to 'Sterge', c, method: :delete, data: { controller: "confirm", action: "click->confirm#confirm" }, class: 'button-link' %>
                    
                    
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%end%>




<%if  @numar_contracte_useris>0%>
<h2 class="main-title">Contracte de voluntariat</h2>
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class="desk">

            <th>Nume voluntar</th>
            <th>Localitate voluntar</th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        <% @contracte_useri.each do |c| %>
            <tr>
            <td><%= c.nume_voluntar %></td>
            <td><%= c.localitate_voluntar %></td>
            <td style="display: flex; flex-direction: column; align-items: center;">
                
                <%= link_to 'Edit', edit_contracte_useri_contracte_path(c), class: "btn btn-secondary" %>
               
            </td>
            </tr>
        <% end %>
        </tbody>
</table>
<%end%>

</div></div>


<script>
console.log("Script încărcat");
document.addEventListener("turbo:load", function() {
    
    console.log("Turbo load triggered");
    initComandaLink();
});

function initComandaLink() {
    updatePret();
    updateLink();

    document.getElementById('cantitateSelect').addEventListener('change', function() {
        updatePret();
        updateLink();
    });
}

function calculeazaPret(n) {
    if (n <= 10) return -0.0667 * n + 5.8667;
    else if (n <= 20) return -0.04 * n + 5.6;
    else if (n <= 100) return -0.0125 * n + 5.05;
    else return 3.8;
}

function updatePret() {
    var cantitate = document.getElementById('cantitateSelect').value;
    var pretPeBucata = calculeazaPret(cantitate);
    var pretTotal = pretPeBucata * cantitate;

    document.getElementById('pretBucata').textContent = pretPeBucata.toFixed(2) + ' lei';
    document.getElementById('pretTotal').textContent = pretTotal.toFixed(2) + ' lei';
}

function updateLink() {
    console.log('salut');
    var cantitate = document.getElementById('cantitateSelect').value;
    var pretBucata = parseFloat(document.getElementById('pretBucata').textContent.replace(' lei', ''));
    var pretTotal = parseFloat(document.getElementById('pretTotal').textContent.replace(' lei', ''));
    var link = document.getElementById('linkComanda');
    var baseUrl = link.href; 
   
    


    let newUrl = new URL(baseUrl);
   
    newUrl.searchParams.set('cantitate', cantitate);
    newUrl.searchParams.set('pret_bucata', pretBucata.toFixed(2));
    newUrl.searchParams.set('pret_total', pretTotal.toFixed(2));

    link.href = newUrl.toString();
}

</script>


