<style>

.btn-fp-link {
    background-color: transparent !important; /* Fundal transparent */
    border: none !important; /* Fără bordură */
    color: #007bff !important; /* Culoare similară cu link-urile Bootstrap, ajustează după necesități */
    text-decoration: underline !important; /* Subliniere ca la link-uri */
    box-shadow: none !important; /* Elimină orice umbre aplicate de Bootstrap */
}




#ssm .custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

#ssm .custom-checkbox input[type="checkbox"] {
    visibility: hidden;
}

#ssm .custom-checkbox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
}

#ssm .custom-checkbox input[type="checkbox"]:checked + span {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

#ssm .custom-checkbox input[type="checkbox"]:checked + span:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
</style>

<% content_for :title, "Fisa SSM | Ayush Cell Romania"  %>
<% content_for :description, "Fisa SSM de instruire individuală privind securitatea și sănătatea în muncă" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/ssm">
<% end %>

<div class="container" id="ssm">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: aliceblue; ">
    <h1 class="first-tittle">Completare fisa de instruire individuală privind securitatea și sănătatea în muncă: Ayush Cell Romania</h1>
    <h2 class="main-title" >Completare fișa SSM</h2>
    

    <h3 style="font-size:18px;">Instrucțiuni pentru completarea fișei SSM</h1>
    <ol>
    <li><strong>Descarcă fișierul PDF:</strong> Accesează 
    <a href="#" title="Descarcă fișierul PDF"><%= link_to "linkul de descarcare", "pdf/voluntariat/Fisa SSM.pdf", download: '' %></a> și downloadează fișierul PDF pe computerul tău. Acesta conține fișa SSM pe care trebuie să o completezi.
</li>

    <li><strong>Tipărește fișierul descărcat:</strong> Odată ce fișierul PDF este salvat pe dispozitivul tău, deschide-l și tipărirește-l, pentru a obține o versiune fizică a fișei SSM.</li>
    <li><strong>Completează manual datele necesare pe fișa tipărită:</strong> Utilizează un stilou sau un pix pentru a completa toate secțiunile necesare din fișa SSM tipărită. Asigură-te că scrii clar și lizibil pentru a evita orice confuzie sau neînțelegeri.</li>
    <li><strong>Expediază fișa completată prin poșta sau curier rapid:</strong> După ce ai completat fișa, plasează-o într-un plic adecvat și trimite-o prin poștă la adresa specificată: Bulevardul Decebal nr. 31, Sector 3, București, Cod poștal 623355. </li>
</ol>
<p>Confirma vizionarea despre SSM si expedierea documentului completat și finalizează această etapă.</p>
    

 

    <%= form_with model: [@contract, @contracte_useri], 
    url: salveaza_ssm_contracte_path(@contract), 
    method: :post, 
    local: true, 
    html: { class: "form-class" } do |form| %>

    <% if @contracte_useri.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@contracte_useri.errors.count, "error") %> prohibited this contracte_useri from being saved:</h2>
    <ul>
    <% @contracte_useri.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
    </div>
    <% end %>

    <!-- Aici poți adăuga câmpurile specifice pentru GDPR pe care dorești să le colectezi -->
    <%= form.hidden_field :contracte_id, value: @contract.id if @contract.id.present? %>      
    <%= form.hidden_field :idcontractor, value: @contract.user_id if @contract&.user_id.present? %>
    <%= form.hidden_field :user_id, value: current_user.id if current_user.present? %>          
    <%= hidden_field_tag :contract_id, @contract.id %>
    <%if @data_posta_ssm%>

    <%= form.hidden_field :data_posta_ssm, value: @data_posta_ssm %>
    <%else%>
    
    <%= form.hidden_field :data_posta_ssm, value: Date.today %>
    <%end%>
    
    <h2 class="name">Prezentare SSM</h2>
    
    <!-- for non autoplay video //-->
    <div class="video" style="width: 100%; max-width: 640px; max-height: 360px; margin: 0 auto; background-image: url(<%= asset_path 'player.png' %>);background-size: 100%;">
        <div class="epyv-video-container" id="epyv-container[<%= @myvideo %>]">
            <div id="epytvPlayButton[<%= @myvideo %>]" class="play-button" onClick="clickToPlay('<%= @myvideo %>');"></div>
            <img id="epytvImage[<%= @myvideo %>]" src="/thumbnails/video-thumbnail-filename" />
            <div class="epyv-video-player" id="<%= @myvideo %>" data-params="controls=1,rel=1,autoplay=0"></div>
            <div id="epytvPlayerCounter[<%= @myvideo %>]" class="playerCounter" style="visibility: hidden;">10</div>
        </div>
    </div>
    </br>



    <%= form.check_box :vazut_video_ssm, id: 'vazut-video-ssm-checkbox', class: 'form-checkbox' %>
    <%= form.label :vazut_video_ssm, 'Am vizionat in intregime video-ul despre SSM' %></br>

    
    <%= form.check_box :activare_submit, id: 'activare-submit-checkbox', class: 'form-checkbox' %>
    <%= form.label :activare_submit, 'Am trimis prin colet poștal formularul tipărit la adresa menționată mai sus în data de' %>


    

    <%= form.date_field :data_bifa_ssm, 
                    id: 'data-bifa-ssm', 
                    class: 'form-input', 
                    max: Date.today.to_s, 
                    min: @contracte_useri.data_gdpr.to_s %><br><br>

    <%= form.submit "Confirma", id: 'submit-button', class: 'btn btn-primary btn-fp-link', disabled: true %>



<% end %>




</div>
</div>
<script>
document.addEventListener("turbo:load", function() {
  const checkboxVideo = document.getElementById('vazut-video-ssm-checkbox');
  const checkboxSubmit = document.getElementById('activare-submit-checkbox');
  const dateField = document.getElementById('data-bifa-ssm');
  const submitButton = document.getElementById('submit-button');

  function updateSubmitButtonState() {
    submitButton.disabled = !checkboxVideo.checked || !checkboxSubmit.checked || dateField.value === '';
  }

  checkboxVideo.addEventListener('change', updateSubmitButtonState);
  checkboxSubmit.addEventListener('change', updateSubmitButtonState);
  dateField.addEventListener('change', updateSubmitButtonState);
});

</script>