<style>
.action-buttons {
  display: flex;
  gap: 10px;
}
</style>

<% content_for :title, "Voluntariat | Ayush Cell Romania" %>
<% content_for :meta_tags do %>
  <meta name="description" content="Voluntariat">
  <meta name="keywords" content="Voluntariat">
  <link rel="canonical" href="https://www.ayushcell.ro/Voluntar">
<% end %>

<div class="container" id="cvp1">
<%= render 'layouts/sideleft' %>


<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Contracte voluntariat - Ayush Cell Romania</h1>
    <h2 class="main-title" >Contracte de voluntariat</h2>


<p>Ne bucurăm că ați ales serviciul nostru pentru contracte de voluntariat. Suntem aici pentru a vă oferi toate resursele și informațiile necesare într-un mod simplu și accesibil. Prin intermediul acestei pagini, veti putea accesa și completa cu ușurință documentele necesare pentru a demara cu entuziasm proiectele dumneavoastră de voluntariat. Suntem profund recunoscători pentru alegerea dumneavoastră de a vă implica în voluntariat și suntem dornici să începem această frumoasă călătorie alături de dumneavoastră!</p> 

<p>Pentru a vă implica ca voluntar, este necesar să parcurgeți procesul de completare a unei serii de documente esențiale. Iată un ghid pas cu pas:</p>
<ul>
  <li>Cerere de înscriere ca Voluntar</li>
  <li>Acord privind prelucrarea datelor cu caracter personal GDPR</li>
  <li>Contract de Voluntariat</li>
  <li>Fișa Postului</li>
  <li>Fisa ISU de instructaj în domeniul situatiilor de urgenta</li>
  <li>Fisa SSM de instruire individuală privind securitatea și sănătatea in muncă</li>
</ul>


<p>Experiența acumulată în timpul voluntariatului nu doar îmbogățește CV-ul dvs., demonstrând angajament, inițiativă și abilități diverse, ci contribuie și la bunăstarea emoțională, oferindu-vă satisfacție personală și îmbunătățirea stării de spirit prin impactul pozitiv asupra sănătății psiho-emoționale.</p>

</br></br>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class= "desk">
            <th style="height: 40px; vertical-align:middle; width: 30%;">Nume document</th>  
            <th style="height: 40px; vertical-align:middle; width: 14%;">Status</th>
            <th style="height: 40px; vertical-align:middle; width: 30%;">Completeaza</th>          
            <th style="height: 40px; vertical-align:middle; width: 12%;">Download</th>
        </tr>      
    </thead>
    <tbody>
    <tr>
      <td>CERERE ÎNSCRIERE VOLUNTAR</td>
      <td style="text-align:center;color:red; font-style:italic;"><%=@status1%></td>      
      <td style="text-align:center;"><%= link_to "Completeaza documentul", cerere_voluntar_path, class: "btn btn-primary" %></td>
      <td style="text-align:center;"><%= link_to "Descarca PDF", cerere_voluntar_path, class: "btn btn-primary disabled"  %></td>
    </tr>
    <tr>
      <td>ACORD GDPR</td>
      <td style="text-align:center;color:red;font-style:italic;"><%=@status2%></td>      
      <td style="text-align:center;"><%= link_to "Completeaza documentul", gdpr_path, class: "btn btn-primary" %></td>
      <td style="text-align:center;"><%= link_to "Descarca PDF", gdpr_path, class: "btn btn-primary disabled" %></td>
    </tr>
    <tr>
      <td>CONTRACT VOLUNTARIAT</td>
      <td style="text-align:center;color:red;font-style:italic;"><%=@status3%></td>      
      <td style="text-align:center;"><%= link_to "Completeaza documentul", contract_voluntar_path, class: "btn btn-primary" %></td>
      <td style="text-align:center;"><%= link_to "Descarca PDF", contract_voluntar_path, class: "btn btn-primary disabled" %></td>
    </tr>
    <tr>
      <td>FISA POSTULUI - anexă la contractul de voluntariat</td>
      <td style="text-align:center;color:red;font-style:italic;"><%=@status4%></td>      
      <td style="text-align:center;"><%= link_to "Completeaza documentul", fisa_postului_path, class: "btn btn-primary" %></td>
      <td style="text-align:center;"><%= link_to "Descarca PDF", contract_voluntar_path, class: "btn btn-primary disabled" %></td>
    </tr>
  
    <tr>
      <td>FISA SSM DE INSTRUIRE INDIVIDUALĂ PRIVIND SECURITATEA ȘI SĂNĂTATEA ÎN MUNCĂ</td>
      <td style="text-align:center;color:red;font-style:italic;"><%=@status1%></td>      
      <td style="text-align:center;"></td>
      <td style="text-align:center;"><%= link_to "Descarca PDF", "pdf/voluntariat/Fisa SSM.pdf", class: "btn btn-primary", download: '' %></td>
      
    </tr>
    <tr>
      <td>FISA ISU DE INSTRUCTAJ ÎN DOMENIUL SITUAȚIILOR DE URGENȚĂ</td>
      <td style="text-align:center;color:red;font-style:italic;"><%=@status1%></td>      
      <td style="text-align:center;"></td>
      <td style="text-align:center;"><%= link_to "Descarca PDF", "pdf/voluntariat/Fisa ISU.pdf", class: "btn btn-primary", download: '' %></td>
      
      
    </tr>
    </tbody>
</table>
</div>
</div>
</div>

</div>


