<%= form_with(model: cursuri) do |form| %>
  <% if cursuri.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cursuri.errors.count, "error") %> prohibited this cursuri from being saved:</h2>

      <ul>
        <% cursuri.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :numecurs, style: "display: block" %>
    <%= form.text_field :numecurs %>
  </div>

  <div>
    <%= form.label :datainceput, style: "display: block" %>
    <%= form.date_field :datainceput %>
  </div>

  <div>
    <%= form.label :datasfarsit, style: "display: block" %>
    <%= form.date_field :datasfarsit %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
