<section class= "edituser";>
<h1 style="color: #9025c0; border-bottom: 1px solid black; padding-bottom: 5px; width: fit-content; margin-bottom: 10px;">Editare informații cont</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <b>Email: </b><%=current_user.email %>

  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="field">
  <h2 style="font-size:24px;margin-top: 30px;">Modificare parola</h2>
  <%= f.label "Introdu parola curentă" %> <i>(scrie parola curentă)</i><br />
  <%= f.password_field :current_password, autocomplete: "current-password" %>
</div>

  <div class="field">
    <%= f.label "Introdu parola nouă" %> <i>(lasa spatiu liber daca nu vrei sa modifici)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caractere minim</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Confirmă parola nouă" %><i>(reintrodu parola nouă)</i><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  

  <div class="actions">
    <%= f.submit "Actualizează parola" %>
  </div>
<% end %>

<h3>Dezactiveaza contul</h3>

<div><p>Dacă alegeți să dezactivați contul, nu veți mai avea acces la toate funcționalitățile site-ului, inclusiv cursuri, seminarii și alte resurse.</p><%= button_to "Dezactiveaza contul", set_inactive_user_path(current_user), method: :put, data: { confirm: "Are you sure you want to deactivate your account?" }, class: "button-class" %>



</div>


<span class="inapoi"><%= link_to "Înapoi", :back %></span>
</section>