<style>
  #vajikarana .cm h2 {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  #vajikarana .register {
    border: 1px solid #da2997;
    background-color: #da2997;
  }

  #vajikarana .cm h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
  }

  #vajikarana .register {
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
  }

  #vajikarana .table td {
    text-align: center;
  }

  .vajikarana-video {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 720px) {
    #vajikarana .register {
      margin: 0 auto;
      margin-top: 20px;
      margin-left: auto;
    }

    .cm {
      text-align: center;
    }

    #vajikarana .cm h2 {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .vajikarana-video {
      margin-top: -20px;
    }
  }

  .responsive-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* Seteaz캒 un raport de aspect implicit */
    padding-top: 56.25%;
    /* Raport de aspect 16:9 */
  }

  .responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 769px) {
    .responsive-iframe-container {
      max-width: 640px;
      margin: auto;
      padding-top: 360px;
      margin-top: -20px;
    }
  }

  @media (max-width: 768px) {
    .responsive-iframe-container {
      margin-top: -20px;
    }
  }
</style>

<% content_for :title, "Vajikarana - 릆iin콖a substan콖elor afrodiziace | Ayush Cell Romania" %>

<% content_for :meta_tags do %>
<meta name="description" content="Particip캒 la cursurile de Vajikarana - Ayush Cell Romania pentru revitalizarea poten탵ialului erotic-amoros.">
<meta name="keywords" content="ayurveda, Vajikarana, cursuri Ayurveda, revitalizare erotic캒, Ayush Cell Romania, principii Ayurvedice, s캒n캒tate holistic캒, practici Ayurvedice, aplicatii Ayurveda">
<link rel="canonical" href="https://www.ayushcell.ro/vajikarana">
<% end %> 

<div class="container" id="vajikarana">
<%= render 'layouts/sideleft' %> 

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Ayush Cell Romania: Vajikarana - Cunoa탳terea ayurvedic캒 a ingredientelor naturale 를 a procedeelor practice cu efecte afrodiziace <h1>
        <h2 class="main-title">Vajikarana - modulul 2</h2>
        <section>
          <div class="row1 center" style="max-width:920px; margin:0 auto;">
            <div class="r1c1" style="height: 350px;">
              <img src="<%= image_url('Vajikarana3.jpg') %>" alt="Vajikarana - 릆iin콖a substan콖elor afrodiziace">
            </div>
            <div class="r1c2">
              <p>룞iin콖a specializat캒 a substan콖elor naturale afrodiziace (Vajikarana) reprezint캒 una dintre cele 8 ramuri principale (anga) ale sistemului tradi탵ional indian de cunoa탳tere asupra vie탵ii, Ayurveda.</p>
              <p>Vajikarana ofer캒 fiin콖ei umane posibilitatea de a dispune de metode practice naturale prin care s캒 pun캒 칥n valoare 칥ntr-un mod superior poten탵ialul erotic-amoros al fiin탵ei. </p>
              <% if !current_user %> 
              <div class="r1c2"><%= link_to '칉nscrie-te acum', new_user_session_with_return_path('vajikarana2'), class: 'register' %> </div>
              <%elsif current_user && !@has_access%>
                    <%= link_to 'Particip캒 la curs', '#Vajikarana', class: 'register' %>
              <%end%>
            </div>
          </div>
          <section class="cm">
            <h2>Tematica abordat캒 칥n cadrul acestui modul: Armonizarea si redinamizarea poten콖ialului erotic prin practicile de tip Vajikarana </h3>
              <p>Modulul 2 al cursului de specializare 칥n Vajikarana ofer캒 o abordare profund캒 탳i rafinat캒 a subiectului energiei subtile erotice, a modalit캒탵ilor naturale de poten탵are a acesteia 탳i a impactului asupra vie탵ii. 칉n cadrul acestui modul este realizat캒 o explorare extins캒 a unor sutra-e fundamentale din sec탵iunea Vajikarana a cursului de Ayurveda 游. Capitolul intitulat Ashikta Kshirika, se concentreaz캒 asupra preparatelor vajikarana care includ laptele ca ingredient de baz캒. Formulele vajikarana prezentate 칥n acest modul al Cursului de specializare 칥n Vajikarana sunt apreciate at칙t pentru propriet캒탵ile lor specifice, c칙t 탳i pentru rolul ingredientelor naturale utilizate ca poten탵ator al unor aspecte calitative esen탵iale cunoscute 칥n Ayurveda. 칉n탵elegerea 탳i aplicarea practic캒 a unor astfel de formule dep캒탳e탳te nivelul oper캒rii strict procedurale, devenind posibil캒 explorarea poten탵ialului acestora de a influen탵a 칥n mod benefic c칙mpul subtil-energetic 탳i dimensiunea psiho-emo탵ional캒 a practican탵ilor. 游눪. </p>
              <p>Modulul al doilea al Cursului de specializare 칥n Vajikarana dezv캒luie o perspectiv캒 surprinz캒toare asupra preparatelor afrodiziace, care nu doar 칥mbun캒t캒탵esc parametrii fizici 탳i performan탵ele erotic-amoroase, ci genereaz캒 탳i o transformare subtil캒 la nivel psiho-mental 탳i spiritual. Prin utilizarea acestor formule naturale binef캒c캒toare, sattva-ice, practicantul dezvolt캒 o capacitate sporit캒 de transfigurare a existen탵ei, viziunea sa asupra vie탵ii devenind una profund bazat캒 pe o dinamizare erotic캒 s캒n캒toas캒. Aceast캒 abordare integratoare le permite practican탵ilor vajikarana s캒 experimenteze via탵a 칥ntr-un mod superior 탳i extatic.仇벒잺.</p>
              <p>Un alt aspect esen탵ial este cel al transform캒rii interioare profunde. Modulul 2 al Cursului de specializare 칥n Vajikarana subliniaz캒 faptul c캒 procedurile enun탵ate 칥n acest context 칥탳i propun s캒 apropie con탳tiin탵a practicantului de o perspectiv캒 superioar캒 asupra existen탵ei 탳i a dimensiunii erotice a acesteia. Experien탵a senzorial캒 칥nc칙nt캒toare devine o poart캒 spre 칥n탵elegerea misterului Crea탵iei dumnezeie탳ti, oferind o stare superioar캒 de con탳tiin탵캒, caracterizat캒 de plenitudine 탳i de beatitudine profund캒. 칉n acest mod, practicile vajikarana contribuie efectiv la crearea unui cadrul favorabil pentru revelarea sensurilor spirituale ale vie탵ii. </p>
              <p>Modulul 2 al Cursului de specializare 칥n Vajikarana propune o viziune transfiguratoare asupra vie탵ii, care transform캒 existen탵a 칥ntr-o experien탵캒 plin캒 de sens. Aceast캒 transformare benefic캒 de perspectiv캒 devine o constant캒 existen탵ial캒, gener칙nd o dispozi탵ie erotic-amoroas캒 superioar캒, ce poate fi sus탵inut캒 de metodele practice care sunt expuse 칥n acest context. Practicantul vajikarana care integreaz캒 칥n mod adecvat aceste metode tradi탵ionale din Ayurveda va putea beneficia de o stare prelungit캒 de 칥mplinire interioar캒, descoperind frumuse탵ea vie탵ii dintr-o perspectiv캒 subtil캒 탳i spiritual캒 totodat캒. </p>
              
              <% if current_user && @a_cumparat_macar_un_cod %> 
              <p>Cursul Vajikarana Modulul 2 ofer캒 dou캒 op탵iuni principale de participare pentru a se potrivi nevoilor 탳i preferin탵elor fiec캒rui participant:</p>
              <ul>
                <li>
                  <strong>Vajikarana Modulul 2 - Participare LIve:</strong> 칉nscrierea permite participan탵ilor s캒 participe 칥n timp real la prezent캒rile live organizate pe platforma Zoom. Aceast캒 op탵iune ofer캒 oportunitatea de a interac탵iona direct cu organizatorii cursului 탳i cu ceilal탵i participan탵i.
                </li>
                <li>
                  <strong>Vajikarana Modulul 2 - Acces Complet:</strong> Aceast캒 op탵iune ofer캒 participarea la prezent캒rile live programate 탳i 칥n mod suplimentar, acces 24/7 la 칥nregistr캒rile prezent캒rilor live, direct 칥n pagina de site. Accesul este valabil timp de 90 de zile de la 칥ncheierea cursului, oferind participan탵ilor posibilitatea de a reviziona prezent캒rile realizate live, pentru a aprofunda informa탵iile sau pentru a viziona sesiunile la care nu au putut participa live.
                </li>
              </ul>
              <h3>
                <strong>Cum particip?</strong>
              </h3>
              <p>Pentru a v캒 칥nscrie la acest modul, v캒 invit캒m s캒 efectua탵i plata aferent캒. Dupa finalizarea platii, accesul at칥t la linkurile de ZOOM c칥t si la vizionarea inregistrarilor se va face direct in aceast캒 pagin캒 de site.</p>
              <h3>
                <strong>Se ofer캒 suport de curs?</strong>
              </h3>
              <p>칉n completarea sesiunilor video, participan탵ii primesc 칥n mod gratuit suportul de curs scris asociat.</p>
              <h3>Costul particip캒rii?</h3>
              <p>Investe탳te 칥n educa탵ia ta pentru s캒n캒tate cu doar 360 lei pentru participarea la sesiunile live sau 560 lei pentru acces complet at칙t la sesiunile live c칙t 탳i la vizionarea 칥nregistr캒rilor cursului de Vajikarana Modulul 2.</p>
              <%end%>
              
              <% if !user_signed_in? || (current_user && !@a_cumparat_macar_un_cod ) %> 
              <div class="r1c2" style="align-items: center; width:100%;">
              <%= link_to 'Vizioneaz캒 칥nregistr캒rile',  '#Vajikarana', class: 'register' %> </div>
              <br>
              <h2>칉nscriere 탳i participare</h2>
              <br>
              <h3>
                <strong>Modalitatea de desf캒탳urare a cursului</strong>
              </h3>
              <p>Cursul Vajikarana Modulul 2 ofer캒 dou캒 op탵iuni principale de participare pentru a se potrivi nevoilor 탳i preferin탵elor fiec캒rui participant:</p>
              <ul>
                <li>
                  <strong>Vajikarana Modulul 2 - Participare LIve:</strong> 칉nscrierea permite participan탵ilor s캒 participe 칥n timp real la prezent캒rile live organizate pe platforma Zoom. Aceast캒 op탵iune ofer캒 oportunitatea de a interac탵iona direct cu organizatorii cursului 탳i cu ceilal탵i participan탵i.
                </li>
                <li>
                  <strong>Vajikarana Modulul 2 - Acces Complet:</strong> Aceast캒 op탵iune ofer캒 participarea la prezent캒rile live programate 탳i 칥n mod suplimentar, acces 24/7 la 칥nregistr캒rile prezent캒rilor live, direct 칥n pagina de site. Accesul este valabil timp de 90 de zile de la 칥ncheierea cursului, p칙n캒 la data de 22.05.2025, oferind participan탵ilor posibilitatea de a reviziona prezent캒rile realizate live, pentru a aprofunda informa탵iile sau pentru a viziona sesiunile la care nu au putut participa live.
                </li>
              </ul>
              <p>Aceste modalit캒탵i de participare sunt concepute pentru a oferi flexibilitate maxim캒, permit칙nd accesul la cuno탳tin탵ele 탳i practicile Vajikarana indiferent de programul personal al participan탵ilor.</p>
              <h3>Cand se va desf캒탳ura?</h3>
              <p>Sesiunile live se vor desf캒탳ura 칥n zilele de duminic캒, pe 2, 9, 16 탳i 23 februarie 2025, precum 탳i pe 2, 9, 16 탳i 23 martie 2025, 칥n intervalul orar 18:30 - 20:30.</p>
              <h3>
                <strong>Cum particip?</strong>
              </h3>
              <p>Pentru a v캒 칥nscrie la acest modul, v캒 invit캒m s캒 efectua탵i plata aferent캒. Dupa finalizarea platii, accesul at칥t la linkurile de ZOOM c칥t si la vizionarea inregistrarilor se va face direct in aceast캒 pagin캒 de site.</p>
              <h3>
                <strong>Se ofer캒 suport de curs?</strong>
              </h3>
              <p>칉n completarea sesiunilor live, participan탵ii primesc 칥n mod gratuit suportul de curs scris asociat.</p>
              <h3>Costul particip캒rii?</h3>
              <p>Investe탳te 칥n educa탵ia ta pentru s캒n캒tate cu doar 360 lei pentru participarea la sesiunile live sau 560 lei pentru acces complet at칙t la sesiunile live c칙t 탳i la vizionarea 칥nregistr캒rilor cursului de Vajikarana Modulul 2.</p>
              <h3>
                <strong>Cine sus탵ine cursul?</strong>
              </h3>
              <p>Particip캒 la acest curs sus탵inut de c캒tre Andrei G캒mulea, lector de ayurveda 탳i pre탳edinte al Asocia탵iei Na탵ionale pentru Promovarea Medicinelor Neconven탵ionale din Rom칙nia (AMN-Romania). Astfel vei beneficia nu doar de cuno탳tin탵e teoretice, ci 탳i de 칥n탵elegerea practic캒 esen탵ial캒 pentru a aplica cu succes aceste metode si principii ayurvedice. </p>
              </p>
              </br>
          </section>
          <section>
        <%end%> 
          
          </section>
          <%if current_user && @a_cumparat_macar_un_cod%> 
          <h2 class="alimente-nutritionale" id="Vajikarana" style="text-align: center;font-size:28px;">칉nregistr캒ri video si materiale PDF</h2>
          <div id="videos">
            <table class="table">
              <thead>
                <tr>
                  <th>Nr</th>
                  <th>Curs</th>
                  <th>Descriere</th>
                  <th>Actiune</th>
                  <th>Acces fisiere PDF</th>
                </tr>
              </thead>
              <tbody><% @myvideo13.each do |video| %><%= render partial: 'video1', locals: { video: video } %>
          <% end %> 
        </tbody>
        </table>
          </div>
          <%end%>

          <%if !current_user || @prods.count>0%> <h1 class="alimente-nutritionale" id="Vajikarana" style="font-size:28px;">Acces Modul 2 Vajikarana</h1>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead class="thead-dark">
                <tr class="desk">
                  <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>
                  <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                  <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                  <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>
              </thead>
              <tbody><% @prods.each do |prod| %><%if prod.cod!='cod108'%> <tr>
                  <td><%= prod.nume %> </td>
                  <td><%= prod.detalii %> </td>
                  <td><%= prod.pret.to_i %> lei </td><% if current_user %> <td style="text-align:center;">
                    
                  <%= link_to 'Acceseaza cursul', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> </td>
                  
                  <% else %> <td style="text-align:center;"><%= link_to 'Acceseaza cursul', new_user_session_with_return_path('vajikarana2'), class: 'btn btn-primary' %> </td>
                  <% end %>
                </tr>
                <% end %>
                <% end %> 
                </tbody>
            </table>
            <%end%>
          </div>
  </div>
</div>