<div id="<%= dom_id lista_vegetale %>">
  <p>
    <strong>Specie:</strong>
    <%= lista_vegetale.specie %>
  </p>

  <p>
    <strong>Sinonime:</strong>
    <%= lista_vegetale.sinonime %>
  </p>

  <p>
    <strong>Parteutilizata:</strong>
    <%= lista_vegetale.parteutilizata %>
  </p>

  <p>
    <strong>Mentiunirestrictii:</strong>
    <%= lista_vegetale.mentiunirestrictii %>
  </p>

</div>
