<section style="margin: 0 auto; max-width:1280px;">

<h1 style="margin-top:30px;">Prețuri Criptomonede</h1>

<% if @doge_prices %>
  <p>DOGE Cumparare: <%= @doge_prices[:bid_price] %> | DOGE Vanzare: <%= @doge_prices[:ask_price] %></p>
<% end %>



<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
</style>
</head>
<body>
<table style="margin-bottom:50px;">
  <tr>
    <th>Moneda</th>
    <th>Pret Vanzare (Bid) în USDT</th>
    <th>Pret Cumparare (Ask) în USDT</th>
  </tr>
  <tr>
    <td>BTC</td>
    <td><%=@btc_usdt_bid_price%> USDT</td>
    <td><%=@btc_usdt_ask_price%> USDT</td>
  </tr>
  <tr>
    <td>ETH</td>
    <td><%=@eth_usdt_bid_price%> USDT</td>
    <td><%=@eth_usdt_ask_price%> USDT</td>
  </tr>
  <tr>
    <td>XMR</td>
    <td><%=@xmr_usdt_bid_price%> USDT</td>
    <td><%=@xmr_usdt_ask_price%> USDT</td>
  </tr>
</table>

<table style="margin-bottom:50px;">
<tr>
    <td>Volum minim comun: </th>
    <td><%=@starting_btc%> BTC</th>
</tr>

</table>

<table style="margin-bottom:50px;">
  <tr>
    <th>Conversie</th>
    <th>Suma Initială</th>
    <th>Suma Finală</th>
    <th>Volum Vanzare</th>
    <th>Volum Cumparare</th>
  </tr>
  <tr>
    <td>BTC -> ETH</td>
    <td><%=@starting_btc%> BTC</td>
    <td><%= @btc_to_eth %> ETH</td>
    <td><%= @eth_btc_prices[:bid_volume] %></td>
    <td><%= @eth_btc_prices[:ask_volume] %></td>
  </tr>
  <tr>
    <td>ETH -> XMR</td>
    <td><%= @btc_to_eth %> ETH</td>
    <td><%= @eth_to_xmr %> XMR</td>
    <td><%= @eth_xmr_prices[:bid_volume] %></td>
    <td><%= @eth_xmr_prices[:ask_volume] %></td>
  </tr>
  <tr>
    <td>XMR -> BTC</td>
    <td><%= @eth_to_xmr %> XMR</td>
    <td><%= @xmr_to_btc %> BTC</td>
    <td><%= @xmr_btc_prices[:bid_volume] %></td>
    <td><%= @xmr_btc_prices[:ask_volume] %></td>
  </tr>
</table>

<table style="margin-bottom:50px;">
<tr>
    <td>Profit in BTC: </th>
    <td><%=@btc_profit%> BTC adica <%=@btc_profit_in_usdt%> USDT</th>
</tr>
</table>
</section>