<section style="margin: 0 auto; max-width:1280px;">

<h1 style="margin-top:30px;">Prețuri Criptomonede</h1>

<% if @doge_prices %>
  <p>DOGE Cumparare: <%= @doge_prices[:bid_price] %> | DOGE Vanzare: <%= @doge_prices[:ask_price] %></p>
<% end %>



<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
</style>
</head>
<body>

<table style="margin-bottom:50px;">
  <tr>

    <th>Moneda</th>
    <th>Pret Vanzare</th>
    <th>Pret Cumparare</th>
  </tr>
  <tr>

    <td>BTC</td>
    <td><%= @btc_prices[:bid_price] %></td>
    <td><%= @btc_prices[:ask_price] %></td>
  </tr>
  <tr>

    <td>ETH</td>
    <td><%= @eth_prices[:bid_price] %></td>
    <td><%= @eth_prices[:ask_price] %></td>
  </tr>
  <tr>

    <td>XMR</td>
    <td><%= @xmr_prices[:bid_price] %></td>
    <td><%= @xmr_prices[:ask_price] %></td>
  </tr>
  </table>
  <table style="margin-bottom:50px;">
  <tr>
    <th>Suma Pornire in BTC</th>
    <th>0.001</th>
  </tr>
</table>
<table style="margin-bottom:50px;">

  <tr>
    <th>Schimb</th>
    <td></td>
    <td>Rezultat</td>

  </tr>
  <tr>
    <td>BTC -></td>
    <td>ETH</td>
    <td><%=@btc_to_eth%></td>

  </tr>
  <tr>
    <td>ETH -></td>
    <td>XMR</td>
    <td><%=@eth_to_xmr%></td>

  </tr>
  <tr>
    <td>XMR -></td>
    <td>BTC</td>
    <td><%=@xmr_to_btc%></td>

  </tr>
</table>
</section>