<div id="<%= dom_id firmeproforma %>">
  <p>
    <strong>Nume institutie:</strong>
    <%= firmeproforma.nume_institutie %>
  </p>

  <p>
    <strong>Cui:</strong>
    <%= firmeproforma.cui %>
  </p>

  <p>
    <strong>Rc:</strong>
    <%= firmeproforma.rc %>
  </p>

  <p>
    <strong>Adresa:</strong>
    <%= firmeproforma.adresa %>
  </p>

  <p>
    <strong>Banca:</strong>
    <%= firmeproforma.banca %>
  </p>

  <p>
    <strong>Cont:</strong>
    <%= firmeproforma.cont %>
  </p>

  <p>
    <strong>Serie:</strong>
    <%= firmeproforma.serie %>
  </p>

  <p>
    <strong>Nrinceput:</strong>
    <%= firmeproforma.nrinceput %>
  </p>

  <p>
    <strong>Tva:</strong>
    <%= firmeproforma.tva %>
  </p>

  <p>
    <strong>Cod:</strong>
    <%= firmeproforma.cod %>
  </p>

</div>
