<div id="<%= dom_id factura %>">
  <p>
    <strong>Comanda:</strong>
    <%= factura.comanda_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= factura.user_id %>
  </p>
  <p>
  <strong>Abr Judet</strong>
  <%= factura.abr_jud %>
</p>
  <p>
    <strong>Numar:</strong>
    <%= factura.numar %>
  </p>

  <p>
    <strong>Numar comanda:</strong>
    <%= factura.numar_comanda %>
  </p>

  <p>
    <strong>Data emiterii:</strong>
    <%= factura.data_emiterii %>
  </p>

  <p>
    <strong>Prenume:</strong>
    <%= factura.prenume %>
  </p>

  <p>
    <strong>Nume:</strong>
    <%= factura.nume %>
  </p>

  <p>
    <strong>Nume companie:</strong>
    <%= factura.nume_companie %>
  </p>

  <p>
    <strong>Cui:</strong>
    <%= factura.cui %>
  </p>

  <p>
    <strong>Tara:</strong>
    <%= factura.tara %>
  </p>

  <p>
    <strong>Localitate:</strong>
    <%= factura.localitate %>
  </p>

  <p>
    <strong>Judet:</strong>
    <%= factura.judet %>
  </p>

  <p>
    <strong>Cod postal:</strong>
    <%= factura.cod_postal %>
  </p>

  <p>
    <strong>Strada:</strong>
    <%= factura.strada %>
  </p>

  <p>
    <strong>Numar adresa:</strong>
    <%= factura.numar_adresa %>
  </p>

  <p>
    <strong>Produs:</strong>
    <%= factura.produs %>
  </p>

  <p>
    <strong>Cantitate:</strong>
    <%= factura.cantitate %>
  </p>

  <p>
    <strong>Pret unitar:</strong>
    <%= factura.pret_unitar %>
  </p>

  <p>
    <strong>Valoare tva:</strong>
    <%= factura.valoare_tva %>
  </p>

  <p>
    <strong>Valoare totala:</strong>
    <%= factura.valoare_totala %>
  </p>
  <p>
  <strong>Status:</strong>
  <%= factura.status %>
</p>
</div>
