<%# app/views/facturas/facturi_xml.html.erb %>

<h1>Selectați o factură pentru a descărca XML-ul</h1>

<div class="row">
  <div class="col-md-6">
    <h2>Facturi pe Firmă</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Număr</th>
          <th>Data Emiterii</th>
          <th>Client</th>
          <th>Firma</th>
          <th>Cui</th>
          <th>Acțiune</th>
        </tr>
      </thead>
      <tbody>
        <% @facturas_pe_firma.each_with_index do |factura, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= factura.numar %></td>
            <td><%= factura.created_at.strftime('%Y-%m-%d') %></td>
            <td><%= factura.prenume %> <%= factura.nume %></td>
            <td><%= factura.nume_companie %></td>
            <td><%= factura.cui %></td>
            <td>
              <%= link_to 'Descarcă XML', download_xml_factura_path(factura), method: :get, class: 'btn btn-primary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h2>Toate Facturile</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Număr</th>
          <th>Data Emiterii</th>
          <th>Client</th>
          <th>Firma</th>
          <th>Cui</th>
          <th>Acțiune</th>
        </tr>
      </thead>
      <tbody>
        <% @facturas.each_with_index do |factura, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= factura.numar %></td>
            <td><%= factura.created_at.strftime('%Y-%m-%d') %></td>
            <td><%= factura.prenume %> <%= factura.nume %></td>
            <td><%= factura.nume_companie %></td>
            <td><%= factura.cui %></td>
            <td>
              <%= link_to 'Descarcă XML', download_xml_factura_path(factura), method: :get, class: 'btn btn-primary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
