<div class="container">
  <h1 class="text-center mb-4" style="color: #007bff; font-size: 3rem; text-shadow: 2px 2px #eee;">Users</h1>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Nume</th>
        <th>Email</th>
        <th>Role</th>
        <th>Curs</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= user.listacursuri.map(&:nume).join(', ') %></td>
          <td><%= link_to "Edit", edit_admin_path(user.id), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
