<div class="container" style="display:block;">
  <h1 class="text-center mb-4" style="color: #007bff; font-size: 3rem; text-shadow: 2px 2px #eee;">Users</h1>
 <div style="display: flex;">
    <%= search_form_for @q, url: url_for(controller: 'admin', action: 'index') do |f| %>
      <div class="input-group" style="width: 120%;">
        <%= f.search_field :name_or_email_cont, class: 'form-control', placeholder: 'Search by name or email' %>
        <div class="input-group-append">
          <%= f.submit 'Search', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <div class="d-inline-block" style="margin-left: 100px;margin-bottom:30px;">
      <%= button_to 'Show All Users', url_for(controller: 'admin', action: 'index'), method: :get, class: 'btn btn-secondary ml-2' %>
    </div>
  </div>
  Numar useri: <%=User.count%>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>User_id</th>
        <th>Nume</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Role</th>
        <th>Limba</th>
        <th>Cont activ</th>
        <th>Curs</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
        <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.telefon %></td>
          <td><%= user.role %></td>
          <td><%= user.limba %></td>
          <td><%= user.active %></td>
          <td><%= user.listacursuri.map(&:nume).join(', ') %></td>
          <td><%= link_to "Edit", edit_admin_path(user.id), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>

  <%= link_to "Adauga User", new_admin_path, class: "btn btn-primary" %>

</div>
