<p style="color: green"><%= notice %></p>

<%= render @cursuriayurveda %>

<div>
  <%= link_to "Edit this cursuriayurveda", edit_cursuriayurveda_path(@cursuriayurveda) %> |
  <%= link_to "Back to cursuriayurvedas", cursuriayurvedas_path %>

  <%= button_to "Destroy this cursuriayurveda", @cursuriayurveda, method: :delete %>
</div>
