<%= form_with(model: tv, local: true, html: {class: "needs-validation", novalidate: "", style: "width: 40%; margin: 0 auto;"}) do |form| %>
  <% if tv.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(tv.errors.count, "error") %> a împiedicat salvarea acestei înregistrări:</h4>
      <ul>
        <% tv.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :denumire, class: "form-label" %>
    <%= form.text_field :denumire, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :link, class: "form-label" %>
    <%= form.text_field :link, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :cine, "Lista celor care au acces", class: "form-label" %>
    <%= form.select :cine, [['all', 'all'], ['Listacanal1', 'Listacanal1'], ['Listacanal2', 'Listacanal2'],
     ['Listacanal3', 'Listacanal3'], ['rasayana1', 'rasayana1']],{ include_blank: true }, {class: "form-select"} %>
  </div>


  <div class="mb-3">
    <%= form.label :canal, class: "form-label" %>
    <%= form.number_field :canal, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :datainceput, class: "form-label" %>
    <%= form.date_field :datainceput, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :orainceput, class: "form-label" %>
    <%= form.time_field :orainceput, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :datasfarsit, class: "form-label" %>
    <%= form.date_field :datasfarsit, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :orasfarsit, class: "form-label" %>
    <%= form.time_field :orasfarsit, class: "form-control" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>