<div id="<%= dom_id tv %>">
  <p>
    <strong>Denumire:</strong>
    <%= tv.denumire %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= tv.link %>
  </p>

  <p>
    <strong>Cine:</strong>
    <%= tv.cine %>
  </p>

  <p>
    <strong>Canal:</strong>
    <%= tv.canal %>
  </p>

  <p>
    <strong>Datainceput:</strong>
    <%= tv.datainceput %>
  </p>

  <p>
    <strong>Orainceput:</strong>
    <%= tv.orainceput %>
  </p>

  

  <p>
    <strong>Datasfarsit:</strong>
    <%= tv.datasfarsit %>
  </p>

  <p>
    <strong>Orasfarsit:</strong>
    <%= tv.orasfarsit %>
  </p>

  

  <p>
    <strong>User:</strong>
    <%= tv.user_id %>
  </p>

  <p>
    <strong>Referinta:</strong>
    <%= tv.referinta %>
  </p>

</div>
