<% content_for :title, "Canal 2 - Canal 2 | Ayush Cell Romania" %>
<% content_for :description, "Descoperiți cunoasterea lui Jamadagni-Rishi, contributiile sale spirituale pentru o viață armonioasă!" %>
<% content_for :keywords, "Tradiția Ayurvedică, Jamadagni-Rishi, Ayush Cell Romania, înțelepciune hindusă, vindecare tradițională, spiritualitate, cunoaștere, Ayurveda, înțelept, mitologie hindusă, rishi" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/jamadagni">
<% end %>

<div class="container" id="jamadagni">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Ayuscell Tv Canal 2 - Ayuscell Tv Canal 2 Ayush Cell Romania</h1>
    <h2 class="main-title" >Ayuscell Tv Canal 2 - Ayuscell Tv Canal 2</h2>






<% if @exista_video %>

<h2><%=@denumire%></h2>
<h4>Aceasta inregistrare se poate reviziona pana la: <%=@data_sfarsit%> ora <%=@valabilitate_ora_sfarsit%></h4>


<div class="video" style="width: 100%; max-width: 640px; max-height: 360px; margin: 0 auto; background-image: url(<%= asset_path 'player.png' %>); background-size: 100%;">
    <div class="epyv-video-container" id="epyv-container[<%= @myvideo %>]">
        <div id="epytvPlayButton[<%= @myvideo %>]" class="play-button" onClick="clickToPlay('<%= @myvideo %>');"></div>
        <img id="epytvImage[<%= @myvideo %>]" src="/thumbnails/video-thumbnail-filename" />
        <div class="epyv-video-player" id="<%= @myvideo %>" data-params="controls=1,rel=1,autoplay=0"></div>
        <div id="epytvPlayerCounter[<%= @myvideo %>]" class="playerCounter" style="visibility: hidden;">10</div>
    </div>
</div></br>
<% else %>

<h1>In acest moment nu există nici o revizionare.</h1>
<% end %>
</div>
</div>