<style>
#revizionari1 .cr h2 {
    font-size:22px;
}
#revizionari1 .cr h3{
    font-size:18px;
    font-weight:800;
    margin-bottom:5px;
}
</style>

<% content_for :title, "Canal 1 | Ayush Cell Romania" %>
<% content_for :description, "Descoperiți cunoasterea ayurvedică!" %>
<% content_for :keywords, "Ayush Cell Romania, revizionari, cursuri, ayurveda, cursuri ayurveda" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/jamadagni">
<% end %>

<div class="container" id="revizionari1">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Canal 1  I  Ayush Cell Romania</h1>
    <h2 class="main-title" >Canal 1 - Vizionari cursuri Ayurveda</h2>








<% if @exista_video %>

<h2><%=@denumire%></h2>
<h4>Aceasta inregistrare se poate reviziona pana la: <%=@data_sfarsit%> ora <%=@valabilitate_ora_sfarsit%></h4>

<div class="video" style="width: 100%; max-width: 640px; max-height: 360px; margin: 0 auto; background-image: url(<%= asset_path 'player.png' %>); background-size: 100%;">
    <div class="epyv-video-container" id="epyv-container[<%= @myvideo %>]">
        <div id="epytvPlayButton[<%= @myvideo %>]" class="play-button" onClick="clickToPlay('<%= @myvideo %>');"></div>
        <img id="epytvImage[<%= @myvideo %>]" src="/thumbnails/video-thumbnail-filename" />
        <div class="epyv-video-player" id="<%= @myvideo %>" data-params="controls=1,rel=1,autoplay=0"></div>
        <div id="epytvPlayerCounter[<%= @myvideo %>]" class="playerCounter" style="visibility: hidden;">10</div>
    </div>
</div></br>
<% else %>

<h3>In acest moment nu există nici o revizionare.</h3>
<p>In acest moment nu există nici o revizionare.</p>
<% end %>

</div>
</div>