<!-- Partea de sus a fișierului app/views/home/about.html.erb -->
<% content_for :custom_js do %>
    <%= raw File.read(Rails.root.join('app', 'javascript', 'epytv.js')) %>
    <% end %>



<style>
#seminarii .cr h2 {
    font-size:22px;
}
#seminarii .cr h3{
    font-size:18px;
    font-weight:800;
    margin-bottom:5px;
}
</style>

<% content_for :title, "Seminarii | Ayush Cell Romania" %>
<% content_for :description, "Descoperiți tradiția ayurvedică!" %>
<% content_for :keywords, "Ayush Cell Romania, revizionari, cursuri, ayurveda, cursuri ayurveda" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/seminarii">
<% end %>

<div class="container" id="seminarii">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Rasayana  I  Ayush Cell Romania</h1>
    <h2 class="main-title" >Rasayana - Modulul 1 </h2>


<p>Curs Rasayana</p>
    

    
    
            <% if @exista_video %>
                <% if current_user %>
                        <h2><%=@denumire%></h2>
                        <h4>Aceasta inregistrare se poate reviziona de la <%=@data_inceput%> ora <%=@valabilitate_ora_inceput%> pana la <%=@data_sfarsit%> ora <%=@valabilitate_ora_sfarsit%></h4>


                        <div class="video" style="width: 100%; max-width: 640px; max-height: 360px; margin: 0 auto; background-image: url(<%= asset_path 'player.png' %>); background-size: 100%;">
                            <div class="epyv-video-container" id="epyv-container[<%= @myvideo %>]">
                                <div id="epytvPlayButton[<%= @myvideo %>]" class="play-button" onClick="clickToPlay('<%= @myvideo %>');"></div>
                                <img id="epytvImage[<%= @myvideo %>]" src="/thumbnails/video-thumbnail-filename" />
                                <div class="epyv-video-player" id="<%= @myvideo %>" data-params="controls=1,rel=1,autoplay=0"></div>
                                <div id="epytvPlayerCounter[<%= @myvideo %>]" class="playerCounter" style="visibility: hidden;">10</div>
                            </div>
                        </div></br>



                        <% if @video_url_m3u8 %>
                        <div class="cont">
                        <h1 class="name" style="font-size:1.8em;">Cursuri de Ayurveda</h1>
                  
                        <div id="video" style="margin:0 auto; text-align:center;min-width: 640px; min-height:320px;">
                          <video id="curs" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" crossorigin="anonymous" width="640" height="360" playsinline>
                            <source src="<%= @video_url_m3u8 %>" type="application/x-mpegURL">
                            <track kind="subtitles" src="subtitles_en.vtt" srclang="en" label="English" default>
                            <track kind="subtitles" src="subtitles_fr.vtt" srclang="fr" label="French">
                            <track kind="subtitles" src="subtitles_es.vtt" srclang="es" label="Spanish">
                          </video>
                        </div>
                  
                        <script src="https://vjs.zencdn.net/7.20.3/video.js"></script>
                        <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
                  
                        <canvas id="container-error-35789" class="hidden-element tempCanvas" width="0" height="0" style="position: relative; top: -9999px; left: -9999px; pointer-events: none; z-index: -1;"></canvas>
                      </div>
                      <% end %>  










    



                <% else %>
                    <h3>Va rugam sa va logati pentru acces la prezentarea video</h3>
                <% end %>
            <% else %>

            <h3>In acest moment nu este programata nicio vizionare.</h3>
            

            <% end %>
    
            <%= link_to 'Accesează pagina de prezentare a cursului de Rasayana', rasayana_modul1_path, class: 'nav-item' %></br>
</div>
</div>

<script>
console.log('Script simplu! canal2');
</script>



<script>



console.log("Pagina a fost încărcată/reîncărcată canal2.");

document.addEventListener('DOMContentLoaded', function() {
  console.log("Pagina încărcată cu Dom! canal2");
  });
    
    document.addEventListener("turbo:load", function() {
      console.log("Pagina încărcată cu Turbo canal2");
    var orareInceputAzi = <%= raw @orare_inceput_sfarsit_azi.to_json %>;
    
    console.log("Orare de inceput:", orareInceputAzi);

    function verificaSiReincarcaPagina() {
      var oraCurenta = new Date().toLocaleTimeString('ro-RO', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Bucharest' });
      console.log("Ora curenta:", oraCurenta); // Vezi ce ora exactă se generează

      if (orareInceputAzi.includes(oraCurenta)) {
        console.log("Se face refresh!");
        window.location.reload();
      } else {
        console.log("Nu se face refresh, ora curentă nu este în array.");
      }
    }

    setInterval(verificaSiReincarcaPagina, 60000);
    
    
   
});
</script>

<div data-controller="epytv">
    <!-- Elementul DOM aici va fi controlat de epytv_controller.js -->
</div>
<script>
  document.addEventListener("turbo:load", function() {
    document.querySelectorAll('.no-turbo').forEach(link => {
      link.setAttribute('data-turbo', 'false');
    });
  });
</script>




<script>
document.addEventListener('DOMContentLoaded', function() {
    var player = videojs('curs', {
        controls: true,
        preload: 'auto',
        techOrder: ['html5'],
        fluid: true, // Asigură-te că video-ul este responsive
        responsive: true, // Responsivitate pe mobil
        aspectRatio: '16:9' // Setează raportul video
    });

    var canvas = document.getElementById('container-error-35789');
    var ctx = canvas.getContext('2d');
    var watermark = " ";

    function drawWatermark() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.font = '12px Arial';
        ctx.fillStyle = 'rgba(255, 0, 0, 0.5)';
        ctx.fillText(watermark, 0, 0);
    }

    function updateCanvas() {
        drawWatermark();
        if (!player.paused() && !player.ended()) {
            requestAnimationFrame(updateCanvas);
        }
    }

    player.on('play', function() {
        updateCanvas();
    });

    player.on('pause', function() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    });

    player.on('ended', function() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    });
});

document.addEventListener("turbo:load", function() {
    document.querySelectorAll('.no-turbo').forEach(link => {
        link.setAttribute('data-turbo', 'false');
    });
});


</script>









<script>
<%= yield :custom_js %>
</script>