



<style>
#seminarii .cr h2 {
    font-size:22px;
}
#seminarii .cr h3{
    font-size:18px;
    font-weight:800;
    margin-bottom:5px;
}
</style>

<% content_for :title, "Seminarii | Ayush Cell Romania" %>
<% content_for :description, "Descoperiți tradiția ayurvedică!" %>
<% content_for :keywords, "Ayush Cell Romania, revizionari, cursuri, ayurveda, cursuri ayurveda" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/seminarii">
<% end %>

<div class="container" id="seminarii">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Seminarii  I  Ayush Cell Romania</h1>
    <h2 class="main-title" >Seminarii - Vizionari - Cursuri Ayurveda</h2>


<p>Bine ați venit pe pagina noastră dedicată reluărilor seminariilor Ayush Cell România! Aici aveți oportunitatea unică de a viziona gratuit ultimele noastre seminarii, o comoară de cunoaștere și înțelepciune ayurvedică. Seminariile noastre acoperă o gamă largă de subiecte, oferindu-vă șansa să explorați diverse aspecte ale Ayurvedei. Indiferent de nivelul dvs. de experiență sau interes, aici veți găsi informații valoroase care să vă îmbogățească cunoașterea și să vă inspire in practica dumneavoastră spirituală.</p>
    

    
    
            <% if @exista_video %>
                <% if current_user %>
                        <h2><%=@denumire%></h2>
                        <h4>Aceasta inregistrare se poate reviziona de la <%=@data_inceput%> ora <%=@valabilitate_ora_inceput%> pana la <%=@data_sfarsit%> ora <%=@valabilitate_ora_sfarsit%></h4>


                        <div class="video" style="width: 100%; max-width: 640px; max-height: 360px; margin: 0 auto; background-image: url(<%= asset_path 'player.png' %>); background-size: 100%;">
                            <div class="epyv-video-container" id="epyv-container[<%= @myvideo %>]">
                                <div id="epytvPlayButton[<%= @myvideo %>]" class="play-button" onClick="clickToPlay('<%= @myvideo %>');"></div>
                                <img id="epytvImage[<%= @myvideo %>]" src="/thumbnails/video-thumbnail-filename" />
                                <div class="epyv-video-player" id="<%= @myvideo %>" data-params="controls=1,rel=1,autoplay=0"></div>
                                <div id="epytvPlayerCounter[<%= @myvideo %>]" class="playerCounter" style="visibility: hidden;">10</div>
                            </div>
                        </div></br>
                <% else %>
                    <h3>Va rugam sa va logati pentru acces la prezentarea video</h3>
                <% end %>
            <% else %>

            <h3>In acest moment nu există nici o revizionare.</h3>
            <p>Următoarea revizionare va avea loc in ziua de marti in intervalul orar 18:00 - 24:00</p>

            <% end %>
    

</div>
</div>

<script>
console.log('Script simplu! canal2');
</script>



<script>



console.log("Pagina a fost încărcată/reîncărcată canal2.");

document.addEventListener('DOMContentLoaded', function() {
  console.log("Pagina încărcată cu Dom! canal2");
  });
    
    document.addEventListener("turbo:load", function() {
      console.log("Pagina încărcată cu Turbo canal2");
    var orareInceputAzi = <%= raw @orare_inceput_sfarsit_azi.to_json %>;
    
    console.log("Orare de inceput:", orareInceputAzi);

    function verificaSiReincarcaPagina() {
      var oraCurenta = new Date().toLocaleTimeString('ro-RO', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Bucharest' });
      console.log("Ora curenta:", oraCurenta); // Vezi ce ora exactă se generează

      if (orareInceputAzi.includes(oraCurenta)) {
        console.log("Se face refresh!");
        window.location.reload();
      } else {
        console.log("Nu se face refresh, ora curentă nu este în array.");
      }
    }

    setInterval(verificaSiReincarcaPagina, 60000);
    
    
   
});
</script>

<div data-controller="epytv">
    <!-- Elementul DOM aici va fi controlat de epytv_controller.js -->
</div>
