<div id="<%= dom_id localitati %>">
  <p>
    <strong>Cod:</strong>
    <%= localitati.cod %>
  </p>

  <p>
    <strong>Judetid:</strong>
    <%= localitati.judetid %>
  </p>

  <p>
    <strong>Denumire:</strong>
    <%= localitati.denumire %>
  </p>

  <p>
    <strong>Denj:</strong>
    <%= localitati.denj %>
  </p>

  <p>
    <strong>Abr:</strong>
    <%= localitati.abr %>
  </p>

  <p>
    <strong>Cod vechi:</strong>
    <%= localitati.cod_vechi %>
  </p>

</div>
