<div class="cform">
<%= form_with(model: prod) do |form| %>
  <% if prod.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prod.errors.count, "error") %> prohibited this prod from being saved:</h2>

      <ul>
        <% prod.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div>
    <%= form.label :nume, style: "display: block" %>
    <%= form.text_area :nume, class: "form-control" %>
  </div>

  <div>
    <%= form.label :detalii, style: "display: block" %>
    <%= form.text_area :detalii, class: "form-control" %>
  </div>

  <div>
    <%= form.label :luna, style: "display: block" %>
    <%= form.text_area :luna, class: "form-control" %>
  </div>

  <div>
    <%= form.label :pret, style: "display: block" %>
    <%= form.text_field :pret, class: "form-control" %>
  </div>

  <div>
    <%= form.label :valabilitatezile, style: "display: block" %>
    <%= form.number_field :valabilitatezile, class: "form-control" %>
  </div>

  <div>
    <%= form.label :curslegatura, style: "display: block" %>
    <%= form.text_field :curslegatura, class: "form-control" %>
  </div>

  <div>
    <%= form.label :linkstripe, style: "display: block" %>
    <%= form.text_field :linkstripe, class: "form-control" %>
  </div>
  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status, class: "form-control" %>
  </div>
  <div>
  <%= form.label :cod, style: "display: block" %>
  <%= form.text_field :cod, class: "form-control" %>
</div>
<div>
  <%= form.label :tva, style: "display: block" %>
  <%= form.text_field :tva, class: "form-control" %>
</div>
  
  <div>
  <%= form.submit "Submit", class: "btncontact" %>
  </div>
<% end %>
</div>