<div id="<%= dom_id prod %>">
  <p>
    <strong>Nume:</strong>
    <%= prod.nume %>
  </p>

  <p>
    <strong>Detalii:</strong>
    <%= prod.detalii %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= prod.info %>
  </p>

  <p>
    <strong>Pret:</strong>
    <%= prod.pret %>
  </p>

  <p>
    <strong>Valabilitatezile:</strong>
    <%= prod.valabilitatezile %>
  </p>

  <p>
    <strong>Curslegatura:</strong>
    <%= prod.curslegatura %>
  </p>

  <p>
    <strong>Link la stripe:</strong>
    <%= prod.linkstripe %>
  </p>
  <p>
  <strong>Status:</strong>
  <% if prod.status.present? %>
    <%= prod.status %>
  <% else %>
    Nu a fost setat încă un status
  <% end %>
</p>

<p>
    <strong>Cod:</strong>
    <%= prod.cod %>
  </p>

</div>
