<div style="margin:0 auto; max-width:1280px;">
<p style="color: green"><%= notice %></p>

<h1 class="ch1">Produse</h1> </br>
<%= link_to 'Inapoi la Panou administrare', panouadmin_path, class: "btn btn-primary" %></br></br>
<%= link_to "Adauga produs nou", new_prod_path, class: "btn btn-success" %></br></br>
<table class="table">
  <thead>
    <tr>
      <th scope="col", style: "text-align: center;">#</th>
      <th scope="col">Nume</th>
      <th scope="col">Detalii</th>
      <th scope="col">Luna</th>
      <th scope="col">Pret</th>
      <th scope="col">Legatura</th>
      <th scope="col">Zile</th>
      <th scope="col">Link stripe </th>
      <th scope="col">Status </th>
      <th scope="col">Cod</th>
      <th scope="col">Actiune</th>
    </tr>
  </thead>
  <tbody>
    <% @prods.each do |prod| %>
      <tr>
        <th scope="row", style: "text-align: center;"><%= prod.id %></th>
        <td><%= prod.nume %></td>
        <td><%= prod.detalii %></td>
        <td><%= prod.luna %></td>
        <td><%= prod.pret %></td>
        <td><%= prod.curslegatura %></td>
        <td><%= prod.valabilitatezile %></td>
        <td><%= prod.linkstripe %></td>
        <td><%= prod.status %></td>
        <td><%= prod.cod %></td>
        <td>
          <%= link_to "Show", prod, class: "btn btn-primary", style: "margin: 3px;" %>
          <%= link_to "Edit", edit_prod_path(prod), class: "btn btn-secondary", style: "margin: 3px;" %>
          <%= link_to "Delete", prod, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style: "margin: 3px;" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>