<h3>Numar vizitatori pe zi:</h3><%= line_chart @visits_per_day %>
<h3>Browsere folosite</h3><%= line_chart @browsers %>

<h3>Accesari din:</h3> <% @os_stats.each do |os, count| %>
    <p><%= os %>: <%= count %></p>
  <% end %>
  <h3>Tipul de dispozitiv:</h3> <% @device_stats.each do |device_type, count| %>
    <%if device_type=="Phablet"%>
       <%device_type="Tableta"%>
       <p><%= device_type %>: <%= count %></p>
    <%else%>   
       <p><%= device_type %>: <%= count %></p>
    <%end%>   
  <% end %>
