<%= link_to "Download XML", xml_animaplant_path(download: true), class: "btn btn-primary" %>
<p><strong>Număr de produse:</strong> <%= @product_count %></p>
<p>Row nr 250: <%=  @second_row[107] %></p>
<p>Row nr 250: <%=  @second_row[113] %></p>
<p>Row nr 250: <%=  @second_row[119] %></p>
<p>Row nr 250: <%=  @second_row[125] %></p>
<p>Row nr 250: <%=  @second_row[131] %></p>
<p>Row nr 250: <%=  @second_row[137] %></p>
<p>Row nr 250: <%=  @second_row[143] %></p>
<p>Row nr 250: <%=  @second_row[149] %></p>
<p>Row nr 250: <%=  @second_row[155] %></p>
<p>Row nr 250: <%=  @second_row[161] %></p>
<p>Row nr 250: <%=  @second_row[167] %></p>
<p>Row nr 250: <%=  @second_row[173] %></p>
<p>Row nr 250: <%=  @second_row[179] %></p>
<p>Row nr 250: <%=  @second_row[24] %> <%=  @second_row[7] %> Lei</p> <!--Cargus National-->
<p>Total:  <%=  @second_row[15] %> Lei
<p>Header Row Count: <%= @header_row.count %></p>
<p>Header Row: <%= @header_row.inspect %></p>

<br><br>

<p>Second Row Count: <%= @second_row.count %></p>
<p>Second Row: <%= @second_row.inspect %></p>
