<div id="<%= dom_id date_facturare %>">
  <p>
    <strong>User:</strong>
    <%= date_facturare.user_id %>
  </p>

  <p>
    <strong>Firma:</strong>
    <%= date_facturare.firma_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= date_facturare.email %>
  </p>

  <p>
    <strong>Prenume:</strong>
    <%= date_facturare.prenume %>
  </p>

  <p>
    <strong>Nume:</strong>
    <%= date_facturare.nume %>
  </p>

  <p>
    <strong>Numecompanie:</strong>
    <%= date_facturare.numecompanie %>
  </p>

  <p>
    <strong>Cui:</strong>
    <%= date_facturare.cui %>
  </p>

  <p>
    <strong>Tara:</strong>
    <%= date_facturare.tara %>
  </p>

  <p>
    <strong>Codpostal:</strong>
    <%= date_facturare.codpostal %>
  </p>

  <p>
    <strong>Strada:</strong>
    <%= date_facturare.strada %>
  </p>

  <p>
    <strong>Numar:</strong>
    <%= date_facturare.numar %>
  </p>

  <p>
    <strong>Altedate:</strong>
    <%= date_facturare.altedate %>
  </p>

  <p>
    <strong>Telefon:</strong>
    <%= date_facturare.telefon %>
  </p>

  <p>
    <strong>Adresaemail:</strong>
    <%= date_facturare.adresaemail %>
  </p>

  <p>
    <strong>Localitate:</strong>
    <%= date_facturare.localitate %>
  </p>

  <p>
    <strong>Judet:</strong>
    <%= date_facturare.judet %>
  </p>

  <p>
    <strong>Grupa2324:</strong>
    <%= date_facturare.grupa2324 %>
  </p>

  <p>
    <strong>Cpa:</strong>
    <%= date_facturare.cpa %>
  </p>

</div>
