<div id="<%= dom_id listaproprietati %>">
  <p>
    <strong>Idx:</strong>
    <%= listaproprietati.idx %>
  </p>

  <p>
    <strong>Proprietateter:</strong>
    <%= listaproprietati.proprietateter %>
  </p>

  <p>
    <strong>Tipp:</strong>
    <%= listaproprietati.tipp %>
  </p>

  <p>
    <strong>Srota:</strong>
    <%= listaproprietati.srota %>
  </p>

  <p>
    <strong>Definire:</strong>
    <%= listaproprietati.definire %>
  </p>

  <p>
    <strong>Sinonime:</strong>
    <%= listaproprietati.sinonime %>
  </p>

  <p>
    <strong>Selectie:</strong>
    <%= listaproprietati.selectie %>
  </p>

  <p>
    <strong>Sel:</strong>
    <%= listaproprietati.sel %>
  </p>

</div>
