<section class="login">
<h2 class="ch1">Schimbați-vă parola</h2>
<div class="cform">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "Parola nouă" %><br />
      <% if @minimum_password_length %>
        <em >(minim <%= @minimum_password_length %> caractere)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmă parola nouă" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Schimbați parola", class: "btncontact" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</section>
