<div id="<%= dom_id an32324 %>">
  <p>
    <strong>Email:</strong>
    <%= an32324.email %>
  </p>

  <p>
    <strong>Nume:</strong>
    <%= an32324.nume %>
  </p>

  <p>
    <strong>Telefon:</strong>
    <%= an32324.telefon %>
  </p>

  <p>
    <strong>Sep:</strong>
    <%= an32324.sep %>
  </p>

  <p>
    <strong>Oct:</strong>
    <%= an32324.oct %>
  </p>

  <p>
    <strong>Nov:</strong>
    <%= an32324.nov %>
  </p>

  <p>
    <strong>Dec:</strong>
    <%= an32324.dec %>
  </p>

  <p>
    <strong>Ian:</strong>
    <%= an32324.ian %>
  </p>

  <p>
    <strong>Feb:</strong>
    <%= an32324.feb %>
  </p>

  <p>
    <strong>Mar:</strong>
    <%= an32324.mar %>
  </p>

  <p>
    <strong>Apr:</strong>
    <%= an32324.apr %>
  </p>

  <p>
    <strong>Mai:</strong>
    <%= an32324.mai %>
  </p>

  <p>
    <strong>Iun:</strong>
    <%= an32324.iun %>
  </p>

  <p>
    <strong>Iul:</strong>
    <%= an32324.iul %>
  </p>

  <p>
    <strong>Pret:</strong>
    <%= an32324.pret %>
  </p>

</div>
