<p style="color: green"><%= notice %></p>

<%= render @an32324 %>

<div>
  <%= link_to "Edit this an32324", edit_an32324_path(@an32324) %> |
  <%= link_to "Back to an32324s", an32324s_path %>

  <%= button_to "Destroy this an32324", @an32324, method: :delete %>
</div>
