<section class="c1">
<div class="cform">
<%= form_with(model: video) do |form| %>
  <% if video.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nume, style: "display: block; width: 400px;" %>
    <%= form.text_field :nume, style: "display: block; width: 700px;" %>
  </div>

  <div class="form-group">
    <%= form.label :descriere, style: "display: block" %>
    <%= form.text_area :descriere, style: "display: block; width: 700px;" %>
  </div>

  <div>
    <%= form.label :sursa, style: "display: block" %>
    <%= form.text_field :sursa, style: "display: block; width: 700px;" %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link, style: "display: block; width: 700px;" %>
  </div>

  <div>
  <%= form.label :tip, style: "display: block" %>
  <%= form.text_field :tip, style: "display: block; width: 700px;" %>
</div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>
</section>