<div id="<%= dom_id video %>">
  <p>
    <strong>Nume:</strong>
    <%= video.nume %>
  </p>

  <p>
    <strong>Descriere:</strong>
    <%= video.descriere %>
  </p>

  <p>
    <strong>Sursa:</strong>
    <%= video.sursa %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= video.link %>
  </p>

</div>
