<td>
    <% if video.ordine >= 1000 && video.ordine < 2000 %>
      <%= video.ordine - 1000 %>
    <% else %>
      <%= video.ordine %>
    <% end %>
  </td>
  <td><%= video.nume %></td>
  <td><%= video.descriere %></td> 
  <td>   
    <%if video.tip== 'tayt12'%>
      <%= link_to "Vezi video", myvideo4_path(id: video.id, link: video.link), class: "btn btn-primary" %>
    <%else%>
      <%= link_to "Vezi video", myvideo1_path(id: video.id, link: video.link), class: "btn btn-primary" %>
    <%end%>
  </td>  
</tr>
