<!-- for non autoplay video //-->
<div style="width: 80%; max-width: 640px; max-height: 360px; margin: 0 auto;">
    <div class="epyv-video-container" id="epyv-container[wFsOFLPw3V8]">
        <div id="epytvPlayButton[wFsOFLPw3V8]" class="play-button" onClick="clickToPlay('wFsOFLPw3V8');"></div>
        <img id="epytvImage[wFsOFLPw3V8]" src="/thumbnails/video-thumbnail-filename" /> 
        <div class="epyv-video-player" id="wFsOFLPw3V8" data-params="controls=1,rel=1,autoplay=0"></div>
        <div id="epytvPlayerCounter[wFsOFLPw3V8]" class="playerCounter" style="visibility: hidden;">10</div>
    </div>
</div></br></br>

<!-- for non autoplay video //-->
<div style="width: 80%; max-width: 640px; max-height: 360px; margin: 0 auto;">
    <div class="epyv-video-container" id="epyv-container[@myvideo]">
        <div id="epytvPlayButton[@myvideo]" class="play-button" onClick="clickToPlay('@myvideo');"></div>
        <img id="epytvImage[@myvideo]" src="/thumbnails/video-thumbnail-filename" /> 
        <div class="epyv-video-player" id="@myvideo" data-params="controls=1,rel=1,autoplay=0"></div>
        <div id="epytvPlayerCounter[@myvideo]" class="playerCounter" style="visibility: hidden;">10</div>
    </div>
</div></br></br>


<div style="width: 80%; max-width: 640px; max-height: 360px; margin: 0 auto;">
    <div class="epyv-video-container" id="epyv-container-<%= @myvideo %>">
        <div id="epytvPlayButton-<%= @myvideo %>" class="play-button" onClick="clickToPlay('<%= @myvideo %>');"></div>
        <img id="epytvImage-<%= @myvideo %>" src="/thumbnails/video-thumbnail-filename" />
        <div class="epyv-video-player" id="<%= @myvideo %>" data-params="controls=1,rel=1,autoplay=0"></div>
        <div id="epytvPlayerCounter-<%= @myvideo %>" class="playerCounter" style="visibility: hidden;">10</div>
    </div>
</div>


<!-- for non autoplay video //-->
<div style="width: 80%; max-width: 640px; max-height: 360px; margin: 0 auto;">
    <div class="epyv-video-container" id="epyv-container[pqKdFhDoJfQ]">
        <div id="epytvPlayButton[pqKdFhDoJfQ]" class="play-button" onClick="clickToPlay('pqKdFhDoJfQ');"></div>
        <img id="epytvImage[pqKdFhDoJfQ]" src="/thumbnails/video-thumbnail-filename" /> 
        <div class="epyv-video-player" id="pqKdFhDoJfQ" data-params="controls=1,rel=1,autoplay=0"></div>
        <div id="epytvPlayerCounter[pqKdFhDoJfQ]" class="playerCounter" style="visibility: hidden;">10</div>
    </div>
</div>


