<p style="color: green"><%= notice %></p>

<%= render @video %>

<div>
  <%= link_to "Edit this video", edit_video_path(@video) %> 
  <%= link_to "Back to videos", videos_path %></br></br></br></br>

  <%= button_to "Sterge video", @video, method: :delete %></br>
</div>
