
<div class="cont"> 
<section>
  <h1 class="name"><%=@titlu_pagina%></h1> 
  <h1 class="name">Tabara de ayurveda 2023 etapa de toamna</h1>
<div class="row1">
    <div class="r1c1">
      
      <img src="<%= image_url('tayt12.jpg') %>" alt="Curs de Ayurveda">
    </div>
    <div class="r1c2">
      <h2>Data desfasurarii</h2> 
      <p>Partea 1 - 26, 27, 28 și 29 octombrie 2023<p>
      <p>Partea 2 - 30 noiembrie, 1, 2, 3 decembrie 2023</p>
      <h2>Teme abordate</h2>
      <p>Partea 1 - Prezentarea celor 10 calități cu rol formator - Nirmanya-Guna</p>
      <p>Partea 2 - Prezentarea celor 20 calități generale - Vimshati-Guna</p>
      
      <h2>Cine poate participa?</h2>
      <p>- Lectorii de ayurveda</p>
      <p>- Cursanții ayurveda</p>
      <p>- Persoanele care nu participă la cursurile de ayurveda</p>
   </div>
  </div>
  <div class="r2">
     
 </div></section>
 <section>
    <h2 style="font-size: 1.2em; margin: 10px 0 0 0;">NIRMANYA-GUNA</h2></br>
    <p>Termenul sanscrit guna este utilizat în cadrul sistemului Ayurveda şi cu sensul de calitate generală formatoare (nirmanya-guna). În Ayurveda sunt cunoscute zece astfel de calităţi generale formatoare (nirmanya-guna) şi anume acestea sunt: 1. predominanţa (para), 2. subordonarea (apara), 3. proprietatea (yukti), 4. numărul (samkhya), 5. combinaţia (samyoga), 6. diviziunea (vibhaga), 7. separaţia (prithaktva), 8. măsurarea (parimana), 9. transformarea (samskara) şi 10. repetiţia (abhyasa). 
Toate aceste calităţi generale formatoare (nirmanya-guna) acţionează ca nişte sui-generis „operatori” (prachalaka), care au rolul de a modula într-o anumită manieră specifică raporturile de interacţiune dintre diferitele forţe sau energii subtile formatoare, care contribuie la alcătuirea unei anumite structuri sau a unei anumite forme animate, vii ori a unei structuri ori forme ne-animate, ne-vii. 
Calităţile generale formatoare (nirmanya-guna) măsoară de fapt specificitatea alcătuirii din punct de vedere subtil a unei anumite structuri, prin evidenţierea raporturilor existente între forţele şi energiile subtile care constituie factorii formatori ai acelei structuri sau a acelei forme. Tocmai de aceea, calităţile generale formatoare (nirmanya-guna) sunt considerate în Ayurveda ca fiind factori esenţiai de diferenţiere structurală, în întreaga manifestare.</p>
<h2 style="font-size: 1.2em; margin: 10px 0 0 0;">VIMSHATI-GUNA</h2></br>
     <p>În Ayurveda, termenul sanscrit guna se referă cel mai frecvent la conceptul de calitate generală de bază (adhara-guna), care este totodată și o calitate perceptibilă și care are un important rol de diferențiere definitorie. O astfel de calitate generală esențială (adhara-guna) este descrisă și definită dintr-un punct de vedere mai puțin abstract și general sau, cu alte cuvinte, ea este expusă și descrisă într-un cadru care este mult mai apropiat de manifestarea sensibilă, care poate fi percepută prin intermediul simțurilor și al percepțiilor umane comune, în general
Tratatul fundamental de Ayurveda Charaka-Samhita menționează următoarele 20 de calități generale (guna) care se grupează în 10 perechi complementare: greu (guru) -  ușor (laghu); fierbinte/ cald (ushna) – rece/răcoros (shita); uscat (ruksha) – umed-uleios (snigdha); aspru (khara) – neted-bălos (slakshna);  rapid/fulgerător (tikshna) - încet/ lent (manda); mobil/mișcător (chala) – imobil/static (sthira); ); tare/dur (kathina) – moale/fin (mridu); solid/dens (sandra) – lichid/fluid (drava); limpede/subțire (vishadha) – tulbure/vâscos (picchila); subtil (sukshma) - grosier (sthula);
Conceptul ayurvedic de calitate generală (guna), precum și întreg sistemul celor 20 de calități generale (vimshati-guna) constituie fundamentul teoretic și practic al întregii științe tradiționale aplicative a sistemului Ayurveda, cu toate ramurile sale.</p>
</section>
<%if !@has_access%>

<section>
<h1 class="alimente-nutritionale">Acces prezentari ZOOM Tabara de Ayurveda 2023 etapa de toamna  partile 1 si 2 </h1>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class= "desk">
            <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
            <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
            <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
            <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
        </tr>      
    </thead>
    <tbody>
        <% required_cod_for_special_products = ["cod40", "cod41", "cod42", "cod43", "cod44", "cod45"] %>
        <% @prod_tayt12.each do |prod| %>
            <% next if prod.cod == "cod48" && current_user&.email != "aaa@yahoo.com" && current_user&.role != 2 %>
            <% next if prod.cod == "cod63" %>
            <% special_product = ["cod54", "cod64"].include?(prod.cod) %>
            <% product_accessible = current_user.nil? || has_required_products?(current_user, required_cod_for_special_products) || current_user.role == 1 %>
            <% display_popup = special_product && !product_accessible %>
            <tr>
                <td> <%= prod.nume %> </td>                                   
                <td><%= prod.detalii %></td>                    
                <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>          
                <td style="text-align:center;"> 
                    <% if ["cod40", "cod42", "cod44"].include?(prod.cod) && Time.now.to_date >= Date.new(2023,10,19) %>
                        <%= button_to 'Inactiv', '#', class: 'btn btn-secondary', disabled: true %>
                    <% elsif display_popup %>
                    <% order_path = current_user ? "javascript:void(0);" : new_user_session_path %>
                    <% confirmation_message = current_user ? "Inscrie-te la tabara pentru a putea comanda acest produs." : "Va rugam sa va logati pentru a putea comanda." %>
                    <%= link_to 'Comanda', order_path, class: 'btn btn-primary', onclick: "if(!#{product_accessible}) { alert('#{confirmation_message}'); return false; }" %>
                <% else %>
                    <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %>
                <% end %>
                </td>           
            </tr>
        <% end %>
    </tbody>
</table>
</div></br>
<%end%>
</section>
<%if @has_access%>

<section class="c1" style="margin:0;">

<!--
<h2 class="ch1">Datele de logare pe platforma ZOOM:</h2>
<h2 class="ch1" style="margin-top: -20px;">partea 1 – 26, 27, 28, 29 octombrie 2023</h2>
<h2 class="ch1" style="margin-top: 0px;">sesiunea de dimineață - 09:00-12:00 - live</h2>
<h3 class="ch1" style="text-align: left; margin-top: 20px;">Link acces ZOOM: <a href="https://us02web.zoom.us/j/81935174532?pwd=Uldybmk3SzFNNjQ2emhxWERIL3FRQT09">https://us02web.zoom.us/j/81935174532?pwd=Uldybmk3SzFNNjQ2emhxWERIL3FRQT09</a></h3>
<h3 class="ch1" style="text-align: left; margin-top: -20px;">Meeting ID: 819 3517 4532</h3>
<h3 class="ch1" style="text-align: left; margin-top: -20px;">Passcode: 894301</h3>
</br>
<h2 class="ch1" style="margin-top: -20px;">sesiunea de după-amiază - 15:00-18:00 - live</h2>
<h3 class="ch1" style="text-align: left; margin-top: 20px;">Link acces ZOOM: <a href="https://us02web.zoom.us/j/84030284277?pwd=Vm5nZ2d0Skgzak44N1hKcVVtenhDQT09">https://us02web.zoom.us/j/84030284277?pwd=Vm5nZ2d0Skgzak44N1hKcVVtenhDQT09</a></h3>
<h3 class="ch1" style="text-align: left; margin-top: -20px;">Meeting ID: 840 3028 4277</h3>
<h3 class="ch1" style="text-align: left; margin-top: -20px;">Passcode: 761565</h3>
-->



<div><h3 class="ch1" style="text-align: left;margin-top:20px;font-size:20px;">Programul in format PDF al partii 1 al taberei de ayurveda etapa de toamna <a href="/pdf/tayt12/Program 2023 detaliat - toamna - partea 1 v03.pdf", <%= tag :a, download: '' %>poate fi descarcat de aici</a></h3></div>





</section>


<section>
<div id="videos">
<h2 style= "text-align: center;padding: 0 10px; margin-top:40px;">Inregistrari video preliminare</h2></br>
  <table class="table">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>
       
        <th>Actiune</th>
      </tr>
    </thead>
    <tbody>
    <% @myvideo.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>


</section>
<section>
<%if @has_access_cursuri%>
<h2 style= "text-align: center;padding: 0 10px; margin-top:20px;">Inregistrari video Tabara de toamna</h2></br>




<div id="videos">
  <table class="table">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>
       
        <th>Actiune</th>
      </tr>
    </thead>
    <tbody>
    <% @myvideo2.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>

<%else%>
<h1 class="alimente-nutritionale">Acces inregistrari Tabara de Ayurveda 2023 etapa de toamna  partea 1 </h1>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class= "trdesk">
            <th style="text-align: left; height: 50px; vertical-align:middle; width: 30%;">Servicii</th>                    
            <th style="text-align: left; height: 50px; vertical-align:middle; width: 30%;">Detalii</th>
            
            <th style="text-align: left; height: 50px; vertical-align:middle; width: 14%;">Pret</th>
            <th style="text-align: left; height: 50px; vertical-align:middle; width: 12%;">Actiune</th>
        </tr>      
    </thead>
        <tbody>
        <% @prod_tayt12.select{ |prod| prod.curslegatura == 'tayt12' && prod.pret > 0 }.each do |prod| %>
            <% if prod.cod != "cod48" || (current_user && prod.cod == "cod48" && current_user.email == "aaa@gmail.com") %>
          
            <% if ["cod54"].include?(prod.cod) && current_user && (has_purchased_product?(current_user, @prod_tayt12) || current_user.role == 1) %>

                <tr>
                    <td> <%= prod.nume %> </td>         
                                       
                    <td><%= prod.detalii %></td> 
                    
                    <td><%= prod.pret.to_i %> lei</td>
          
                    <td> 
                        <% if (prod.cod == "cod40" || prod.cod == "cod42" || prod.cod == "cod44") && Time.now.to_date >= Date.new(2023,10,19) %>
                            <%= button_to 'Inactiv', '#', class: 'btn btn-secondary', disabled: true %>
                        <% else %>
                            <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> 
                        <% end %>
                    </td>           
                </tr>
              <% end %> 
            <% end %> 
          <% end %>
          
            </tbody>  

        


    </table>

</div>
<%end%>








<%end%>

</section>  
</div>










