
<div class="cont"> 
<section>
  <h1 class="name"><%=@titlu_pagina%></h1> 
  <h1 class="name">Tabara de ayurveda 2023 etapa de toamna</h1>
<div class="row1">
    <div class="r1c1">
      
      <img src="<%= image_url('tayt12.jpg') %>" alt="Curs de Ayurveda">
    </div>
    <div class="r1c2">
      <h2>Data desfasurarii</h2> 
      <p>Partea 1 - 26, 27, 28 și 29 octombrie 2023</p>
      <p style="margin-top: 0;">Partea 2 - 30 noiembrie, 1, 2, 3 decembrie 2023</p>
      <h2>Teme abordate</h2>
      <p>Partea 1 - Prezentarea celor 10 calități cu rol formator - Nirmanya-Guna</p>
      <p style="margin-top: 0;">Partea 2 - Prezentarea celor 20 calități generale - Vimshati-Guna</p>
      
      <h2>Cine poate participa?</h2>
      <p>- Lectorii de ayurveda</p>
      <p style="margin-top: 0;">- Cursanții ayurveda</p>
      <p style="margin-top: 0;">- Persoanele care nu participă la cursurile de ayurveda</p>
   </div>
  </div>
  <div class="r2">
     
 </div></section>
 <section>
    <h2 style="font-size: 1.2em; margin: 10px 0 0 0;">NIRMANYA-GUNA</h2></br>
    <p>Termenul sanscrit guna este utilizat în cadrul sistemului Ayurveda şi cu sensul de calitate generală formatoare (nirmanya-guna). În Ayurveda sunt cunoscute zece astfel de calităţi generale formatoare (nirmanya-guna) şi anume acestea sunt: 1. predominanţa (para), 2. subordonarea (apara), 3. proprietatea (yukti), 4. numărul (samkhya), 5. combinaţia (samyoga), 6. diviziunea (vibhaga), 7. separaţia (prithaktva), 8. măsurarea (parimana), 9. transformarea (samskara) şi 10. repetiţia (abhyasa). 
Toate aceste calităţi generale formatoare (nirmanya-guna) acţionează ca nişte sui-generis „operatori” (prachalaka), care au rolul de a modula într-o anumită manieră specifică raporturile de interacţiune dintre diferitele forţe sau energii subtile formatoare, care contribuie la alcătuirea unei anumite structuri sau a unei anumite forme animate, vii ori a unei structuri ori forme ne-animate, ne-vii. 
Calităţile generale formatoare (nirmanya-guna) măsoară de fapt specificitatea alcătuirii din punct de vedere subtil a unei anumite structuri, prin evidenţierea raporturilor existente între forţele şi energiile subtile care constituie factorii formatori ai acelei structuri sau a acelei forme. Tocmai de aceea, calităţile generale formatoare (nirmanya-guna) sunt considerate în Ayurveda ca fiind factori esenţiai de diferenţiere structurală, în întreaga manifestare.</p>
<h2 style="font-size: 1.2em; margin: 10px 0 0 0;">VIMSHATI-GUNA</h2></br>
     <p>În Ayurveda, termenul sanscrit guna se referă cel mai frecvent la conceptul de calitate generală de bază (adhara-guna), care este totodată și o calitate perceptibilă și care are un important rol de diferențiere definitorie. O astfel de calitate generală esențială (adhara-guna) este descrisă și definită dintr-un punct de vedere mai puțin abstract și general sau, cu alte cuvinte, ea este expusă și descrisă într-un cadru care este mult mai apropiat de manifestarea sensibilă, care poate fi percepută prin intermediul simțurilor și al percepțiilor umane comune, în general
Tratatul fundamental de Ayurveda Charaka-Samhita menționează următoarele 20 de calități generale (guna) care se grupează în 10 perechi complementare: greu (guru) -  ușor (laghu); fierbinte/ cald (ushna) – rece/răcoros (shita); uscat (ruksha) – umed-uleios (snigdha); aspru (khara) – neted-bălos (slakshna);  rapid/fulgerător (tikshna) - încet/ lent (manda); mobil/mișcător (chala) – imobil/static (sthira); ); tare/dur (kathina) – moale/fin (mridu); solid/dens (sandra) – lichid/fluid (drava); limpede/subțire (vishadha) – tulbure/vâscos (picchila); subtil (sukshma) - grosier (sthula);
Conceptul ayurvedic de calitate generală (guna), precum și întreg sistemul celor 20 de calități generale (vimshati-guna) constituie fundamentul teoretic și practic al întregii științe tradiționale aplicative a sistemului Ayurveda, cu toate ramurile sale.</p>
</section>

<%if @has_access%>

<section class="c1" style="margin:0;">







<div><h3 class="ch1" style="text-align: left;margin-top:20px;font-size:20px;">Programul in format PDF al partii 1 a taberei de ayurveda etapa de toamna <a href="/pdf/tayt12/Program 2023 detaliat - toamna - partea 1 v03.pdf", <%= tag :a, download: '' %>poate fi descarcat de aici</a></h3>
<h3 class="ch1" style="text-align: left;margin-top:20px;font-size:20px;">Programul in format PDF al parții 2 a taberei de ayurveda etapa de toamna <a href="/pdf/tayt12/Program 2023 detaliat - toamna - partea 2.pdf", <%= tag :a, download: '' %>poate fi descarcat de aici</a></h3></div>




</section>


<section>
<div id="videos">
<h2 style= "text-align: center;padding: 0 10px; margin-top:40px;">Inregistrari video preliminare partea 1</h2></br>
  <table class="table">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>
       
        <th>Actiune</th>
      </tr>
    </thead>
    <tbody>
    <% @myvideo.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>


</section>

<section>
<div id="videos">
<h2 style= "text-align: center;padding: 0 10px; margin-top:40px;">Inregistrari video preliminare partea 2</h2></br>
  <table class="table">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>
       
        <th>Actiune</th>
      </tr>
    </thead>
    <tbody>
    <% @myvideo3.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>


</section>


<%if @has_access_cursuri%>

<h2 style= "text-align: center;padding: 0 10px; margin-top:20px;">Inregistrari video Tabara de toamna partea 1</h2></br>




<div id="videos">
  <table class="table">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>
       
        <th>Actiune</th>
      </tr>
    </thead>
    <tbody>
    <% @myvideo2.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>


<%end%>


<%if @has_access_cursuri2%>

<h2 style= "text-align: center;padding: 0 10px; margin-top:20px;">Inregistrari video Tabara de toamna partea 2</h2></br>




<div id="videos">
  <table class="table">
    <thead>
      <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>
       
        <th>Actiune</th>
      </tr>
    </thead>
    <tbody>
    <% @myvideo4.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>


<%end%>












<%end%>


<% unless @prod_tayt12a.empty? %>
<h1 class="alimente-nutritionale">Acces prezentari  Tabara de Ayurveda 2023 etapa de toamna</h1>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class= "desk">
            <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
            <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
            <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
            <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
        </tr>      
    </thead>
    <tbody>
        
        <% @prod_tayt12a.each do |prod| %>
          <tr>
          <td> <%= prod.nume %> </td>                                   
          <td><%= prod.detalii %></td>                    
          <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>          
          <td style="text-align:center;"> 
             
          
              <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %>
          
          </td>           
      </tr>
  <% end %>
</tbody>
</table>
</div></br>







<% end %>



</section>  

</div>










