<div id="<%= dom_id comanda %>">
  <p>
    <strong>Datacomenzii:</strong>
    <%= comanda.datacomenzii %>
  </p>

  <p>
    <strong>Numar:</strong>
    <%= comanda.numar %>
  </p>

  <p>
    <strong>Statecomanda1:</strong>
    <%= comanda.statecomanda1 %>
  </p>

  <p>
    <strong>Statecomanda2:</strong>
    <%= comanda.statecomanda2 %>
  </p>

  <p>
    <strong>Stateplata1:</strong>
    <%= comanda.stateplata1 %>
  </p>

  <p>
    <strong>Stateplata2:</strong>
    <%= comanda.stateplata2 %>
  </p>

  <p>
    <strong>Stateplata3:</strong>
    <%= comanda.stateplata3 %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comanda.user_id %>
  </p>

  <p>
    <strong>Emailcurrent:</strong>
    <%= comanda.emailcurrent %>
  </p>

  <p>
    <strong>Emailplata:</strong>
    <%= comanda.emailplata %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= comanda.total %>
  </p>

  <p>
    <strong>Plataprin:</strong>
    <%= comanda.plataprin %>
  </p>

  <p>
    <strong>Prodid:</strong>
    <%= comanda.prodid %>
  </p>

  <p>
    <strong>Prodcod:</strong>
    <%= comanda.prodcod %>
  </p>

  <p>
    <strong>Telefon:</strong>
    <%= comanda.telefon %>
  </p>

</div>
