<% border_style = (defined?(previous_video_tip) && previous_video_tip == 'nutritie2' && video.tip == 'nutritie3') ? 'border-top: 3px solid #000;' : '' %>

<tr style="<%= border_style %>">
<% if video.tip == 'traditia_ayurvedica'%>
<td>
  
  <%= video.luna %>
 
  
</td>

<% end %>




<% if video.tip == 'nutritie2'%>
<td>
  <% if (video.ordine > 3000 && video.ordine < 4000) || (video.ordine > 0 && video.ordine < 1000)%> 
  <%= video.luna %>
 
  <% end %>
</td>

<% end %>
<% if video.tip == 'nutritie1'%>
<td>
  <% if video.ordine >0 && video.ordine < 3000%> 
  <%= video.luna %>
 
  <% end %>
</td>
<% end %>
  <td><%= video.nume %></td>
  <td><%= video.descriere %></td>
  <% if video.tip == 'nutritie1' && video.ordine<1000%>
  <td>   
    <%= link_to "Vezi video", myvideo9_path(id: video.id, link: video.link), class: "btn btn-primary" %>
  </td>
  <%end%>
  <% if video.tip == 'nutritie1'  && video.ordine>1000%>
  <td>   
    <%= link_to "Vezi video", myvideo8_path(id: video.id, link: video.link), class: "btn btn-primary" %>
  </td>
  <%end%>

  <% if video.tip == 'nutritie2' && video.ordine<1000%>
  <td>   
    <%= link_to "Vezi video", myvideo67_path(id: video.id, link: video.link), class: "btn btn-primary" %>
  </td>
  <%end%>
  <% if video.tip == 'nutritie2'  && video.ordine>1000%>
  <td>   
    <%= link_to "Vezi video", myvideo6_path(id: video.id, link: video.link), class: "btn btn-primary" %>
  </td>
  <%end%>
  <% if video.tip == 'traditia_ayurvedica'%>
  <td>   
    <%= link_to "Vezi video", myvideo11_path(id: video.id, link: video.link), class: "btn btn-primary" %>
  </td>
  <%end%>

  <% if defined?(previous_video_tip) %>
  <td>
  <%= link_to "Descarcă PDF", video.linkpdf, class: "btn btn-primary", download: '' %>


  </td>
  <%end%>
</tr>
