<% content_for :title, "Cursuri de Ayurveda I Aplicații Plante I Vizionări Tabere și Seminarii" %>
<% content_for :description, "Ayush Cell Romania: Cursuri de Ayurveda, Nutriție, Aplicații Plante Medicinale și Resurse Vegetale" %>
<% content_for :keywords, "cursuri de ayurveda, cursuri de nutritie, plante medicinale, alimentație sănătoasă, calculator nutrițional, dieta, tabere de ayurveda," %>
<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro">
<% end %>

<section class="home">


<div class="nutritie endrow">
   <div class="row">
      

      <div class="column ivl">
         <h1>Cursuri de Ayurveda</h1>
         <div class="description">Participa la cursurile de Ayurveda organizate de catre Ayush Cell Romania & AMN-Romania</div>
         <div class="button">
           <a href="<%= cursayurveda2425_path %>">Vezi mai mult..</a>
         </div>
      </div>
      
      <div class="column ivl1">
         <a href="<%= cursayurveda2425_path %>">
         <img src="<%= image_path('iarba-sarpelui-1.jpg') %>" alt="Imagine"></a>
      </div>
   </div>
</div></br></br>











<div class="nutritie">
   <div class="row">
      <% link_path = if (current_user && current_user.listacursuri.any? { |curs| curs.nume == "Nutritie" }) || (current_user && current_user.role == 1)
         "/valori-nutritionale"
      elsif current_user
         servicii_path
      else
         new_user_session_with_return_path('vn')
      end %>

      <div class="column">
         <a href="<%= link_path %>">
         <img src="<%= image_path('nutritie-ayushcell.jpg') %>" alt="Imagine">
         </a>
      </div>
      <div class="column">
         <h1>Aplicație Nutriție</h1>
         <div class="description">Descoperă conținutul nutritiv al alimentelor și calculează numărul de calorii, proteine, lipide, carbohidrați și fibre la fiecare masă! Alege în fiecare zi o alimentație sănătoasă și echilibrată.</div>
         <div class="button">
            <%= link_to 'Intră în aplicație', link_path, class: 'button-link' %>
         </div>
      </div>
   </div>
</div>

<div class="nutritie endrow">
   <div class="row">
      <% link_path = if (current_user && current_user.listacursuri.any? { |curs| curs.nume == "Lista vegetale" }) || (current_user && current_user.role == 1)
         "/lista_vegetales"
      elsif current_user
         servicii_path
      else
         new_user_session_with_return_path('lg')
      end %>

      <div class="column ivl">
         <h1>Lista ingrediente vegetale</h1>
         <div class="description">Accesează lista ingredientelor vegetale ce pot fi utilizate in suplimentele alimentare.</div>
         <div class="button">
            <% if (current_user && current_user.listacursuri.any? { |curs| curs.nume == "Lista vegetale" }) || (current_user && current_user.role == 1) %>
            <a href="<%= link_path %>">Intră în aplicație</a>
            <% elsif current_user %>   
            <%= link_to 'Intră în aplicație', link_path, class: 'button-link' %>
            <% else %>   
            <%= link_to 'Intră în aplicație', link_path, class: 'button-link' %>
            <% end %>
         </div>
      </div>
      
      <div class="column ivl1">
         <a href="<%= link_path %>">
         <img src="<%= image_path('listavegetale.jpg') %>" alt="Imagine"></a>
      </div>
   </div>
</div></br></br>



      <div class="nutritie">
         <div class="row">
         <% link_path = if current_user && (current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "tayv2" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) })
         tayv2_path
      elsif current_user
         servicii_path
      else
         new_user_session_with_return_path('tayv2') # Același lucru ca la buton
      end %>

      <div class="column">
         <a href="<%= link_path %>">
         <img src="<%= image_path('tayv2.jpg') %>" alt="Imagine">
         </a>
      </div>

 
      <div class="column">
      <h1>Prezentari Video</h1>
      <div class="description">Acces prezentari video din Tabara de ayurveda etapa de vara 2023 partea a 2-a</div>
      <div class="button">
        <% if current_user && (current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "tayv2" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) }) %>
          <%= link_to 'Vezi prezentari video', tayv2_path, id: 'tayv2_link' %>
        <% elsif current_user %>   
          <%= link_to 'Vezi prezentari video', servicii_path, class: 'button-link' %>
        <% else %>   
          <%= link_to 'Vezi prezentari video', new_user_session_with_return_path('tayv2'), class: 'button-link' %>
        <% end %> 
      </div>
    </div>
    
   </div>
</div></br></br>


</section>
