
<% content_for :title, "Cursuri de Ayurveda I Aplicații Plante I Vizionări Tabere și Seminarii" %>
<% content_for :description, "Ayush Cell Romania: Cursuri de Ayurveda, Nutriție, Aplicații Plante Medicinale și Resurse Vegetale" %>
<% content_for :keywords, "cursuri de ayurveda, cursuri de nutritie, plante medicinale, alimentație sănătoasă, calculator nutrițional, dieta, tabere de ayurveda," %>
<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro">
<% end %>
<div class="container" id="first-page">
<%= render 'layouts/sideleft' %>
<main class="cr" style="background-color: aliceblue;">
    <h1 class="first-tittle">Ayush Cell Romania: Cursuri, Aplicații, Tabere, Vizionări</h1>
    <h2 class="main-title" >Actualitate</h2>
    <div class="line">
      <div class="col" style="width:100%;">
         <h2>Curs de Ayurveda sesiunea octombrie 2023 - iulie 2024</h2>
         <div class="desc">Participa la cursurile de Ayurveda organizate de catre Ayush Cell Romania & AMN-Romania. Acest curs este accesibil tuturor celor interesați indiferent de pregătirea profesională.</div>
         <div class="btn-fp">
         <%= link_to 'Înscrie-te la curs', cursayurveda_path, class: 'btn-fp-link' %>
       </div>
       
      </div>
      <div class="col" style="width:100%;">
         <h2>Tabăra Ayurveda 2023 Etapa de Toamnă partea a doua</h2>
         <div class="desc">Tema: Prezentarea celor 20 calități generale - Vimshati-Guna. Tabăra se va desfășura LIVE pe platforma ZOOM in zilele de 30 noiembrie, 1, 2 și 3 decembrie 2023..</div>
         <div class="btn-fp">
         <%= link_to 'Participă la tabără', tayt12_path, class: 'btn-fp-link' %>

         </div>
      </div>
      
    </div>

   <h2 class="cr-title">Aplicații Ayush Cell Romania</h2>
   <section class="line">
      <div class="col"  style="align-items:center;text-align:center;">
         <h2>Aplicație Valori Nutriționale</h2>
         <img src="<%= image_path('nutritie-ayushcell.jpg') %>" alt="Valori nutritionale" style='max-width:250px;'>
       
         <div class="desc">Descoperă conținutul nutritiv al alimentelor și calculează numărul de calorii, proteine, lipide, carbohidrați și fibre la fiecare masă! Alege în fiecare zi o alimentație sănătoasă și echilibrată.</div>
         <div class="btn-fp">
         
         
            <%= link_to 'Aplicație Nutriție', aplicatie_path, class: 'alink' %>
         
         </div>
      </div>
      <div class="col" style="align-items:center;text-align:center;">
         <h2>Lista actualizată a ingredientelor vegetale ce pot fi utilizate în suplimentele alimentare</h2>
         <img src="<%= image_path('listavegetale.jpg') %>" alt="Curs de Ayurveda" style="max-width:300px;">
         <div class="desc">Aplicația se constituie drept referință principală pentru profesioniștii din domeniul sănătății și producătorii de suplimente alimentare, oferind informațiile necesare despre ingredientele vegetale acceptate pentru utilizare în România.</div>
         <div class="btn-fp">
         <% if current_user %>
         <% if current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "Lista vegetale" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) } %>
           <%= link_to 'Accesează aplicația', lista_vegetales_path, class: 'btn-fp-link' %>
         <% else %>
           <%= link_to 'Accesează aplicația', servicii_path, class: 'btn-fp-link' %>
         <% end %>
       <% else %>
         <%= link_to 'Accesează aplicația', new_user_session_with_return_path('lg'), class: 'btn-fp-link' %>
       <% end %>
       
         </div>
      </div>
    </section>
    


   <h2 class="cr-title">Tabere Ayush Cell Romania & AMN-Romania</h2>
   <section class="line" style="flex-direction: row-reverse;">
   
      <div class="col" style=" align-items: center; text-align: center;">
         <h2>Tabăra Ayurveda 2023 Etapa de Toamnă partea a doua</h2>
         <img src="<%= image_path('Tabara Ayurveda toamna p2.jpg') %>" alt="Tabara de Ayurveda etapa de toamna 2023" style= "max-width:450px;margin-bottom:20px;margin-top:10px;width: 100%;">
         <div class="desc" style="max-width:720px;">Tema: Prezentarea celor 20 calități generale - Vimshati-Guna. Tabăra se va desfășura LIVE pe platforma ZOOM in zilele de 30 noiembrie, 1, 2 și 3 decembrie 2023..</div>
         <div class="btn-fp">
         <%= link_to 'Participă la tabără', tayt12_path, class: 'btn-fp-link' %>

         </div>
      </div>
</section>
<section class="line">
    <div class="col">
         <h2>Tabăra Ayurveda 2023 Etapa de Toamnă prima parte</h2>
         <div class="desc">Tema taberei:  Nirmanya-Guna - prezentarea celor 10 calități cu rol formator. Termenul sanscrit guna este utilizat în cadrul sistemului Ayurveda şi cu sensul de calitate generală formatoare (nirmanya-guna). Calităţile generale formatoare (nirmanya-guna) măsoară specificitatea alcătuirii din punct de vedere subtil a unei anumite structuri, prin evidenţierea raporturilor existente între forţele şi energiile subtile care constituie factorii formatori ai acelei structuri sau a acelei forme. Tocmai de aceea, calităţile generale formatoare (nirmanya-guna) sunt considerate în Ayurveda ca fiind factori esenţiai de diferenţiere structurală, în întreaga manifestare.</div>
         <div class="btn-fp">
         <%= link_to 'Revizionează', tayt12_path, class: 'btn-fp-link' %>
         </div>
      </div>
 
      <div class="col">
         <h2>Tabăra Ayurveda 2023 Etapa de Vară partea a doua</h2>
         <div class="desc">Tema taberei: Gupta-Cikitsa. Expresia Gupta-Cikitsa este tradusă ad litteram ca fiind „o medicină secretă”. Termenul sanscrit „gupta” înseamnă ascuns sau secret, iar „cikitsa” înseamnă tratament,  sistem terapeutic sau medicină. Expresia Gupta-Cikitsa reprezintă gândirea principială pe baza căreia se constituie strategiile de tratament ayurvedic, cunoaștere deosebit de valoroasă ce a fost oferită într-un mod original de către marele înțelept Atreya.</div>
         <div class="btn-fp">
         <% if current_user %>   
         <%= link_to 'Revizionează', tayv2_path, class: 'btn-fp-link' %>
       <% else %>   
         <%= link_to 'Revizionează', new_user_session_with_return_path('tayv2'), class: 'btn-fp-link' %>
       <% end %>
       
         </div>
      </div>
   </section>
   <h2 class="cr-title">Cursuri</h2>   
   <section class="line">
      <div class="col" style=" align-items: center; text-align: center;">
      <img src="<%= image_path('cursuri.jpg') %>" alt="Curs de Ayurveda" style='text-align:center; width: 100%; max-width: 350px;'>
         <h2>Curs de Ayurveda sesiunea octombrie 2023 - iulie 2024</h2>
         <div class="desc" style="max-width:720px;">Participa la cursurile de Ayurveda organizate de catre Ayush Cell Romania & AMN-Romania. Acest curs este accesibil tuturor celor interesați indiferent de pregătirea profesională. Înscrierile sunt în continuare deschise.</div>
         <div class="btn-fp">
         <%= link_to 'Înscrie-te la curs', cursayurveda_path, class: 'btn-fp-link' %>
         </div>
      </div>
    </section>

    
    <h2 class="cr-title">Program de pregătire Nutritie Ayurvedică</h2>
    
    <section class="line">
    <div class="col" style="flex-direction: row; align-items: center;">
    <div class="col-left">
    <img src="<%= image_path('aplicatii.jpg') %>" alt="Nutritie ayurvedica" style='text-align:center; width: 100%; scale:0.85; border-radius:50%; max-width: 250px;'> 
    </div>
    <div class="col-right">
            <h2>Program de pregătire Nutritie Ayurvedică aplicată modul 3</h2>
            <div class="desc">Programul de pregătire în nutriția ayurvedică practică aplicată include prezentări ale noțiunilor și conceptelor tradiționale din Ayurveda referitoare la nutriție, teste de evaluare nutrițională ayurvedică, personalizarea opțiunilor nutriționale la necesitățile participanților, evaluarea direcțiilor de optimizare nutrițională în conformitate cu principiile sistemului milenar de cunoaștere asupra vieții – Ayurveda.</div>
            <div class="btn-fp">
            
            <%= link_to 'Participă', nutritie3_path, class: 'btn-fp-link' %>
         
            </div>
    </div>
    </div>
    </section>



    <section class="line">
    
    <div class="col" style="flex-direction: row; align-items: center;">
    <div class="col-left">
    <img src="<%= image_path('nutritie-ayushcell.jpg') %>" alt="Nutritie ayurvedica" style='max-width:250px;'>
    </div>
    <div class="col-right">
        <h2>Program de pregătire Nutritie Ayurvedică aplicată modul 2</h2>
        <div class="desc">Programul de pregătire în nutriția ayurvedică practică aplicată a fost conceput pentru a avea o aplicabilitate imediată prin obiectivarea parametrilor nutriționali personali și prin conștientizarea obiceiurilor alimentare personale ale participanților, cu scopul de a oferi oportunități în direcția unei certe îmbunătățiri a stilului de viață prin nutriția ayurvedică aplicată.</div>
        <div class="btn-fp">

        
        <%= link_to 'Participă', nutritie2_path, class: 'btn-fp-link' %>
     


            
        </div>
    </div>
    </div>

   </section>

</main>
</div>