<div class="jumbotron" style="background-color: #e9ecef;padding: 30px;margin: 40px;">
<%= link_to "Vizualizați Tabele Ahoy", tabeleahoy_home_path, class: "btn btn-primary" %>

</div>
<div class="jumbotron" style="background-color: #e9ecef;padding: 30px;margin: 40px;">
  <h1 class="display-4">XlsxToPg</h1>
  <p class="lead">
    <%= link_to 'Plante', plantes_path %><br>
    <%= link_to 'Plante-Parti', plante_partis_path %><br>
    <%= link_to 'Recomandari', recomandaris_path %><br>
    <%= link_to 'Lista Proprietati', listaproprietatis_path %><br>
    <%= link_to 'Importanta', importanta_path %><br>
    <%= link_to 'Tipuri Proprietati', tipuri_props_path %><br>
    <%= link_to 'Srota', srota_path %><br>            
    <%= link_to 'XlsxToPostgres', xlsxtopg_index_path %><br>
  </p>
</div>

<div class="jumbotron" style="background-color: #e9ecef;padding: 30px;margin: 40px;">
  <h1 class="display-4">Manager</h1>
  <p class="lead">
    <%= link_to 'Valori Nutritionale', valorinutritionales_path %><br>
    <%= link_to 'Lista Cursuri', listacursuris_path %><br>
    <%= link_to 'Cursuri', cursuris_path %><br>
    <%= link_to 'Lista Users', admin_index_path %><br>
    <%= link_to 'Pagini site', paginisites_path %><br>
    <%= link_to 'Useri care s-au logat', userilogati_path %><br>
    <%= link_to 'Statistici', statistics_path %><br>
    <%= link_to 'Gestionare Cursuri', gestionare_useri_cursuri_index_path %><br>
  </p>
</div>
