<style>
.jumbotron {
  background-color: #e9ecef; 
  padding: 30px; 
  margin: 10px; 
  width: 49%;
}
h1.display-4{
  font-size:2.2rem!important;
}
.square {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .square{
    display:inline;
  }
  .jumbotron{
    width:auto;
  }
}
</style>

<section style="max-width: 1240px; margin:0 auto;">
<div class="jumbotron" style="background-color: #e9ecef;padding: 30px;margin: 10px; width:auto;">
<%= link_to "Vizualizați Tabele Ahoy", tabeleahoy_home_path, class: "btn btn-primary" %>

</div>
<div class="square">
  <div class="jumbotron">
    <h1 class="display-4">XlsxToPg</h1>
    <p class="lead">
      <%= link_to 'Plante', plantes_path %><br>
      <%= link_to 'Plante-Parti', plante_partis_path %><br>
      <%= link_to 'Recomandari', recomandaris_path %><br>
      <%= link_to 'Lista Proprietati', listaproprietatis_path %><br>
      <%= link_to 'Importanta', importanta_path %><br>
      <%= link_to 'Tipuri Proprietati', tipuri_props_path %><br>
      <%= link_to 'Srota', srota_path %><br>            
      <%= link_to 'XlsxToPostgres', xlsxtopg_index_path %><br>
    </p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">Manager</h1>
    <p class="lead">
      <%= link_to 'Valori Nutritionale', valorinutritionales_path %><br>
      <%= link_to 'Lista Cursuri', listacursuris_path %><br>
      <%= link_to 'Cursuri', cursuris_path %><br>
      <%= link_to 'Useri care au accesat Promo', userip_path %><br>
      <%= link_to 'Module curs', modulecursuris_path %><br>
      
      
      <%= link_to 'Lista Users', admin_index_path %> (<%=User.count%>)<br>
      <%= link_to 'Pagini site', paginisites_path %><br>
      <%= link_to 'Useri care s-au logat', userilogati_path %><br>
      <%= link_to 'Statistici', statistics_path %><br>
      <%= link_to 'Gestionare Cursuri', gestionare_useri_cursuri_index_path %><br>
      <%= link_to 'Lista Newsletter', lista_newsletter_path %> (<%=Newsletter.count%>)<br>
      <%= link_to 'Gratuitati', index11_comandas_path %><br>


      <%= link_to 'Descriere cazuri particulare', cazuriparticulare_path %><br>
      

    </p>
  </div>
</div>


</div>





<div class="square">
<div class="jumbotron">
<h1 class="display-4">Rapoarte diverse</h1>
<p class="lead">
<%= link_to 'Rapoarte lunare', situatii_lunare_facturaproformas_path %><br>

  
  

</p>
</div>

  <div class="jumbotron">
    <h1 class="display-4">Preluare SAGA</h1>
    <p class="lead">
    <%= link_to 'Facturi XML Ayush Cell  S.R.L.', facturi_xml_path %><br>
    <%= link_to 'Importă județele', '#', style: 'pointer-events: none; color: gray; text-decoration: none;' %><br>
    <%= link_to 'Importă țările', '#', style: 'pointer-events: none; color: gray; text-decoration: none;' %><br>
    <%= link_to 'Importă localitățile', '#', style: 'pointer-events: none; color: gray; text-decoration: none;' %><br>


    </p>
   
  </div>
</div>









</div>
<div class="square">
  <div class="jumbotron">
    <h1 class="display-4">Comenzi Produse Facturi</h1>
    <p class="lead">
      <%= link_to 'Produse', prods_path %><br>
      
      <%= link_to 'Comenzi', comandas_path %><br>
      <%= link_to 'Alege Comanda_id pentru Editare ComandaProd', select_comanda_id_path %></br>
 


      <%= link_to 'Datele de facturare ale Userilor', detaliifacturares_path %><br>
      <%= link_to 'Facturi', facturas_path %><br>
      <%= link_to 'Facturi - verificare dublare facturi pentru aceeasi comanda', facturicomenzi_path %><br>
      
      <%= link_to 'Raport Accesare Facturi', raport_accesare_facturi_path %>





      



    
    </p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">Video</h1>
    <p class="lead">
    <%= link_to 'Video', videos_path %><br>
    </p>
    <p class="lead">
    
    <%= link_to 'Ayush Cell Tv Canal 1', '/tvs/canal1' %></br>
    <%= link_to 'Ayush Cell Tv Canal 2', '/tvs/canal2' %> &nbsp&nbsp&nbsp&nbsp<%= link_to 'Modifica', listacanal2s_path %>
    </br>
    <%= link_to 'Ayush Cell Tv Canal 3', '/tvs/canal3' %> &nbsp&nbsp&nbsp&nbsp<%= link_to 'Modifica', listacanal3s_path %></br>   
    <%= link_to 'Ayush Cell Tv Seminarii', '/tvs/seminarii' %>&nbsp;&nbsp;(Canal 4)</br> 
    <%= link_to 'Ayush Cell Tv Orar', tvs_path %></br></br></br>
    <%= link_to 'Preluare xlsx canal 1', listacanal1_path,   method: :get %>(cei care au acces la Canalul 1) <%=Listacanal1.count%> useri</br>
      <%= link_to 'Preluare xlsx canal 2', listacanal2_path,   method: :get %>(cei care au acces la Canalul 2)      <%=Listacanal2.count%> useri</br>
    <%= link_to 'Preluare xlsx canal 3', listacanal3_path,   method: :get %>(cei care au acces la Canalul 3) <%=Listacanal3.count%> useri</br>
    
    </p>
  </div>
</div>




<div class="square">
  

  <div class="jumbotron">
    <h1 class="display-4">Rapoarte de date</h1>
    <%= link_to "Export fisier xlsx plata An 1 2024-2025 dupa data", export_plata_an1_2024_2025_path(order_by: 'created_at'), class: "btn btn-secondary" %></br></br>

    <%= link_to 'Exportă raport an1 2024-2025', export_to_xlsx_summary_2024_2025_path, class: 'btn btn-secondary' %></br></br>
    <%= link_to "Xlsx plata An 2 (2024-2025) dupa data", export_plata_an2_2425_path(order_by: 'created_at'), class: "btn btn-secondary" %><br><br>

    <%= link_to "Xlsx plata Rasayana Modul 1", export_plata_rasayana_modul1_path, class: "btn btn-secondary" %><br><br>

    <%= link_to "Export fisier xlsx plata generala curs", export_plata_generala_curs_path, class: "btn btn-secondary" %></br></br>
    <%= link_to 'Export fisier xlsx plata sesiunea de vara', export_to_xlsx_plata_sesiunevara_path, class: 'btn btn-secondary' %></br></br>

    <%= link_to 'Export fisier xlsx plata tayv24', export_tayv24_xlsx_path, class: 'btn btn-secondary' %></br></br>

    <%= link_to "Export fisier xlsx plata nutriție 3", export_plata_nutritie3_path, class: "btn btn-secondary" %></br></br>
    <%= link_to 'Export fisier xlsx plata nutriție 4', export_nutritie4_xlsx_path, class: 'btn btn-secondary' %></br></br>

    <%= link_to "Export fișier xlsx plati Amnaya", export_plata_amnaya_path, class: "btn btn-secondary" %></br></br>

    <%= link_to "Export fisier xlsx plata An 1 dupa email", export_plata_an1_path(order_by: 'email'), class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata An 1 dupa data", export_plata_an1_path(order_by: 'created_at'), class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata An 1 care au platit doar 60 lei", export_plata_an1_path(order_by: 'email_unique'), class: "btn btn-secondary" %></br></br></br>
    <%= link_to "Export tabel cu platile fiecarui user pe an 1", export_to_xlsx_summary_path(order_by: 'situatie_user'), class: "btn btn-secondary" %></br></br>
   
    <%= link_to "Export fisier xlsx plata Tabara Ayurveda etapa de vara p2", export_plata_tayv2_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata Tabara Ayurveda etapa de toamna p1+2", export_plata_tayt12_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata vajikarana modul 1", export_to_xlsx_plata_vajikarana_modul1_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Exporta Toate Facturile - un singur pdf cu toate facturile (nerecomandat)", download1_factura_path(format: 'pdf'), class: "btn btn-secondary" %></br></br>
    <%= link_to "Descarcă toate facturile pdf-uri separate (zip) - recomandat", download_all_facturas_path, class: "btn btn-secondary" %></br></br>

    

    

    
  </div>
  <% if current_user && current_user.role==1 %>
  <div class="jumbotron">
    <h1 class="display-4">Pagini in lucru</h1>
    <p class="lead">
    <%= link_to 'Testează Conexiunea Debian', home_test_debian_path, class: 'btn btn-primary' %></br>
    <%= link_to 'Test video Wasabi', home_test_path %></br>
    <%= link_to 'Modele Spirituale', traditia_ayurvedica_modele_spirituale_path %></br>

    <%= link_to 'Copyright', copyright_path %></br>
    <%= link_to 'Raport pagina Sesiune vara',   sesiune_vara_raport_path %></br>
    

    <%= link_to 'Curs Ayurveda 2024-2025', cursayurveda2425_path %></br>
    <%= link_to 'Date Institutii', firmas_path %></br>
    <%= link_to 'Tabel Useri cu Date Facturare', date_facturares_path %>
    <%= link_to ' Export', export_datefacturare_path %></br>
    
     <%= link_to 'Useri de an 3 situatii', not_in_users_facturaproformas_path, class: 'btn btn-secondary' %><br>
    

    <% if current_user %>
      <% if @newsauupdate == 1 %>
        <%= link_to 'Date Facturare', new_date_facturare_path %><br><br>
      <% elsif @newsauupdate == 2 && @date_facturare %>
        <%= link_to 'Date Facturare', edit_date_facturare_path(@date_facturare) %><br>
      <% end %>
        
     
<br><br>


    <% end %>



    <%= link_to 'Transport international', tayt12_transport_international_path('tri'), class: 'nav-item' %></br>
    <%= link_to 'An 2', an2_path %></br>    
    <%= link_to 'Preluare Emailuri', contractes_preluare_emailuri_path %></br>    
    <%= link_to 'Nutritie modul 4', nutritie4_path, class: 'nav-item' %></br>
    
    

    
    <%= link_to 'Accesează Rasayana Modul1', rasayana_modul1_path, class: 'nav-item' %></br>

    
    <%= link_to 'Performanța cognitivă', optimizarea_performantelor_cognitive_path, class: 'nav-item' %></br>
    


    <%= link_to 'Documente', documente_path, class: 'nav-item' %></br>
    <%= link_to 'Contractori', contractes_path, class: 'nav-item' %></br>    
    <%= link_to 'Vizualizeaza Toate Contractele', contracte_all_path, class: 'nav-item' %></br>
    <%= link_to 'Voluntariat', voluntariat_path, class: 'nav-item' %></br>
    <%= link_to 'Voluntar', voluntar_path, class: 'nav-item' %></br>
    <%= link_to 'Cerere Voluntar', cerere_voluntar_path, class: 'nav-item' %><br>
    <%= link_to 'GDPR', gdpr_path, class: 'nav-item' %><br>
    <%= link_to 'Contract voluntar', contract_voluntar_path, class: 'nav-item' %></br>
    <%= link_to 'Fișa Postului', fisa_postului_path, class: 'nav-item' %><br>

    
    <%= link_to 'Mergi la Tayv24', tayv24_path %>



    </p>
  </div>
  <% end %>
  <% if current_user && current_user.role==1 %>
  <div class="jumbotron">
    <h1 class="display-4">Ani de curs</h1>
    
    <%= link_to 'Preluare An3', preluarean3_an32324s_path %> din an32324.xlsx in tabela an32324 pt a vedea pe cine facturez</br>
    <%= link_to 'Firme folosite la  Proforme', firmeproformas_path %> Ayus Grup etc</br> 
    <%= link_to 'Generare Facturi', generare_facturi_facturaproformas_path, class: 'btn btn-primary' %>
    


 se creaza inregistrari in 3 tabele Comanda ComenziProd si 
            Facturaproforma</br> 
ATENTIE! Din sepembrie cand o sa adaugam produsele pt platile pe lunile 2024-2025 trebuie adaugate in
 C:\ia\app\controllers\stripe_webhooks_controller.rb in 2 locuri 
  if !["cod36", "cod37"].include?(produs.cod) pt ca raspunsul de la Stripe sa nu genereze noi facturi
    ci sa actualizeze facturile proforme  </br>
    <%= link_to 'Preluare - Nume si CPA in User', preluare_nume_cpa_xlsxtopg_path, method: :get %><br>
    <%= link_to 'Actualizare CPA in DateFacturare', actualizare_cpa_date_facturare_xlsxtopg_path, method: :get %></br>
    ( <%= link_to 'Vezi toate facturile proforma', facturaproformas_path %>
     aici pot edita facturile proforme de la Ayus Grup  ) (ATENTIE : nu face o factura noua pana nu pui in stripe_webhooks_controller.rb codul produsului pt a evita
     sa faci factura pe Ayushcell cand se face plata!!!!! si produsul trebuie sa fie doar cu dedicatie pt Ayush Grup (daca il pui acolo la stripe_webhooks_controller.rb acelui
      produs nu i se va emite factura!!!!) aici: if !["cod36", "cod37",...)
     (se pot face si noi facturi -este necesar sa fie o comanda asociata pe care sa o fac inainte. Atentie: daca fac o comanda noua manual trebuie apoi sa modific in
     ComenziProd din Finalizata in Initiata pt ca factura nu este platita.- cu rails c)</br>
  </div>

  <% end %>
  

</div>
</section>