<style>
.jumbotron {
  background-color: #e9ecef; 
  padding: 30px; 
  margin: 10px; 
  width: 49%;
}
h1.display-4{
  font-size:2.2rem!important;
}
.square {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .square{
    display:inline;
  }
  .jumbotron{
    width:auto;
  }
}
</style>

<section style="max-width: 1240px; margin:0 auto;">
<div class="jumbotron" style="background-color: #e9ecef;padding: 30px;margin: 10px; width:auto;">
<%= link_to "Vizualizați Tabele Ahoy", tabeleahoy_home_path, class: "btn btn-primary" %>

</div>
<div class="square">
  <div class="jumbotron">
    <h1 class="display-4">XlsxToPg</h1>
    <p class="lead">
      <%= link_to 'Plante', plantes_path %><br>
      <%= link_to 'Plante-Parti', plante_partis_path %><br>
      <%= link_to 'Recomandari', recomandaris_path %><br>
      <%= link_to 'Lista Proprietati', listaproprietatis_path %><br>
      <%= link_to 'Importanta', importanta_path %><br>
      <%= link_to 'Tipuri Proprietati', tipuri_props_path %><br>
      <%= link_to 'Srota', srota_path %><br>            
      <%= link_to 'XlsxToPostgres', xlsxtopg_index_path %><br>
    </p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">Manager</h1>
    <p class="lead">
      <%= link_to 'Valori Nutritionale', valorinutritionales_path %><br>
      <%= link_to 'Lista Cursuri', listacursuris_path %><br>
      <%= link_to 'Cursuri', cursuris_path %><br>
      <%= link_to 'Useri care au accesat Promo', userip_path %><br>
      <%= link_to 'Module curs', modulecursuris_path %><br>
      
      
      <%= link_to 'Lista Users', admin_index_path %><br>
      <%= link_to 'Pagini site', paginisites_path %><br>
      <%= link_to 'Useri care s-au logat', userilogati_path %><br>
      <%= link_to 'Statistici', statistics_path %><br>
      <%= link_to 'Gestionare Cursuri', gestionare_useri_cursuri_index_path %><br>
      <%= link_to 'Descriere cazuri particulare', cazuriparticulare_path %><br>
      

    </p>
  </div>
</div>

</div>
<div class="square">
  <div class="jumbotron">
    <h1 class="display-4">Comenzi Produse Facturi</h1>
    <p class="lead">
      <%= link_to 'Produse', prods_path %><br>
      
      <%= link_to 'Comenzi', comandas_path %><br>
      <%= link_to 'Alege Comanda_id pentru Editare ComandaProd', select_comanda_id_path %></br>
 


      <%= link_to 'Datele de facturare ale Userilor', detaliifacturares_path %><br>
      <%= link_to 'Facturi', facturas_path %><br>
      <%= link_to 'Facturi - verificare dublare facturi pentru aceeasi comanda', facturicomenzi_path %><br>

    
    </p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">Video</h1>
    <p class="lead">
    <%= link_to 'Video', videos_path %><br>
    </p>
  </div>
</div>




<div class="square">
  

  <div class="jumbotron">
    <h1 class="display-4">Rapoarte de date</h1>
   
    <%= link_to "Export fisier xlsx plata nutriție 3", export_plata_nutritie3_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata An 1 dupa email", export_plata_an1_path(order_by: 'email'), class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata An 1 dupa data", export_plata_an1_path(order_by: 'created_at'), class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata An 1 care au platit doar 60 lei", export_plata_an1_path(order_by: 'email_unique'), class: "btn btn-secondary" %></br></br></br>
    <%= link_to "Export tabel cu platile fiecarui user pe an 1", export_to_xlsx_summary_path(order_by: 'situatie_user'), class: "btn btn-secondary" %></br></br>
   
    <%= link_to "Export fisier xlsx plata Tabara Ayurveda etapa de vara p2", export_plata_tayv2_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata Tabara Ayurveda etapa de toamna p1+2", export_plata_tayt12_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Exporta Toate Facturile - un singur pdf cu toate facturile (nerecomandat)", download1_factura_path(format: 'pdf'), class: "btn btn-secondary" %></br></br>
    <%= link_to "Descarcă toate facturile pdf-uri separate (zip) - recomandat", download_all_facturas_path, class: "btn btn-secondary" %></br></br>

    

    


  </div>
</div>
</section>