<style>
.jumbotron {
  background-color: #e9ecef; 
  padding: 30px; 
  margin: 10px; 
  width: 49%;
}
h1.display-4{
  font-size:2.2rem!important;
}
.square {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .square{
    display:inline;
  }
  .jumbotron{
    width:auto;
  }
}
</style>

<section style="max-width: 1240px; margin:0 auto;">
<div class="jumbotron" style="background-color: #e9ecef;padding: 30px;margin: 10px; width:auto;">
<%= link_to "Vizualizați Tabele Ahoy", tabeleahoy_home_path, class: "btn btn-primary" %>

</div>
<div class="square">
  <div class="jumbotron">
    <h1 class="display-4">XlsxToPg</h1>
    <p class="lead">
      <%= link_to 'Plante', plantes_path %><br>
      <%= link_to 'Plante-Parti', plante_partis_path %><br>
      <%= link_to 'Recomandari', recomandaris_path %><br>
      <%= link_to 'Lista Proprietati', listaproprietatis_path %><br>
      <%= link_to 'Importanta', importanta_path %><br>
      <%= link_to 'Tipuri Proprietati', tipuri_props_path %><br>
      <%= link_to 'Srota', srota_path %><br>            
      <%= link_to 'XlsxToPostgres', xlsxtopg_index_path %><br>
    </p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">Manager</h1>
    <p class="lead">
      <%= link_to 'Valori Nutritionale', valorinutritionales_path %><br>
      <%= link_to 'Lista Cursuri', listacursuris_path %><br>
      <%= link_to 'Cursuri', cursuris_path %><br>
      <%= link_to 'Useri care au accesat Promo', userip_path %><br>
      <%= link_to 'Module curs', modulecursuris_path %><br>
      
      
      <%= link_to 'Lista Users', admin_index_path %><br>
      <%= link_to 'Pagini site', paginisites_path %><br>
      <%= link_to 'Useri care s-au logat', userilogati_path %><br>
      <%= link_to 'Statistici', statistics_path %><br>
      <%= link_to 'Gestionare Cursuri', gestionare_useri_cursuri_index_path %><br>
      <%= link_to 'Lista Newsletter', lista_newsletter_path %><br>
      <%= link_to 'Gratuitati', index11_comandas_path %><br>


      <%= link_to 'Descriere cazuri particulare', cazuriparticulare_path %><br>
      

    </p>
  </div>
</div>

</div>
<div class="square">
  <div class="jumbotron">
    <h1 class="display-4">Comenzi Produse Facturi</h1>
    <p class="lead">
      <%= link_to 'Produse', prods_path %><br>
      
      <%= link_to 'Comenzi', comandas_path %><br>
      <%= link_to 'Alege Comanda_id pentru Editare ComandaProd', select_comanda_id_path %></br>
 


      <%= link_to 'Datele de facturare ale Userilor', detaliifacturares_path %><br>
      <%= link_to 'Facturi', facturas_path %><br>
      <%= link_to 'Facturi - verificare dublare facturi pentru aceeasi comanda', facturicomenzi_path %><br>

    
    </p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">Video</h1>
    <p class="lead">
    <%= link_to 'Video', videos_path %><br>
    </p>
    <p class="lead">
    
    <%= link_to 'Ayush Cell Tv Canal 1', '/tvs/canal1' %></br>
    <%= link_to 'Ayush Cell Tv Canal 2', '/tvs/canal2' %> &nbsp&nbsp&nbsp&nbsp<%= link_to 'Modifica', listacanal2s_path %>
    </br>
    <%= link_to 'Ayush Cell Tv Canal 3', '/tvs/canal3' %>&nbsp;&nbsp;</br>   
    <%= link_to 'Ayush Cell Tv Seminarii', '/tvs/seminarii' %>&nbsp;&nbsp;(Canal 4)</br> 
    <%= link_to 'Ayush Cell Tv Orar', tvs_path %></br></br></br>
    <%= link_to 'Preluare xlsx canal 1', listacanal1_path,   method: :get %>(cei care au acces la Canalul 1) <%=Listacanal1.count%> useri</br>
      <%= link_to 'Preluare xlsx canal 2', listacanal2_path,   method: :get %>(cei care au acces la Canalul 2)      <%=Listacanal2.count%> useri</br>
    <%= link_to 'Preluare xlsx canal 3', listacanal3_path,   method: :get %>(cei care au acces la Canalul 3) <%=Listacanal3.count%> useri</br>
    
    </p>
  </div>
</div>




<div class="square">
  

  <div class="jumbotron">
    <h1 class="display-4">Rapoarte de date</h1>
   
    <%= link_to "Export fisier xlsx plata nutriție 3", export_plata_nutritie3_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fișier xlsx plati Amnaya", export_plata_amnaya_path, class: "btn btn-secondary" %></br></br>

    <%= link_to "Export fisier xlsx plata An 1 dupa email", export_plata_an1_path(order_by: 'email'), class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata An 1 dupa data", export_plata_an1_path(order_by: 'created_at'), class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata An 1 care au platit doar 60 lei", export_plata_an1_path(order_by: 'email_unique'), class: "btn btn-secondary" %></br></br></br>
    <%= link_to "Export tabel cu platile fiecarui user pe an 1", export_to_xlsx_summary_path(order_by: 'situatie_user'), class: "btn btn-secondary" %></br></br>
   
    <%= link_to "Export fisier xlsx plata Tabara Ayurveda etapa de vara p2", export_plata_tayv2_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata Tabara Ayurveda etapa de toamna p1+2", export_plata_tayt12_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata vajikarana modul 1", export_to_xlsx_plata_vajikarana_modul1_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Exporta Toate Facturile - un singur pdf cu toate facturile (nerecomandat)", download1_factura_path(format: 'pdf'), class: "btn btn-secondary" %></br></br>
    <%= link_to "Descarcă toate facturile pdf-uri separate (zip) - recomandat", download_all_facturas_path, class: "btn btn-secondary" %></br></br>

    

    

    
  </div>
  <% if current_user && current_user.role==1 %>
  <div class="jumbotron">
    <h1 class="display-4">Pagini in lucru</h1>
    <p class="lead">
    <%= link_to 'Newsletter', newsletter_path, class: 'nav-item' %></br>
    <%= link_to 'Transport international', tayt12_transport_international_path('tri'), class: 'nav-item' %></br>
    <%= link_to 'An 2', an2_path %></br>    
    <%= link_to 'Preluare Emailuri', contractes_preluare_emailuri_path %></br>    
    <%= link_to 'Nutritie modul 4 test', testnutritie4_path, class: 'nav-item' %></br>
    <%= link_to 'Vajikarana test', vajikarana_modul1_path, class: 'nav-item' %></br>
    

    <%= link_to 'Rasayana test', rasayana_path, class: 'nav-item' %></br>
    
    <%= link_to 'Performanța cognitivă', optimizarea_performantelor_cognitive_path, class: 'nav-item' %></br>
    
    <%= link_to 'Hiranyaksha', hiranyaksha_path, class: 'nav-item' %></br>
    <%= link_to 'Sharaloma', sharaloma_path, class: 'nav-item' %></br>

    <%= link_to 'Documente', documente_path, class: 'nav-item' %></br>
    <%= link_to 'Contractori', contractes_path, class: 'nav-item' %></br>    
    <%= link_to 'Vizualizeaza Toate Contractele', contracte_all_path, class: 'nav-item' %></br>
    <%= link_to 'Voluntariat', voluntariat_path, class: 'nav-item' %></br>
    <%= link_to 'Voluntar', voluntar_path, class: 'nav-item' %></br>
    <%= link_to 'Cerere Voluntar', cerere_voluntar_path, class: 'nav-item' %><br>
    <%= link_to 'GDPR', gdpr_path, class: 'nav-item' %><br>
    <%= link_to 'Contract voluntar', contract_voluntar_path, class: 'nav-item' %></br>
    <%= link_to 'Fișa Postului', fisa_postului_path, class: 'nav-item' %><br>





    </p>
  </div>
  <% end %>
</div>
</section>