<div class="jumbotron" style="background-color: #e9ecef;padding: 30px;margin: 40px;">
<%= link_to "Vizualizați Tabele Ahoy", tabeleahoy_home_path, class: "btn btn-primary" %>

</div>
<div style="display: flex; justify-content: space-between;">
  <div class="jumbotron" style="background-color: #e9ecef; padding: 30px; margin: 40px; width: 45%;">
    <h1 class="display-4">XlsxToPg</h1>
    <p class="lead">
      <%= link_to 'Plante', plantes_path %><br>
      <%= link_to 'Plante-Parti', plante_partis_path %><br>
      <%= link_to 'Recomandari', recomandaris_path %><br>
      <%= link_to 'Lista Proprietati', listaproprietatis_path %><br>
      <%= link_to 'Importanta', importanta_path %><br>
      <%= link_to 'Tipuri Proprietati', tipuri_props_path %><br>
      <%= link_to 'Srota', srota_path %><br>            
      <%= link_to 'XlsxToPostgres', xlsxtopg_index_path %><br>
    </p>
  </div>

  <div class="jumbotron" style="background-color: #e9ecef; padding: 30px; margin: 40px; width: 45%;">
    <h1 class="display-4">Manager</h1>
    <p class="lead">
      <%= link_to 'Valori Nutritionale', valorinutritionales_path %><br>
      <%= link_to 'Lista Cursuri', listacursuris_path %><br>
      <%= link_to 'Cursuri', cursuris_path %><br>
      <%= link_to 'Useri care au accesat Promo', userip_path %><br>

      <%= link_to 'Lista Users', admin_index_path %><br>
      <%= link_to 'Pagini site', paginisites_path %><br>
      <%= link_to 'Useri care s-au logat', userilogati_path %><br>
      <%= link_to 'Statistici', statistics_path %><br>
      <%= link_to 'Gestionare Cursuri', gestionare_useri_cursuri_index_path %><br>
      <%= link_to 'Descriere cazuri particulare', cazuriparticulare_path %><br>

    </p>
  </div>
</div>

</div>
<div style="display: flex; justify-content: space-between;">
  <div class="jumbotron" style="background-color: #e9ecef; padding: 30px; margin: 40px; width: 45%;">
    <h1 class="display-4">Comenzi Produse Facturi</h1>
    <p class="lead">
      <%= link_to 'Produse', prods_path %><br>
      
      <%= link_to 'Comenzi', comandas_path %><br>
      <%= link_to 'Alege Comanda_id pentru Editare ComandaProd', select_comanda_id_path %></br>
 


      <%= link_to 'Datele de facturare ale Userilor', detaliifacturares_path %><br>
      <%= link_to 'Facturi', facturas_path %><br>
      <%= link_to 'Facturi - verificare dublare facturi pentru aceeasi comanda', facturicomenzi_path %><br>

    
    </p>
  </div>

  <div class="jumbotron" style="background-color: #e9ecef; padding: 30px; margin: 40px; width: 45%;">
    <h1 class="display-4">Video</h1>
    <p class="lead">
    <%= link_to 'Video', videos_path %><br>
    </p>
  </div>
</div>




<div style="display: flex; justify-content: space-between;">
  

  <div class="jumbotron" style="background-color: #e9ecef; padding: 30px; margin: 40px; width: 45%;">
    <h1 class="display-4">Rapoarte de date</h1>
   
    <%= link_to "Export fisier xlsx plata nutriție 3", export_plata_nutritie3_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata An 1", export_plata_an1_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Export fisier xlsx plata Tabara Ayurveda etapa de vara p2", export_plata_tayv2_path, class: "btn btn-secondary" %></br></br>
    <%= link_to "Exporta Toate Facturile in format pdf", download1_factura_path(format: 'pdf'), class: "btn btn-secondary" %>
    <%= link_to "Descarcă toate facturile", download_all_facturas_path %> nu merge
    <%= link_to "Testare PDFkit", generate_pdf_facturas_path %> nu merge


  </div>
</div>