
<section class="tabel-container rotate-landscape">
    <h1 class="alimente-nutritionale" id="CalculatorValoriNutritionale">Calculator Valori Nutritionale</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'Nutritie' }.each do |prod| %>
                    <tr>
                        <td> <%= prod.nume %> </td>                        
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>

                        <td style="text-align:center;"> <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> </td>      
                    </tr>  
                <% end %>  
            </tbody>
        </table>
    </div>
    <h1 class="alimente-nutritionale" id="ListaIngredienteVegetale">Consultare Selectiva Lista Ingrediente Vegetale</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk" >
                    <th  style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th  style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th  style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th  style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <!-- Primul tbody pentru produsele cu pret = 0 -->
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'Lista vegetale' && prod.pret == 0 }.each do |prod| %>
                <tr>
                  <td> <%= raw prod.nume.gsub('promo acces 24h', '<span class="text-danger">promo acces 24h</span>') %> </td>
                                   
                <td><%= prod.detalii %></td> 
                
                <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>
                <td style="text-align:center;">
                <% if (current_user && current_user.cursuri.any? { |curs| curs.listacursuri.nume == "Lista vegetale" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) }) || (current_user && current_user.role == 1) %>


                <%= link_to 'Comanda', listavegetalegratis_home_path(acces: "da"), class: 'btn btn-primary' %>


                    <% elsif current_user %>   
                    <%= link_to 'Comanda', listavegetalegratis_home_path(acces: "nu"), class: 'btn btn-primary' %>

                    <% else %>   
                    <%= link_to 'Comanda', new_user_session_with_return_path('lg'), class: 'btn btn-primary' %>
                    <% end %>
                </td>      
                </tr>
                <% end %>
            </tbody>
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'Lista vegetale' && prod.pret > 0 }.each do |prod| %>
                    <tr>
                        <td> <%= prod.nume %> </td>                        
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>

                        <td style="text-align:center;"> <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> </td>      
                    </tr>  
                <% end %>  
            </tbody>
        </table>
    </div>

    <h1 class="alimente-nutritionale" id="Tabara23VaraP2">Acces prezentari video din Tabara de Ayurveda 2023 etapa de vara  partea a 2-a </h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'tayv2' }.each do |prod| %>
                    <tr>
                    <td>
                        <%= raw prod.nume.gsub('pentru participanti deja inscrisi', '<span class="text-danger">pentru participanti deja inscrisi</span>').gsub('cu inscriere', '<span class="text-danger">cu inscriere</span>') %>
                    </td>                      
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>

                        <td style="text-align:center;"> <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> </td>      
                    </tr>  
                <% end %>  
            </tbody>
        </table>
    </div>


    <% if @prods.any? { |prod| prod.id == 11 } && @prods.any? { |prod| prod.id == 12 } %>  
    <a name="nutritie-modul3"></a>
    <h1 class="alimente-nutritionale" id="Nutritie3">Acces Curs Nutritie Modulul 3 </h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'Nutritie3' }.sort_by(&:created_at).each do |prod| %>
                <% next if (prod.cod == "cod38" && !@user_has_prod_cod11) %>
                <% next if (prod.cod == "cod39" && !@user_has_prod_cod13) %>
                <tr>
                <td>
                  <%= raw prod.nume
                           .gsub('înscrieri până pe 20 septembrie 2023', '<span class="text-danger">înscrieri până pe 20 septembrie 2023</span>')
                           .gsub('înscrieri începând cu 21 septembrie 2023', '<span class="text-danger">înscrieri începând cu 21 septembrie 2023</span>')
                           .gsub(/\bRO\b/, '<span class="text-danger">RO</span>')
                           .gsub(/\bEN\b/, '<span class="text-danger">EN</span>') %>
                </td>
                <td>
                  <%= raw prod.detalii
                           .gsub('Înscrieri până pe 20 septembrie 2023', '<span class="text-danger">Înscrieri până pe 20 septembrie 2023</span>')
                           .gsub('Înscrieri începând cu 21 septembrie 2023', '<span class="text-danger">Înscrieri începând cu 21 septembrie 2023</span>') %>
                </td>
                <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>
                <td style="text-align:center;">
                  <% if prod.cod == "cod13" && Time.now.to_date <= Date.new(2023,9,20) %>
                    <%= button_to 'Inactiv', '#', class: 'btn btn-secondary', disabled: true %>
                  <% elsif prod.cod == "cod11" && Time.now.to_date >= Date.new(2023,9,21) %>
                    <%= button_to 'Inactiv', '#', class: 'btn btn-secondary', disabled: true %>
                  <% else %>
                    <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %>
                  <% end %>
                </td>
              </tr>
              
               
                <% end %>  
            </tbody>
        </table>
    </div>

<%end%>



<h1 class="alimente-nutritionale" id="Tabara23ToamnaP1P2">Acces prezentari ZOOM Tabara de Ayurveda 2023 etapa de toamna  partile 1 si 2 </h1>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr class= "desk">
            <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
            <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
            
            <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
            <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
        </tr>      
    </thead>
        <tbody>
        <% @prod_tayt12.select{ |prod| prod.curslegatura == 'tayt12' && prod.pret > 0 }.each do |prod| %>
            <% if prod.cod != "cod48" || ((current_user && prod.cod == "cod48" && current_user.email == "aaa@yahoo.com") || (current_user && current_user.role==2)) %>
          
            <% if prod.cod != "cod54" || (current_user && (has_purchased_product?(current_user, @prod_tayt12) || current_user.role==1)) %>

                <tr>
                    <td> <%= prod.nume %> </td>         
                                       
                    <td><%= prod.detalii %></td> 
                    
                    <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>
          
                    <td style="text-align:center;"> 
                        <% if (prod.cod == "cod40" || prod.cod == "cod42" || prod.cod == "cod44") && Time.now.to_date >= Date.new(2023,10,19) %>
                            <%= button_to 'Inactiv', '#', class: 'btn btn-secondary', disabled: true %>
                        <% else %>
                            <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> 
                        <% end %>
                    </td>           
                </tr>
              <% end %> 
            <% end %> 
          <% end %>
          
            </tbody>  

        


    </table>
</div>
</section>


