
<section class="tabel-container rotate-landscape">
<%if current_user && current_user.role==1%>
    <h1 class="alimente-nutritionale" id="CalculatorValoriNutritionale">Calculator Valori Nutritionale</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'Nutritie' }.each do |prod| %>
                    <tr>
                        <td> <%= prod.nume %> </td>                        
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>

                        <td style="text-align:center;"> <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> </td>      
                    </tr>  
                <% end %>  
            </tbody>
        </table>
    </div><% end %>
    <h1 class="alimente-nutritionale" id="ListaIngredienteVegetale">Consultare Selectiva Lista Ingrediente Vegetale</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk" >
                    <th  style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th  style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th  style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th  style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <!-- Primul tbody pentru produsele cu pret = 0 -->
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'Lista vegetale' && prod.pret == 0 && prod.status=='activ'}.each do |prod| %>
                <tr>
                  <td> <%= raw prod.nume.gsub('promo acces 24h', '<span class="text-danger">promo acces 24h</span>') %> </td>
                                   
                <td><%= prod.detalii %></td> 
                
                <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>
                <td style="text-align:center;">
                <% if (current_user && current_user.cursuri.any? { |curs| curs.listacursuri.nume == "Lista vegetale" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) }) || (current_user && current_user.role == 1) %>


                <%= link_to 'Comanda', listavegetalegratis_home_path(acces: "da"), class: 'btn btn-primary' %>


                    <% elsif current_user %>   
                    <%= link_to 'Comanda', listavegetalegratis_home_path(acces: "nu"), class: 'btn btn-primary' %>

                    <% else %>   
                    <%= link_to 'Comanda', new_user_session_with_return_path('lg'), class: 'btn btn-primary' %>
                    <% end %>
                </td>      
                </tr>
                <% end %>
            </tbody>
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'Lista vegetale' && prod.pret > 0 }.each do |prod| %>
                    <tr>
                        <td> <%= prod.nume %> </td>                        
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>

                        <td style="text-align:center;"> <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> </td>      
                    </tr>  
                <% end %>  
            </tbody>
        </table>
    </div>

    <h1 class="alimente-nutritionale" id="Tabara23VaraP2">Acces prezentari video din Tabara de Ayurveda 2023 etapa de vara  partea a 2-a </h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'tayv2' }.each do |prod| %>
                    <tr>
                    <td>
                        <%= raw prod.nume.gsub('pentru participanti deja inscrisi', '<span class="text-danger">pentru participanti deja inscrisi</span>').gsub('cu inscriere', '<span class="text-danger">cu inscriere</span>') %>
                    </td>                      
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>

                        <td style="text-align:center;"> <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> </td>      
                    </tr>  
                <% end %>  
            </tbody>
        </table>
    </div>


   


</section>


<script type="text/javascript">
        console.log("Test simplificat de consolă.");
    </script>