<style>
#nutritie1 .cm h2 {
    font-size:22px;
}
#nutritie1 .register{
    border: 1px solid #4b0082;
    background-color:#4b0082;
}
#nutritie1 .cm h3{
    font-size:18px;
    font-weight:800;
    margin-bottom:5px;
}
#nutritie1 .register{
    margin:0;
    margin-top:20px;
}
#nutritie1 .table td {
    text-align:center;
}
@media screen and (max-width: 720px) {
    #nutritie1 .register{
        margin:0 auto;
        margin-top:20px;
    }
    .cm{
        text-align:center;
    }
}

</style>
<% content_for :title, "Cognitronica și Gândirea Neconvențională - Ayush Cell Romania" %>
<% content_for :meta_tags do %>
  <meta name="description" content="Explorați domeniul fascinant al cognitronicii. Descoperiți cum gândirea neconvențională și cunoașterea superioară pot transforma percepția asupra conștiinței umane.">
  <meta name="keywords" content="Cognitronica, Gândire Neconvențională, Conștiință Umană, Bharadvaja, Prabodha-Vijnana, Patanjali, Cunoaștere Superioară">
  <link rel="canonical" href="http://localhost:3000/testcognitronica">
<% end %>

<div class="container" id="nutritie1">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Cognitronica și Gândirea Neconvențională - Ayush Cell Romania</h1>
    <h2 class="main-title" >Cognitronica și Gândirea Neconvențională</h2>

<section>


<div class="row1 center" style="max-width:920px; margin:0 auto;">
    <div class="r1c1" style="height: 350px;">
      
      <img src="<%= image_url('cognitronica.jpg') %>" alt="Cognitronica și Gândirea Neconvențională">
    </div>
    <div class="r1c2">
    <p>Cognitronica este un domeniu ezoteric avându-și rădăcinile în tradiția ayurvedică, și este strâns legată de înțelegerea profundă a conștiinței umane. Acest domeniu este promovat de înțeleptul ayurvedic Bharadvaja și este cunoscut tradițional sub numele de Prabodha-Vijnana. </p>
    <p>Un pilon central al cognitronicii este gândirea neconvențională. Aceasta se referă la abordări de gândire care se îndepărtează de normele convenționale, cultivând inovația și creativitatea. Gândirea neconvențională încurajează explorarea ideilor neobișnuite și adoptarea unei flexibilități mentale, oferind astfel noi perspective asupra vieții și provocărilor acesteia.</p>
    <% if !current_user %>      
    <div class="r1c2">
        <%= link_to 'Înscrie-te acum', new_user_session_with_return_path('traditia_ayurvedica'), class: 'register' %>
    </div>
    <%elsif current_user && !@has_access%>
    <%= link_to 'Vizionează acum', '#VideoNutritie', class: 'register' %>

     <%end%> 
     
 </div>
  </div>
<section class="cm">  
<br>
<h2 style="font-size:22px;">Cognitronica: O explorare a cunoașterii superioare și a gândirii neconvenționale</h2>
<br>

<h3>Transcenderea gândirii convenționale și accesarea cunoașterii superioare</h3>
<p>Cognitronica oferă o perspectivă unică asupra cunoașterii, diferind semnificativ de epistemologie. În timp ce epistemologia tradițională se concentrează pe studiul naturii, originilor și limitelor cunoașterii umane, cognitronica adoptă o abordare mai pragmatică. Aceasta se focalizează pe îmbunătățirea funcțiilor cognitive și pe aplicarea intervențiilor corectoare pentru optimizarea gândirii.</p>

<p>Un aspect distinctiv al cognitronicii este clasificarea sa a formelor de gândire, influențată de învățăturile înțeleptului Patanjali. Printre acestea se numără pramana (cunoașterea corectă), atenția selectivă (ekagrata), atenția divizată (vibha-jnana), memoria procedurală (kriya-smriti), memoria episodică (ghata-smriti) și memoria semantică. Aceste forme reprezintă unelte esențiale pentru dezvoltarea gândirii neconvenționale și pentru accesarea unor niveluri superioare de cunoaștere.</p>

<p>Cognitronica se prezintă ca un domeniu profund și captivant, care deschide calea către o înțelegere mai profundă a conștiinței umane și a capacităților cognitive. Prin abordările sale neconvenționale și tradițiile sale bogate, cognitronica oferă un cadru valoros pentru explorarea și expansiunea potențialului uman. </p>



<% if !user_signed_in? || (current_user && !@has_access) %>




<% if !current_user %>      
    <div class="r1c2" style="align-items: center; width:100%;">
        <%= link_to 'Vizionează înregistrările', new_user_session_with_return_path('traditia_ayurvedica'), class: 'register' %>
    </div>
    <%elsif current_user && !@has_access%>
    <div class="r1c2" style="align-items: center; width:100%;">
    <%= link_to 'Vizionează înregistrările', '#VideoNutritie', class: 'register' %>
    </div>
     <%end%> 

<br>
<h2>Înscriere și participare</h2>
<br>


<h3><strong>Modalitatea de accesare</strong></h3>
<p>Prezentarile sunt disponibile exclusiv prin înregistrări, oferind astfel participanților libertatea de a accesa conținutul la orice oră și fără restricții de timp, asigurând flexibilitatea necesară în gestionarea programului personal.</p>
<h3><strong>Cum pot viziona?</strong></h3>
<p>Pentru a accesa prezentarile, vă invităm să efectuați plata aferentă. Dupa finalizarea platii, accesul la vizionarea inregistrarilor se va face direct in pagina de site.</p>
<h3><strong>Costul participării</strong></h3>
<p>Vizionarea fiecarei inregistrari are un cost accesibil de 12 lei.</p>
<h3><strong>Durata accesului</strong></h3>
<p>Accesul la vizionarea înregistrării se realizează pentru o perioadă de 60 de zile de la data efectuarii platii.</p>

</section>


<section>
<% if !user_signed_in? %>

<%end%>
<%end%>

   
 
</section>




<% if !@videos_correspondente.empty? || @has_access%>



<h2 id="VideoNutritie" style= "text-align: center;padding: 0 10px; font-size:28px;">Seminar video: cognitronica și gândirea neconvențională</h2></br>



<div id="videos">
  <table class="table">
    <thead>
    <tr>
        <th>Data</th>
        <th>Nume</th>
        <th>Descriere</th>       
        <th>Actiune</th>
        
    </tr>
    </thead>
    <tbody>
    <% @videos_correspondente.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>








<%end%>








<%if !current_user ||  (current_user && !@prods.empty?) %>

<h2 class="alimente-nutritionale" id="VideoNutritie" style="font-size:28px;">Acces prezentari video: Cognitronica și gândirea neconvențională</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.each do |prod| %>
                    <tr>
                    
                    <td><%= prod.nume %></td> 
                                          
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>
                         <% if current_user %>
                         <td style="text-align:center;">
                           <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %>
                         </td>
                       <% else %>
                         <td style="text-align:center;">
                           <%= link_to 'Comanda', new_user_session_with_return_path('traditia_ayurvedica'), class: 'btn btn-primary' %>
                         </td>
                       <% end %>
                       
                        </tr>  
                <% end %>  
            </tbody>
        </table>
    </div>
<%end%>    













</div>
</div>