<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video.js MP4 Player</title>

  <!-- Include Video.js CSS -->
  <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />

  <!-- Include Video.js script -->
  <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
</head>
<body>
<h2>Răspunsuri pentru URL 1</h2>
1. Codul de răspuns: <%= @data_url1[:response_code] %><br>
2. Corpul răspunsului: <%= @data_url1[:response_body] %><br>
3. Mesaj de eroare: <%= @data_url1[:error_message] %><br>
4. Cheia: <%= @data_url1[:key] %><br>
5. Valoarea: <%= @data_url1[:value] %><br>

<h2>Răspunsuri pentru URL 2</h2>
1. Codul de răspuns: <%= @data_url2[:response_code] %><br>
2. Corpul răspunsului: <%= @data_url2[:response_body] %><br>
3. Mesaj de eroare: <%= @data_url2[:error_message] %><br>
4. Cheia: <%= @data_url2[:key] %><br>
5. Valoarea: <%= @data_url2[:value] %><br>

  <h1>Test Video Player (MP4)</h1>

  <!-- Playerul Video.js pentru MP4 -->
  <video id="my-video" class="video-js" controls preload="auto" width="640" height="360" data-setup="{}" oncontextmenu="return false;" controlsList="nodownload">
    <source src="<%= @video_url %>" type="video/mp4">
    <track src="<%= @subtitle_url %>" kind="subtitles" srclang="en" label="English" default>
    Your browser does not support the video tag.
  </video>

  <!-- Inițializarea Video.js -->
  <script>
    var player = videojs('my-video');
    player.ready(function() {
      console.log('Player is ready');
    });
  </script>

</body>
</html>
