
<style>
#nutritie1 .cm h2 {
    font-size:22px;
}
#nutritie1 .register{
    border: 1px solid #4b0082;
    background-color:#4b0082;
}
#nutritie1 .cm h3{
    font-size:18px;
    font-weight:800;
    margin-bottom:0;
}
#nutritie1 .register{
    margin:0;
    margin-top:20px;
}
#nutritie1 .table td {
    text-align:center;
}
@media screen and (max-width: 720px) {
    #nutritie1 .register{
        margin:0 auto;
        margin-top:20px;
    }
    .cm{
        text-align:center;
    }
}

</style>
<% content_for :title, "Ayush Cell Romania: Program de nutritie Ayurvedica: modulul 3" %>
<% content_for :meta_tags do %>
  <meta name="description" content="Descoperi탵i importan탵a adapt캒rii (satmya) alimenta탵iei la tipologia constitu탵ional캒 ayurvedic캒 proprie (dosha) 탳i impactul acesteia asupra s캒n캒t캒탵ii.">
  <meta name="keywords" content="maha-guna, clasificarea alimentelor, sattva, rajas, tamas, nutri탵ie ayurvedic캒, gusturi elementare, rasa, vata-prakriti, pitta-prakriti, kapha-prakriti, piramida nutri탵ional캒 ayurvedic캒, dosha-uri, alimenta탵ie con탳tient캒, stil de via탵캒 ayurvedic, s캒n캒tate 탳i nutri탵ie">

  <link rel="canonical" href="https://www.ayushcell.ro/nutritie3">
<% end %>

<div class="container" id="nutritie1">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Ayush Cell Romania: Program de preg캒tire Nutritie Ayurvedic캒 modulul 3</h1>
    <h2 class="main-title" >Nutritie Ayurvedic캒 modulul 3</h2>

<section>


<div class="row1 center" style="max-width:920px; margin:0 auto;">
    <div class="r1c1" style="height: 350px;">
      
      <img src="<%= image_url('nutritie ayurvedica 3.jpg') %>" alt="Program Nutri탵ie Ayurvedic캒">
    </div>
    <div class="r1c2">
    <p>Programul de formare 칥n nutri탵ie ayurvedic캒 practic캒 este conceput pentru a oferi beneficii practice imediate. Accentul este pus pe identificarea 탳i personalizarea parametrilor nutri탵ionali specifici fiec캒rui participant, recunosc칙nd 탳i ajust칙nd obiceiurile alimentare personale. Scopul este de a facilita 칥mbun캒t캒탵iri semnificative 칥n stilul de via탵캒 al participan탵ilor, prin aplicarea principiilor nutri탵iei ayurvedice 칥n via탵a de zi cu zi.</p>

    <% if !current_user %>      
    <div class="r1c2">
        <%= link_to '칉nscrie-te acum', new_user_session_with_return_path('nutritie3'), class: 'register' %>
    </div>
    <%elsif current_user && !@has_access%>
    <%= link_to '칉nscrie-te acum', '#VideoNutritie', class: 'register' %>

     <%end%> 
     
 </div>
  </div>
<section class="cm">  
<br>
<h2 style="font-size:22px;">Din subiectele abordate in cadrul acestui modul:</h2>
<br>



<h3>游꺔 Clasificarea detaliat캒 a alimentelor 칥n func탵ie de cele trei maha-guna-uri</h3>
    <p>No탵iuni generale despre cele trei tendin탵e fundamentale ale naturii, maha-guna-uri: sattva, rajas 탳i tamas. Clasificarea detaliat캒 a alimentelor 칥n func탵ie de cele trei maha-guna-uri. Un mod con탳tient de hr캒nire presupune alegerea atent캒 a ingredientelor pentru o nutri탵ie preponderent sattva-ic캒.</p>

<h3>游꼝 Selec탵ia alimentelor 칥n func탵ie de gust (rasa)</h3>
    <p>Descrierea pe larg a celor 6 gusturi elementare care sunt importante 칥n nutri탵ie, cu exemple detaliate de ingrediente. Efectele folosirii 칥n exces a fiec캒ruia dintre cele 6 gusturi (rasa) asupra organelor interne 탳i asupra st캒rilor predominante 칥n con탳tiin탵캒. Gusturile recomandate 칥n general pentru fiecare tip constitu탵ional: vata-prakriti, pitta-prakriti, kapha-prakriti.</p>

<h3>游댴 Piramida nutri탵ional캒 personalizat캒 pentru fiecare tip constitutional ayurvedic</h3>
    <p>Cele trei posibilit캒탵i de ac탵iune a unui aliment asupra celor 3 dosha-uri care alc캒tuiesc fiecare structur캒 uman캒. Alimente recomandate pentru vata-prakriti, pitta-prakriti, kapha-prakriti. Alimente nerecomandate pentru vata-prakriti, pitta-prakriti, kapha-prakriti.</p>

<% if !user_signed_in? || (current_user && !@has_access) %>




<% if !current_user %>      
    <div class="r1c2" style="align-items: center; width:100%;">
        <%= link_to 'Vizioneaz캒 칥nregistr캒rile', new_user_session_with_return_path('nutritie3'), class: 'register' %>
    </div>
    <%elsif current_user && !@has_access%>
    <div class="r1c2" style="align-items: center; width:100%;">
    <%= link_to 'Vizioneaz캒 칥nregistr캒rile', '#VideoNutritie', class: 'register' %>
    </div>
<%end%> 





<br>
<h2>칉nscriere 탳i participare</h2>
<br>

<h3><strong>Cine poate participa?</strong></h3>
<p>Programul este accesibil oricui este interesat de o alimenta탵ie s캒n캒toas캒, f캒r캒 a fi necesar캒 o preg캒tire profesional캒 specific캒. De탳i cunoa탳terea preliminar캒 a unor notiuni din Ayurveda poate constitui un avantaj, modulul acoper캒 toate conceptele esen탵iale pentru a v캒 asigura succesul 칥n parcurgerea lec탵iilor 탳i pentru a facilita o 칥n탵elegere profund캒 a materiei.</p>
<h3><strong>Modalitatea de desf캒탳urare a cursului</strong></h3>
<p>Cursul este disponibil exclusiv prin 칥nregistr캒ri, oferind astfel participan탵ilor nou 칥nscrisi libertatea de a accesa con탵inutul acestui modul, la orice or캒 탳i f캒r캒 restric탵ii de timp, asigur칙nd flexibilitatea necesar캒 칥n gestionarea programului personal.</p>
<h3><strong>Procesul de 칥nscriere</strong></h3>
<p>Pentru a v캒 칥nscrie la acest modul, v캒 invit캒m s캒 efectua탵i plata aferent캒. Dupa finalizarea platii, accesul la vizionarea inregistrarilor se va face direct in pagina de site.</p>
<h3><strong>Costul particip캒rii</strong></h3>
<p>Participarea la acest modul de nutri탵ie reprezint캒 o investi탵ie valoroas캒 칥n direc탵ia educa탵iei pentru s캒n캒tate 탳i pentru dezvoltarea personal캒 탳i profesional캒, av칙nd un cost accesibil de 780 lei.</p>
<h3><strong>Durata accesului la curs</strong></h3>
<p>Participan탵ii vor avea acces la vizionarea 칥nregistr캒rilor cursului pentru o perioad캒 de 90 de zile de la data 칥nscrierii.</p>

</section>


<section>
<% if !user_signed_in? %>

<%end%>
<%end%>
<% if current_user && @has_access %>
<p>Programul de formare 칥n nutri탵ie ayurvedic캒 practic캒 este conceput pentru a oferi beneficii practice imediate. Accentul este pus pe identificarea 탳i personalizarea parametrilor nutri탵ionali specifici fiec캒rui participant, recunosc칙nd 탳i ajust칙nd obiceiurile alimentare personale. Scopul este de a facilita 칥mbun캒t캒탵iri semnificative 칥n stilul de via탵캒 al participan탵ilor, prin aplicarea principiilor nutri탵iei ayurvedice 칥n via탵a de zi cu zi.</p>

<%else%>

<%end%>
   
 
</section>

 








<section>
<%if !@platit%>

<h1 class="alimente-nutritionale" id="VideoNutritie" style="font-size:28px;">Acces prezentari video Nutritie Modulul 3</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'Nutritie3' }.each do |prod| %>
                    <tr>
                    <td>
                        <%= raw prod.nume.gsub('pentru participanti deja inscrisi', '<span class="text-danger">pentru participanti deja inscrisi</span>').gsub('cu inscriere', '<span class="text-danger">cu inscriere</span>') %>
                    </td>                      
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>
                         <% if current_user %>
                         <td style="text-align:center;">
                           <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %>
                         </td>
                       <% else %>
                         <td style="text-align:center;">
                           <%= link_to 'Comanda', new_user_session_with_return_path('nutritie3'), class: 'btn btn-primary' %>
                         </td>
                       <% end %>
                       
                        </tr>  
                <% end %>  
            </tbody>
        </table>
    </div>
<%end%>    

<% if current_user %>
<% if @platit %>

<h2 style= "text-align: center;padding: 0 10px; font-size:28px;">칉nregistr캒ri video Program de preg캒tire: Nutritie Ayurvedic캒 modulul 3</h2></br>



<div id="videos">
  <table class="table">
    <thead>
    <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>       
        <th>Actiune</th>
        
    </tr>
    </thead>
    <tbody>
    <% @myvideo2.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>


<% end %><% end %>


<% if !user_signed_in? || (current_user && !@has_access) %>



<%end%>
<% if current_user && @has_access %>

<%else%>
<br><br><br>
<%end%>
    <% if current_user && @condition1%>
        <h2 style= "text-align: center;padding: 0 10px; font-size:28px;margin-top:35px;">Resurse</h2></br>



        <div id="videos">
            <table class="table">
                <thead>
                <tr>
                    <th>Nr</th>
                    <th>Nume</th>
                    <th>Descriere</th>       
                    <th>Actiune</th>
                    <th>Descarca PDF</th>
                </tr>
                </thead>
                <tbody>
                
                <% previous_video_tip = nil %>
                <% if current_user && @condition1%>
                <% @myvideo7.each do |video| %>
                    <%= render partial: 'video1', locals: { video: video, previous_video_tip: previous_video_tip } %>
                    <% previous_video_tip = video.tip %>
                <% end %>
                <% end %>
               

                </tbody>
            </table>
        </div>
    <%end%>
 
</section>

</div>
</div>
