<h1>User IPs</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>User ID</th>
      <th>Adresa Ip</th>
      <th>Curs Promo</th>
      <th>Creat</th>
      
      <th>Email User</th>
      <th>Nume User</th>
    </tr>
  </thead>

  <tbody>
    <% @userip.each do |userip| %>
      <tr>
        <td><%= userip.id %></td>
        <td><%= userip.user_id %></td>
        <td><%= userip.ip_address %></td>
        <td><%= userip.curspromo %></td>
        <td><%= userip.created_at %></td>
        
        <td><%= userip.user&.email %></td> 
        <td><%= userip.user&.name %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
