<% border_style = (defined?(previous_video_tip) && previous_video_tip == 'nutritie2' && video.tip == 'nutritie3') ? 'border-top: 3px solid #000;' : '' %>

<tr style="<%= border_style %>">
<% if video.tip == 'jivaka' || video.tip == 'cognitronica' %>
<td>
  
  <%= video.ordine %>
 
  
</td>

<% end %>





  <td><%= video.nume %></td>
  <td><%= video.descriere %></td>
  
  <% if video.tip == 'jivaka' || video.tip == 'cognitronica' %>
  <td>   
    <%= link_to "Vezi video", myvideo11_path(id: video.id, link: video.link), class: "btn btn-primary" %>
  </td>
  <%end%>

  <% if defined?(previous_video_tip) %>
  <td>
  <%= link_to "Descarcă PDF", video.linkpdf, class: "btn btn-primary", download: '' %>


  </td>
  <%end%>
</tr>
