<style>
#traditia .cm h2 {
    font-size:22px;
}
#traditia .register{
    border: 1px solid #4b0082;
    background-color:#4b0082;
}
#traditia .cm h3{
    font-size:18px;
    font-weight:800;
    margin-bottom:5px;
}
#traditia .register{
    margin:0;
    margin-top:20px;
    margin-left:10px;
}
#traditia .table td {
    text-align:center;
}
@media screen and (max-width: 720px) {
    #traditia .register{
        margin:0 auto;
        margin-top:20px;
    }
    .cm{
        text-align:center;
    }
}

</style>
<% content_for :title, "Traditia Ayurvedică - Amnaya Tantraka | Ayush Cell Romania" %>
<% content_for :description, "Aflați mai multe despre Amnaya Tantraka și tradiția Ayurvedică. Descoperiți cunoașterea continuță in textele tradiționale cum sunt Charaka sau Sushruta Samhita precum și modul in care practicile de meditație vă pot conecta la nivele superioare de conștiință." %>
<% content_for :keywords, "Amnaya Tantraka, Ayurveda, Charaka-Samhita, Sushruta-Samhita, Ashtanga-Hridaya, Kashyapa-Samhita, Sharangadhara-Samhita, tradiție ayurvedică, Divya-pratna, Rishi-pratna, meditație, înțelepciuni ayurvedice, Brahma, Trimurti, Indra, Dhanvantari, Sarasvati, Agni, sănătate holistică" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/traditia_ayurvedica">
<% end %>

<div class="container" id="traditia">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Ayush Cell Romania: Traditia Ayurvedică - Amnaya Tantraka</h1>
    <h2 class="main-title" >Traditia Ayurvedică - Amnaya Tantraka</h2>

<section>


<div class="row1 center" style="max-width:920px; margin:0 auto;">
    <div class="r1c1" style="height: 350px;">
      
      <img src="<%= image_url('traditia-ayurvedica.jpg') %>" alt="Traditia Ayurvedică - Amnaya Tantraka">
    </div>
    <div class="r1c2">
    <p>Termenul sanscrit Amnaya are sensul de tradiţie spirituală sacră. Semnificaţia acestui termen este valabilă pentru orice fel de cunoaştere superioară, esenţială, care are o origine dumnezeiască şi care este oferită fiinţelor umane prin intermediul revelaţiilor unor mari spirite şi a unor fiinţe excepţionale ce au fost inspirate în mod direct de Dumnezeu. </p>
    <p>O astfel de tradiţie sacră (Amnaya) este cea care se perpetuează prin menţinerea nealterată a unor stări spirituale model de inspiraţie dumnezeiască şi prin reflectarea călăuzirii interioare dumnezeieşti, fără întrerupere şi în mod constant de-a lungul timpului. </p>
    
    <%= link_to 'Vizionează acum', '#traditia-ayurvedica', class: 'register' %>

    
     
 </div>
  </div>
<section class="cm">  
<br>
<h2 style="font-size:22px;">Traditia spirituala Ayurvedică</h2>
<br>

<h3> Ce este Amnaya Tantraka</h3>
<p>Fiecare dintre lucrările tradiţionale celebre de Ayurveda, Charaka-Samhita, Sushruta-Samhita, Ashtanga-Hridaya, Kashyapa-Samhita sau Sharangadhara-Samhita includ referinţe mai mult sau mai puţin detaliate, în care sunt descrise aspecte relevante, ce sunt specifice tradiţiei ayurvedice. Există în fiecare dintre aceste scrieri ayurvedice tradiţionale consemnarea unor evenimente reprezentative pentru tradiţia ayurvedică (Ayurveda-Amnaya), fie întâlniri ale înţelepţilor ayurvedici (rishi), fie afirmaţii celebre ale unor mari zei din tradiţia ayurvedică, aşa cum este Marele Zeu Indra.</p>

<p>Tradiţia ayurvedică prezintă două direcţii reprezentative. Prima direcţie o reprezintă tradiţia fiinţelor celeste, a fiinţelor zeieşti sau, altfel spus, tradiţia divină (Divya-pratna), în care se face referire la fiinţe superioare, supraumane excepţionale, aşa cum este Brahma, Marele Zeu al trinităţii hinduse Trimurti, care reprezintă aspectul lui Dumnezeu (Brahman) de Creator al Universului, Daksha, cei doi Ashvini, Marele Zeu Indra, Marele Zeu Dhanvantari, Zeiţa Sarasvati sau Marele Zeu Agni. Cea de-a doua direcţie este tradiţia înţelepţilor ayurvedici (Rishi-pratna), din care fac parte toţi marii înţelepţi ayurvedici care au contribuit, fiecare în felul său specific, la perpetuarea şi la punerea în valoare a acestei Ştiinţe milenare a Vieţii (Ayurveda), aşa cum sunt înţelepţii Atreya, Bharadvaja, Kashyapa, Sushruta, Nagarjuna, Marichi, Charaka, Agnivesha, Jatukarna, Harita, Kumara-Sira, Badisha, Jivaka, Bhela, Vagbhata, Ksharapani, Chayavana, Parashara sau Chakrapani.</p>

<p>Sfera de conştiinţă a fiecărui înţelept ayurvedic poate fi apelată prin meditaţie profundă, realizată într-o manieră evocatoare superioară, prin raportare la aspectele specifice. Realizarea unor astfle de meditaţii identificatoare cu sfera de conştiinţă a unui mare zeu sau a unui mare înţelept ayurvedic poate revela unele aspecte esenţiale care se constituie ca şi chei subtile ale unor forme superioare de afinitate rezonatorie cu sfera de conştiinţă superioară a acelei fiinţe.</p>
<p>Dinamizarea adecvată a unei stări superioare de atenţie selectivă, menţinută apoi o anumită perioadă de timp asupra aspectelor reprezentative ale sferei de conştiinţă a unei astfel de fiinţe excepţionale permite structurarea în conştiinţa practicantului unei astfel de forme de meditaţie a unor aspecte reper, care vor constitui apoi veritabile chei rezonatorii de intrare şi de menţinere în stare spirituală de comuniune telepatică cu sfera de conştiinţă a respectivei fiinţe superioare. </p>

<h2 id="traditia-ayurvedica" style="font-size: 22px; padding-top:10px; padding-bottom:10px; text-align:center;">Acces prezentări video</h2>

<section class="line" style="padding-top:10px; padding-bottom:10px;">
<div class="col"  style="align-items:center;text-align:center;">
<h2>Înțeleptul Ayurvedic Asita-Rishi</h2>

<a href="<%= asita_path %>"><img src="<%= image_path('Asita-Rishi.jpg') %>" alt="Asita-Rishi" style='max-width:300px;'></a>


<div class="desc">Înțeleptul Asita este descris ca fiind un călugăr în vârstă. Mențiunile scrise, care consemnează opinii ale tradiției populare locale, arată că acesta era un expert în numeroase domenii ale cunoașterii acelor timpuri, un mare erudit și un celebru ascet. Având o disciplină spirituală și de viață considerată exemplară, Asita era văzut ca un model de practicant spiritual și un exemplar yoghin...</div>
<div class="btn-fp">

   <%= link_to 'Află mai mult..', asita_path, class: 'btn-fp-link' %>
   

</div>
</div>

<div class="col"  style="align-items:center;text-align:center;">
         <h2>Înțeleptul Ayurvedic Jivaka-Rishi</h2>
         
         <a href="<%= jivaka_path %>"><img src="<%= image_path('jivaka.jpg') %>" alt="Jivaka-Rishi" style='max-width:300px;'></a>
         
       
         <div class="desc">Înţeleptul Jivaka, este o figură emblematică în tradiţia ayurvedică. Numele său, derivat din limba sanscrită, semnifică „ceea ce trăiește” sau „o ființă vie”, sugerând o conexiune profundă cu forțele vitale ale naturii..</div>
         <div class="btn-fp">
         
            <%= link_to 'Află mai mult..', jivaka_path, class: 'btn-fp-link' %>
            
         
         </div>
      </div>



    </section>
    
    <section class="line" style="padding-top:10px; padding-bottom:10px;">
    <div class="col" style="align-items:center;text-align:center;">
    <h2>Perspectiva cognitronicii asupra gandirii neconvenționale</h2>
    <a href="<%= cognitronica_path %>"><img src="<%= image_path('cognitronica.jpg') %>" alt="Perspectiva cognitronicii asupra gandirii neconvenționale" style="max-width:300px;"></a>

    <div class="desc">Știința cognitronicii sau știința ezoterică a existenței și manifestării fluxurilor cognitronice (Prabodha-Vijnana) a fost inițiată de către marele înțelept și yoghin Bharadvaja. Cognitronica oferă ființelor umane pregătite accesul la o cunoaștere superioară de natură supramentală..</div>
    <div class="btn-fp">          
    
      <%= link_to 'Află mai mult..', cognitronica_path, class: 'btn-fp-link' %>
    
  
  
    </div>
 </div>

    <div class="col"  style="align-items:center;text-align:center;">
       <h2>Optimizarea performanțelor cognitive prin practici de pratyahara care pot potența funcțiile inhibitorii cerebrale</h2>
       <a href="<%= optimizarea_performantelor_cognitive_path %>"><img src="<%= image_path('optimizarea_performanțelor_cognitive 2.jpg') %>" alt="Optimizarea performantelor cognitive" style='max-width:300px;'></a>
     
       <div class="desc">Atunci când parcurgem într-un mod comparativ felul în care este descrisă practica pratyahara (retragerea simțurilor) în tratatele străvechi orientale și felul în care neuroștiința contemporană explică controlul asupra funcțiilor sistemului nervos, descoperim o coincidență remarcabilă. Aceasta subliniază capacitățile noastre inerente de autoreglare a conștiinței, evidențiind o punte între înțelepciunea tradițională și descoperirile științifice moderne..</div>
       <div class="btn-fp">
       
          <%= link_to 'Află mai mult..', optimizarea_performantelor_cognitive_path, class: 'btn-fp-link' %>
          
       
       </div>
    </div>


  </section>

<br>
<h2>Înscriere și participare</h2>
<br>


<h3><strong>Modalitatea de accesare</strong></h3>
<p>Prezentarile sunt disponibile exclusiv prin înregistrări, oferind astfel participanților libertatea de a accesa conținutul la orice oră și fără restricții de timp, asigurând flexibilitatea necesară în gestionarea programului personal.</p>
<h3><strong>Cum pot viziona?</strong></h3>
<p>Pentru a accesa prezentarile, vă invităm să efectuați plata aferentă. Dupa finalizarea platii, accesul la vizionarea inregistrarilor se va face direct in pagina de site.</p>
<h3><strong>Costul participării</strong></h3>
<p>Vizionarea fiecarei inregistrari are un cost accesibil de doar 12 lei.</p>
<h3><strong>Durata accesului</strong></h3>
<p>Accesul la vizionarea înregistrării se realizează pentru o perioadă de 60 de zile de la data efectuarii platii.</p>

</section>


<section>


   
 
</section>

</div>
</div>