<style>
#nimi .cm h2 {
    font-size:22px;
}
#nimi .register{
    border: 1px solid #eb7c17;
    background-color: #d87a3a;
}
#nimi .cm h3{
    font-size:18px;
    font-weight:800;
    margin-bottom:5px;
}
#nimi .register{
    margin:0;
    margin-top:20px;
    margin-left:10px;
}
#nimi .table td {
    text-align:center;
}
@media screen and (max-width: 720px) {
    #nimi .register{
        margin:0 auto;
        margin-top:20px;
        margin-left: auto;
    }
    .cm{
        text-align:center;
    }
}

</style>
<% content_for :title, "Traditia Ayurvedică - Nimi-Rishi | Ayush Cell Romania" %>
<% content_for :description, "Regele Nimi, un înțelept ayurvedic legendar, este recunoscut pentru contribuțiile sale la Ayurveda, prin promovarea echilibrului dintre trup și conștiință și practica Pancha Karma." %>
<% content_for :keywords, "Regele Nimi, Nimi Rishi, Ayurveda, medicina tradițională indiană, Charaka Samhita, Pancha Karma, yoga, echilibru trup-conștiință, sănătate holistică, tradiția vedică, înțelepciune ayurvedică" %>




<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/nimi">
<% end %>

<div class="container" id="nimi">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Traditia Ayurvedică - Nimi-Rishi I Ayush Cell Romania</h1>
    <h2 class="main-title" >Traditia Ayurvedică - Nimi-Rishi</h2>

<section>


<div class="row1 center" style="max-width:920px; margin:0 auto;">
    <div class="r1c1" style="height: 350px;">
      
      <img src="<%= image_url('regele_nimi.webp') %>" alt="Traditia Ayurvedică - Nimi-Rishi">
    </div>
    <div class="r1c2">
    <p>Regele Nimi, un personaj legendar și unul dintre marii înțelepți ayurvedici din tradiția indiană antică, este recunoscut pentru contribuțiile sale semnificative la consolidarea și aplicarea practică a principiilor Ayurveda. El s-a distins nu doar prin implicarea sa în medicina holistică, ci și prin practica profundă a sistemului yoga, îmbinând cu înțelepciune cunoașterea vindecării cu disciplina spirituală.
    </p>
    
    <% if !current_user %>      
    <div class="r1c2">
        <%= link_to 'Vezi mai mult..', new_user_session_with_return_path('nimi'), class: 'register' %>
    </div>
    <%elsif current_user%>
    <%= link_to 'Vizionează acum', 'nimi', class: 'register' %>

     <%end%> 
     
 </div>
  </div>
<section class="cm">  
<br>
<h2 style="font-size:22px;">Traditia spirituala ayurvedică - Nimi-Rishi</h2>
<br>

<h3>Aspecte tradiționale</h3>
<p>Regele Nimi, menționat adesea în Charaka Samhita ca un mare înțelept și yoghin, s-a distins prin implicarea sa profundă în știința ayurvedică și este asociat cu promovarea legăturii dintre sănătatea trupeasca si a conștiinței prin practica meditației yoghine profunde (dhyana). El este cunoscut pentru contribuțiile sale remarcabile în Ayurveda, participând la dialoguri cu alți înțelepți (rishi) despre sănătatea ființei umane și promovând practici precum pancha-karma, care asigurau prevenirea bolilor și bunăstarea oamenilor. În regatul său, regele Nimi a creat un mediu în care spiritualitatea și medicina erau strâns legate, oferind acces la metode terapeutice care susțineau armonia între trup și conștiință.</p>

<h3>Contribuții spirituale</h3>
<p>Devotamentul său neclintit și capacitatea sa de a organiza acțiuni precise și benefice pentru comunitate i-au adus respectul zeilor, care l-au răsplătit cu nemurirea spirituală. În toate acțiunile sale, Nimi a demonstrat o rigoare exemplară, respectând timpul ca o resursă esențială pentru dezvoltarea spirituală, fapt ce i-a permis să fie mereu punctual și să își ducă la îndeplinire planurile fără întârziere. Prin aceste calități, el a devenit un model al eficienței spirituale și al înțelepciunii practice, inspirându-i pe cei din regatul său să își folosească timpul cu înțelepciune.</p>
<p>Regele Nimi este asociat cu nimișa – clipirea ochilor, care devine o metaforă pentru eficiența și rapiditatea cu care acționa. Această expresie subliniază capacitatea sa de a valorifica fiecare moment, demonstrând că orice acțiune bine executată poate aduce rezultate imediate și precise. În acest fel, Nimi rămâne un exemplu de folosire înțeleaptă a timpului și de atingere a unui echilibru spiritual prin acțiuni rapide și bine calculate.</p>

<h3>Modalitati de raportare la sfera sa de conștiință</h3>
<p>Sfera de conştiinţă a fiecărui înţelept ayurvedic poate fi apelată prin meditaţie profundă, realizată într-o manieră evocatoare superioară, prin raportare la aspectele specifice. Realizarea unor astfel de meditaţii identificatoare cu sfera de conştiinţă a unui mare zeu sau a unui mare înţelept ayurvedic poate revela unele aspecte esenţiale care se constituie ca şi chei subtile ale unor forme superioare de afinitate rezonatorie cu sfera de conştiinţă superioară a acelei fiinţe.</p>
<p>Dinamizarea adecvată a unei stări superioare de atenţie selectivă, menţinută apoi o anumită perioadă de timp asupra aspectelor reprezentative ale sferei de conştiinţă a unei astfel de fiinţe excepţionale permite structurarea în conştiinţa practicantului a unei astfel de forme de meditaţie a unor aspecte reper, care vor constitui apoi veritabile chei rezonatorii de intrare şi de menţinere în stare spirituală de comuniune telepatică cu sfera de conştiinţă a respectivei fiinţe superioare. </p>


<% if !user_signed_in? || (current_user && !@has_access) %>


<% if !current_user %>      
    <div class="r1c2" style="align-items: center; width:100%;">
        <%= link_to 'Vizionează seminarul complet', new_user_session_with_return_path('nimi'), class: 'register' %>
    </div>
    <%elsif current_user && !@has_access%>
    <div class="r1c2" style="align-items: center; width:100%;">
    <%= link_to 'Vizionează seminarul complet', '#nimi-rishi', class: 'register' %>
    </div>
     <%end%> 

<br>
<h2>Înscriere și participare</h2>
<br>


<h3><strong>Modalitatea de accesare</strong></h3>
<p>Prezentarile sunt disponibile exclusiv prin înregistrări, oferind astfel participanților libertatea de a accesa conținutul la orice oră și fără restricții de timp, asigurând flexibilitatea necesară în gestionarea programului personal.</p>
<h3><strong>Cum pot viziona?</strong></h3>
<p>Pentru a accesa prezentarile, vă invităm să efectuați plata aferentă. Dupa finalizarea platii, accesul la vizionarea inregistrarilor se va face direct in pagina de site.</p>
<h3><strong>Costul participării</strong></h3>
<p>Vizionarea fiecarei inregistrari are un cost accesibil de doar 12 lei.</p>
<h3><strong>Durata accesului</strong></h3>
<p>Accesul la vizionarea înregistrării se realizează pentru o perioadă de 60 de zile de la data efectuarii platii.</p>

</section>


<section>
<% if !user_signed_in? %>

<%end%>
<%end%>

 
</section>


<% if !@videos_correspondente.empty? || @has_access%>



<h2 class="alimente-nutritionale" id="nimi-rishi" style= "text-align: center;font-size:28px;">Înregistrări video Tradiția Ayurvedică</h2>



<div id="videos">
  <table class="table">
    <thead>
    <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>       
        <th>Actiune</th>
        
    </tr>
    </thead>
    <tbody>
    <% @videos_correspondente.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>


<%end%>


<%if !current_user ||  (current_user && !@prods.empty?) %>

<h2 class="alimente-nutritionale" id="nimi-rishi" style="font-size:28px;">Acces prezentări video Traditia Ayurvedica</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.each do |prod| %>
                    <tr>
                    
                    <td><%= prod.nume %></td> 
                                          
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>
                         <% if current_user %>
                         <td style="text-align:center;">
                           <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %>
                         </td>
                       <% else %>
                         <td style="text-align:center;">
                           <%= link_to 'Accesează', new_user_session_with_return_path('nimi'), class: 'btn btn-primary' %>
                         </td>
                       <% end %>
                       
                        </tr>  
                <% end %>  
            </tbody>
        </table>
    </div>
<%end%>    




</div>
</div>