<style>
#Shukracharya .cm h2 {
    font-size:22px;
}
#Shukracharya .register{
    border: 1px solid #eb7c17;
    background-color: #d87a3a;
}
#Shukracharya .cm h3{
    font-size:18px;
    font-weight:800;
    margin-bottom:5px;
}
#Shukracharya .register{
    margin:0;
    margin-top:20px;
    margin-left:10px;
}
#Shukracharya .table td {
    text-align:center;
}
@media screen and (max-width: 720px) {
    #Shukracharya .register{
        margin:0 auto;
        margin-top:20px;
        margin-left: auto;
    }
    .cm{
        text-align:center;
    }
}

</style>
<% content_for :title, "Traditia Ayurvedică - Shukracharya-Rishi | Ayush Cell Romania" %>
<% content_for :description, "Înțeleptul Shukracharya, cunoscut și sub numele de Ushanas, este o figură legendară în tradiția ayurvedică, recunoscut pentru contribuțiile sale vaste în domeniul Ayurvedei, eticii și strategiei." %>
<% content_for :keywords, "Inteleptul Shukracharya, Shukracharya Rishi, Ayurveda, medicina tradițională indiană, Charaka Samhita, yoga, echilibru trup-conștiință, sănătate holistică, tradiția vedică, înțelepciune ayurvedică" %>




<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/Shukracharya">
<% end %>

<div class="container" id="Shukracharya">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Traditia Ayurvedică - Shukracharya-Rishi I Ayush Cell Romania</h1>
    <h2 class="main-title" >Traditia Ayurvedică - Shukracharya-Rishi</h2>

<section>


<div class="row1 center" style="max-width:920px; margin:0 auto;">
    <div class="r1c1" style="height: 350px;">
      
      <img src="<%= image_url('shukracharya-rishi.webp') %>" alt="Traditia Ayurvedică - Shukracharya-Rishi">
    </div>
    <div class="r1c2">
    <p>Înțeleptul Shukracharya, cunoscut și sub numele de Usanas, este o figură legendară în tradiția ayurvedică, apreciat pentru claritatea, cunoașterea pură și înțelepciunea sa aplicativă, reflectate în vastele sale contribuții la înțelegerea profundă a Ayurvedei, eticii și strategiilor menite să susțină armonia, transformarea spirituală și bunăstarea colectivă.
    </p>
    
    <% if !current_user %>      
    <div class="r1c2">
        <%= link_to 'Vezi mai mult..', new_user_session_with_return_path('shukracharya'), class: 'register' %>
    </div>
    <%elsif current_user%>
    <%= link_to 'Vizionează acum', '#Shukracharya-rishi', class: 'register' %>

     <%end%> 
     
 </div>
  </div>
<section class="cm">  
<br>
<h2 style="font-size:22px;">Traditia spirituala ayurvedică - Shukracharya-Rishi</h2>
<br>

<h3>Aspecte tradiționale</h3>
<p>Înțeleptul Shukracharya, cunoscut și sub numele de Ushanas, este o figură legendară în tradiția ayurvedică, recunoscut pentru contribuțiile sale vaste în domeniul Ayurvedei, eticii și strategiei. Deși nu este direct menționat în lucrările clasice de Ayurveda, influența sa se regăsește în manuscrise valoroase precum Manuscrisul Bower, care atestă cunoștințele sale remarcabile despre formulele terapeutice și metodele de vindecare. Shukracharya s-a remarcat prin capacitatea sa de a transpune învățăturile vedice într-o formă practică, accesibilă, oferind sprijin inclusiv celor care se confruntau cu dezechilibre profunde la nivelul conștiinței.</p>
<p>Numele său, Shukracharya, reflectă trăsăturile sale esențiale, fiind derivat din termenul „shukra” (pur, strălucitor) și „acharya” (învățător sau mentor). Acest nume simbolizează orientarea sa pentru cunoașterea pură și pentru îndrumarea celorlalți în direcția aplicării practice a acesteia. Shukracharya este cunoscut pentru abordarea sa integratoare, combinând claritatea spirituală cu o înțelegere profundă a naturii umane, oferind soluții bazate pe principii morale și strategii practice.</p>

<h3>Contribuții spirituale</h3>
<p>Contribuția sa merge dincolo de Ayurveda, incluzând dezvoltarea unui model social bazat pe "leadership moral" și armonie colectivă. Lucrarea sa, Shukraniti, oferă îndrumări privind organizarea socială, rolurile morale și responsabilitățile individuale în cadrul comunității. Shukracharya a demonstrat că o colectivitate bine organizată poate susține sănătatea și bunăstarea fiecărui persoane din cadrul ei, promovând disciplina, frumusețea și echilibrul spiritual ca principii fundamentale ale unei vieți sănătoase.</p>

<h3>Modalitati de raportare la sfera sa de conștiință</h3>
<p>Sfera de conştiinţă a fiecărui înţelept ayurvedic poate fi apelată prin meditaţie profundă, realizată într-o manieră evocatoare superioară, prin raportare la aspectele specifice. Realizarea unor astfel de meditaţii identificatoare cu sfera de conştiinţă a unui mare zeu sau a unui mare înţelept ayurvedic poate revela unele aspecte esenţiale care se constituie ca şi chei subtile ale unor forme superioare de afinitate rezonatorie cu sfera de conştiinţă superioară a acelei fiinţe.</p>
<p>Dinamizarea adecvată a unei stări superioare de atenţie selectivă, menţinută apoi o anumită perioadă de timp asupra aspectelor reprezentative ale sferei de conştiinţă a unei astfel de fiinţe excepţionale permite structurarea în conştiinţa practicantului a unei astfel de forme de meditaţie a unor aspecte reper, care vor constitui apoi veritabile chei rezonatorii de intrare şi de menţinere în stare spirituală de comuniune telepatică cu sfera de conştiinţă a respectivei fiinţe superioare. </p>


<% if !user_signed_in? || (current_user && !@has_access) %>


<% if !current_user %>      
    <div class="r1c2" style="align-items: center; width:100%;">
        <%= link_to 'Vizionează seminarul complet', new_user_session_with_return_path('shukracharya'), class: 'register' %>
    </div>
    <%elsif current_user && !@has_access%>
    <div class="r1c2" style="align-items: center; width:100%;">
    <%= link_to 'Vizionează seminarul complet', '#Shukracharya-rishi', class: 'register' %>
    </div>
     <%end%> 

<br>
<h2>Înscriere și participare</h2>
<br>


<h3><strong>Modalitatea de accesare</strong></h3>
<p>Prezentarile sunt disponibile exclusiv prin înregistrări, oferind astfel participanților libertatea de a accesa conținutul la orice oră și fără restricții de timp, asigurând flexibilitatea necesară în gestionarea programului personal.</p>
<h3><strong>Cum pot viziona?</strong></h3>
<p>Pentru a accesa prezentarile, vă invităm să efectuați plata aferentă. Dupa finalizarea platii, accesul la vizionarea inregistrarilor se va face direct in pagina de site.</p>
<h3><strong>Costul participării</strong></h3>
<p>Vizionarea fiecarei inregistrari are un cost accesibil de doar 12 lei.</p>
<h3><strong>Durata accesului</strong></h3>
<p>Accesul la vizionarea înregistrării se realizează pentru o perioadă de 60 de zile de la data efectuarii platii.</p>

</section>


<section>
<% if !user_signed_in? %>

<%end%>
<%end%>

 
</section>


<% if !@videos_correspondente.empty? || @has_access%>



<h2 class="alimente-nutritionale" id="Shukracharya-rishi" style= "text-align: center;font-size:28px;">Înregistrări video Tradiția Ayurvedică</h2>



<div id="videos">
  <table class="table">
    <thead>
    <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>       
        <th>Actiune</th>
        
    </tr>
    </thead>
    <tbody>
    <% @videos_correspondente.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>


<%end%>


<%if !current_user ||  (current_user && !@prods.empty?) %>

<h2 class="alimente-nutritionale" id="Shukracharya-rishi" style="font-size:28px;">Acces prezentări video Traditia Ayurvedica</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.each do |prod| %>
                    <tr>
                    
                    <td><%= prod.nume %></td> 
                                          
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>
                         <% if current_user %>
                         <td style="text-align:center;">
                           <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %>
                         </td>
                       <% else %>
                         <td style="text-align:center;">
                           <%= link_to 'Accesează', new_user_session_with_return_path('shukracharya'), class: 'btn btn-primary' %>
                         </td>
                       <% end %>
                       
                        </tr>  
                <% end %>  
            </tbody>
        </table>
    </div>
<%end%>    




</div>
</div>