<% content_for :custom_js do %>
    <%= raw File.read(Rails.root.join('app', 'javascript', 'epytv.js')) %>
    <% end %>
  <style>
    #ayurveda-padartha .cm h2 {
      font-size: 22px;
    }
  
    #ayurveda-padartha .register {
      border: 1px solid #4b0082;
      background-color: #4b0082;
    }
  
    #ayurveda-padartha .cm h3 {
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 0;
    }
  
    #ayurveda-padartha .register {
      margin: 0;
      margin-top: 20px;
    }
  
    #ayurveda-padartha .table td {
      text-align: center;
    }
  
    @media screen and (max-width: 720px) {
      #ayurveda-padartha .register {
        margin: 0 auto;
        margin-top: 20px;
      }
  
      .cm {
        text-align: center;
      }
    }
  </style>
  <% content_for :title, "Ayurveda-padartha | Ayush Cell Romania" %>
  <% content_for :description, "Descoperă Ayurveda-Padartha: bazele, aprofundarea și aplicarea practică a principiilor pentru o viață sănătoasă și plină de vitalitate" %>
  <% content_for :keywords, "Ayurveda-padartha, Ayurveda, longevitate, nutriție ayurvedică, regenerare, sănătate, vitalitate, reîntinerire, metode ayurvedice, echilibru, practici ayurvedice, dosha, prakriti, vata, pitta, kapha, sănătate holistică, introspecție" %>
  <% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/Ayurveda-padartha/modul1"><% end %> <div class="container" id="ayurveda-padartha"><%= render 'layouts/sideleft' %> <div class="cr" style="background-color: white; ">
      <h1 class="first-tittle">Ayush Cell Romania: Ayurveda-Padartha: stabilirea cât mai exactă a tipului constituțional ayurvedic al unei ființe umane (dosha-prakriti)</h1>
      <h2 class="main-title">Curs de Ayurveda: bazele, aprofundarea și aplicarea practică a principiilor pentru o viață sănătoasă și plină de vitalitate</h2>
      <section>
        <div class="row1 center" style="max-width:920px; margin:0 auto;">
          <div class="r1c1" style="height: 350px;">
            <img src="<%= image_url('ayurveda-padartha.webp') %>" alt="Curs de Ayurveda-padartha modul 1">
          </div>
          <div class="r1c2">
            <p>Modulul Ayurveda-Padartha este un curs introductiv, cuprinzător și detaliat, care oferă o înțelegere amplă și bine structurată a principiilor fundamentale ale Ayurvedei. Acest curs este accesibil atât celor care fac primii pași în această știință a vieții, cât și celor interesați să aprofundeze cunoștințele despre modul holistic în care Ayurveda abordează sănătatea și modalitățile practice de reechilibrare.</p>
            <% if !current_user %> <div class="r1c2">
            <%= link_to 'Înscrie-te acum', new_user_session_with_return_path('ayurveda-padartha'), class: 'register' %> </div>
            <%elsif current_user%><%= link_to 'Accesează cursul', '#Ayurveda-padartha', class: 'register' %>
            <%end%>
          </div>
        </div>
        <section class="cm">
          <br>
<h2 style="font-size:22px;">Din subiectele abordate în cadrul acestui curs:</h2>
<p>
    Modulul Ayurveda-Padartha explorează conceptele fundamentale din Ayurveda, oferind informații despre modul în care gândirea, emoțiile sau acțiunile sunt corelate cu tipul constituțional (<em>dosha-prakriti</em>) al fiecărei ființe umane. Acest curs este o invitație la introspecție și autocunoaștere, fiecare concept fiind explicat clar, facilitând aplicarea sa în viața de zi cu zi.
</p>
<p>Ayurveda este o știință a vieții ("ayus" înseamnă viață, iar "veda" înseamnă știință sau cunoaștere) deoarece oferă cunoștințe sistematice, verificabile și aplicabile. Parametrizarea joacă un rol esențial în această abordare, permițând Ayurvedei să fie o știință predictivă și adaptivă. Practianții nu se limitează la observarea unei probleme, ci analizează parametrii personali, precum tipologia constituțională (dosha-prakriti), dezechilibrele actuale (vikriti) sau factorii de influență externă și internă. Acest aspect le permite să prevadă evoluția dezechilibrelor și să propună intervenții precise și eficiente, bazate pe parametrii observați și măsurați.</p>

<h3>Adeverință de participare</h3>
<p>Acest curs de Ayurveda beneficiază de apreciere și validare internațională. La finalul acestui modul, participanții pot solicita, la cerere, o adeverință de participare, emisă în cadrul programului de colaborare internațională dintre AMN-Romania, Ayush Cell Romania și Datta Meghe Institute of Higher Education & Research (DMIHER), India, fiind realizat la inițiativa Ambasadei Indiei în România.</p>

<h3>Structura cursului include:</h3>
<ul>
    <li><strong>Principiile fundamentale ale Ayurvedei:</strong> cele 3 tipuri constituționale (<em>vata, pitta, kapha</em>). Înțelegerea acestor trei tipuri constituționale – vata, pitta, kapha – este esențială, deoarece ele oferă un cadru clar pentru a înțelege modul unic în care funcționează fiecare aspect al ființei noastre.</li>
    <li><strong>Analiza detaliată a tipurilor constituționale (<em>dosha-prakriti</em>) pure </strong>(vata, pitta, kapha).</li>
    <li><strong>Analiza detaliată a tipurilor constituționale (<em>dosha-prakriti</em>) mixte egale </strong>(<em>vata-kapha</em>, <em>vata-pitta</em>, <em>pitta-kapha</em>).</li>
    <li><strong>Analiza detaliată a tipurilor constituționale (<em>dosha-prakriti</em>) mixte neegale </strong>(de exemplu <em>vata predominant - pitta secundar</em>).</li>
    <li><strong>Analiza detaliată a tipurilor constituționale (<em>dosha-prakriti</em>)</strong> bazată pe caracteristici fizice (forma trupului, greutatea, aspectul ochilor, etc.), dinamice (pulsul, respirația, digestia, etc.) și psiho-mentale (emoțiile, memoria, somnul, etc.).</li>
    <li><strong>Influența tendințelor fundamentale ale naturii:</strong> sattva (echilibru), rajas (activitate) și tamas (inerție), în caracterizarea naturii psiho-mentale a fiecărui tip constituțional.</li>
    <li><strong>O metodă simplă de autotestare și de evaluare a tipologiei ayurvedice</strong> (<em>dosha-prakriti</em>).</li>
</ul>

<p>Acest curs te ajută să cunoști harta ființei tale, revelându-ți „zonele fertile” – acele trăsături unice care te susțin și îți oferă stabilitate în momentele de provocare – dar și „terenurile instabile,” acele aspecte care necesită mai multă atenție și adaptare. Vei învăța să te raportezi la ele cu claritate și realism, asemenea unui călător care își ajustează ritmul și pașii în funcție de traseu, fie că întâlnește un drum lin, o pantă dificilă sau o provocare care cere mai mult efort și răbdare.</p>


<h3>Cum te ajută acest curs:</h3>
<ul>
    <li>
        Cunoaşterea cât mai exactă a tipului constituţional reprezintă primul pas către atingerea unei excelente stări de sănătate şi armonie.
    </li>
    <li>
        Pe baza cunoaşterii precise a tipului constituţional, putem identifica prin anticipare și prognoză semnele unei eventuale afecţiuni viitoare, deoarece astfel înţelegem predispoziţiile specifice structurii personale.
    </li>
    <li>
        Profilaxie şi prevenţie corespunzătoare: Probabilitatea ca o anumită afecţiune să apară este direct influenţată de tipul constituţional, ceea ce permite o prevenţie adaptată fiecărei persoane.
    </li>
    <li>
        Metode de reechilibrare personalizate: Cunoașterea tipului constituţional permite aplicarea unor terapii realizate cu mult mai multă exactitate, respectând tendinţele înnăscute ale fiecărei ființe.
    </li>
    <li>
        Alegerea stilului de viață și a dietei alimentare: Identificarea tipului constituţional ajută la selectarea alimentelor, activităţilor fizice, terapiilor și obiceiurilor care susţin sănătatea și evitarea celor nepotrivite pentru propria structură.
    </li>
</ul>


<br>
  <h2 class="name">Prezentare introductiva a unei noi serii Ayurveda-Padartha</h2>
  <p style="text-align:center; max-width:720px; margin:0 auto; margin-bottom:20px; margin-top:-15px;">Vă invităm să urmăriți această înregistrare introductivă pentru a vă familiariza cu structura și conținutul cursurilor și pentru a descoperi temele principale care vor fi abordate.</p>
  <!-- for non autoplay video //-->
  <div class="video" style="width: 100%; max-width: 640px; max-height: 360px; margin: 0 auto; background-image: url(<%= asset_path 'player.png' %>);background-size: 100%;">
    <div class="epyv-video-container" id="epyv-container[<%= @myvideo %>]">
      <div id="epytvPlayButton[<%= @myvideo %>]" class="play-button" onClick="clickToPlay('<%= @myvideo %>');"></div>
      <img id="epytvImage[<%= @myvideo %>]" src="/thumbnails/video-thumbnail-filename" />
      <div class="epyv-video-player" id="<%= @myvideo %>" data-params="controls=1,rel=1,autoplay=0"></div>
      <div id="epytvPlayerCounter[<%= @myvideo %>]" class="playerCounter" style="visibility: hidden;">10</div>
    </div>
  </div>
  <br>




          
          <% if !user_signed_in? || (current_user && !@has_access) %><% if !current_user %> <div class="r1c2" style="align-items: center; width:100%;"><%= link_to 'Vizionează înregistrările', new_user_session_with_return_path('ayurveda-padartha'), class: 'register' %> </div><%elsif current_user && !@has_access%> <div class="r1c2" style="align-items: center; width:100%;"><%= link_to 'Vizionează înregistrările', '#Ayurveda-padartha', class: 'register' %> </div><%end%> <br>








          <h2>Înscriere și participare</h2>
          <br>
          <h3>Cine poate participa?</h3>
          <p>Cursul este deschis tuturor celor interesați de Ayurveda, indiferent de nivelul de cunoștințe anterioare. Structura sa cuprinde conceptele fundamentale, oferind o pregătire detaliată care stă la baza înțelegerii oricăror aspecte avansate din această știință a vieții. Deși cunoștințele preliminare în Ayurveda pot reprezenta un avantaj, ele nu sunt obligatorii. Modulul are ca obiectiv formarea unei baze solide, esențiale pentru aprofundarea ulterioară a altor concepte avansate și pentru aplicarea practică a principiilor prezentate.</p>
          <p>Capitolul Ayurveda-Padartha (Noțiuni și principii de bază din Ayurveda) a fost parcurs de-a lungul anilor de numeroase grupe de studiu, fiind întotdeauna inclus ca prim pas în cunoașterea Ayurvedei, datorită noțiunilor fundamentale care sunt esențiale pentru înțelegerea și aplicarea practică a acestei științe.</p>
          <h3>
            <strong>Structura cursului</strong>
          </h3>
          <p>Modulul Ayurveda-padartha este structurat pe baza versiunii inițiale a înregistrărilor acestui curs, la care se adaugă completări și raspunsuri la diferite întrebări ale participanților. Aceste îmbogățiri au transformat cursul într-un material amplu și complex, oferindu-le participanților ocazia de a aprofunda subiectele într-un mod clar și aplicat, facilitând o învățare practică și profundă.</p>
          <h3>
            <strong>Modalitatea de desfășurare a cursului</strong>
          </h3>
          <p>Cursul se desfășoară pe parcursul a 5 luni, cuprinzând 19 lecții, câte una în fiecare săptămână, pe baza de înregistrări. În acest timp, participanții vor parcurge un conținut complex și bine detaliat. Fiecare lecție durează în medie aproximativ 2 ore si jumatate, fiind menită să deschidă noi orizonturi de cunoaștere și să aducă o înțelegere profundă a subiectelor abordate. Astfel, fiecare săptămână devine o oportunitate de învățare, reflecție și înțelegere activă.</p>

            
          <p>
            <strong>Prima zi de curs: </strong>Lecțiile propriu-zise vor începe miercuri, 5 martie 2025, și vor fi organizate săptămânal, pentru a permite un proces de învățare ritmic și progresiv. Cele 19 cursuri ale acestui modul se vor desfășura săptămânal pe parcursul a 5 luni: martie, aprilie, mai, iunie și iulie 2025.
          </p>
          <p>
              <strong>Vizionarea cursurilor: </strong>Fiecare lecție, înregistrată, va putea fi vizionată de trei ori pe săptămână, în zilele de miercuri, vineri și duminica, în intervalul orar 16:00 și 24:00, direct în pagina de site. Acest format ritmic săptămânal are un scop educativ bine definit, sprijinind procesul de învățare prin mai multe modalități precum:  
          </p>
          <ul>
              <li><strong>Asimilare treptată: </strong>Lecțiile sunt structurate astfel încât informațiile să fie prezentate în cantități gestionabile, oferind timp suficient pentru înțelegerea fiecărui concept fără a genera supraîncărcare cognitivă.</li>
              <li><strong>Consolidarea informației:</strong> Repetarea materialului și revenirea periodică asupra lecțiilor sprijină memorarea activă și aprofundarea conceptelor, facilitând o învățare de lungă durată.</li>
              <li><strong>Integrarea practică:</strong> Pauza dintre lecții creează un spațiu valoros pentru aplicarea principiilor în contexte reale, ajutând participanții să experimenteze direct beneficiile învățării.</li>
              <li><strong>Structurare progresivă:</strong> Planificarea săptămânală oferă un ritm constant și structurat al învățării, permițând participanților să urmărească clar etapele parcurse, să mențină o implicare activă și să-și evalueze periodic progresul în funcție de obiectivele stabilite.</li>
          </ul>

          </ul>
          <p>
              Fiecare lecție poate fi accesată de mai multe ori în cele trei zile disponibile, oferind flexibilitate și timp suficient pentru aprofundare. Acest format sprijină o învățare ritmică, sistematică și sustenabilă, permițând fiecărui participant să progreseze în propriul ritm, păstrând mereu în atenție aplicabilitatea practică a materialului studiat.
          </p>
          <p>Pentru persoanele care nu au urmărit integral prezentările săptămânale ale lecțiilor, accesul la înregistrările acestora este posibil prin selectarea opțiunii „Migrare la Acces Complet”</p>

          <h3>
            <strong>Procesul de înscriere</strong>
          </h3>
          <p>Pentru a vă înscrie la acest modul, vă invităm să efectuați plata aferentă. După finalizarea plății, accesul la vizionarea înregistrărilor se va face gradat, direct în pagina de site.</p>
          <h3>
            <strong>Costul participării</strong>
          </h3>
          <p>Participarea la acest modul de specializare reprezintă o investiție valoroasă pentru cei interesați de aprofundarea cunoștințelor în Ayurveda. Costul pentru întregul modul este de 900 lei, o sumă accesibilă, raportată la complexitatea și valoarea informațiilor oferite pe parcursul celor 5 luni de studiu intensiv.</p>
          <h3>
            <strong>Extinderea perioadei de vizionare - acces complet</strong>
          </h3>
          <p>Pentru a oferi mai multă flexibilitate în gestionarea programului personal, punem la dispoziție opțiunea de a viziona înregistrările cursurilor direct pe site, oricând, la orice oră. Această opțiune permite accesul complet la materialele video, atât pe durata cursului, cât și pentru o perioadă extinsă de 150 de zile după finalizarea cursului, oferind timp suficient pentru a înțelege și revizui în profunzime materialele studiate. Opțiunea presupune un cost suplimentar de 380 lei și oferă acces progresiv la înregistrările cursului, fiecare lecție devenind disponibilă săptămânal, pe măsură ce programul se desfășoară.</p>


          <h2 style= "text-align: center;padding: 0 10px;">Acces Curs de Ayurveda: Modulul Ayurveda Padartha</h2><br>

        </section><%end%> <section>
          <div id="Ayurveda-padartha" class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead class="thead-dark">
                <tr class="desk">
                  <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>
                  <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                  <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                  <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>
              </thead>
              <tbody><% @prods.each do |prod| %><%if prod.cod!='cod108'%> <tr>
                  <td><%= prod.nume %> </td>
                  <td><%= prod.detalii %> </td>
                  <td><%= prod.pret.to_i %> lei </td><% if current_user %> <td style="text-align:center;"><%= link_to 'Acceseaza cursul', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> </td><% else %> <td style="text-align:center;"><%= link_to 'Acceseaza cursul', new_user_session_with_return_path('ayurveda-padartha'), class: 'btn btn-primary' %> </td><% end %>
                </tr><% end %><% end %> </tbody>
            </table>
          </div>
  
        
  
         
  
  
  
  
  
        </section>
        <section style="text-align:center;">
        <%if current_user && current_user.role==1%> 
         Numarul lunilor achitate: <%=@nr_luni_achitate%> <br>
          has_acces_video=<%=@has_acces_video%> <br>
          <% end %>
          <%if current_user && (current_user.role==1 || @nr_luni_achitate>3)%> 
          <h3 style="font-size:22px; margin-bottom:30px; margin-top:30px;">Accesează pagina pentru vizionare cursuri:</h3><%= link_to 'Vezi Video', tvs_rasayana1_path, class: 'register', style: 'background-color:#4b0082;' %> <br>
          <br><% end %>
        </section>
    </div>
  </div>
  <script>
    <%= yield :custom_js %>
  </script>
  