<% border_style = (defined?(previous_video_tip) && previous_video_tip == 'nutritie2' && video.tip == 'nutritie3') ? 'border-top: 3px solid #000;' : '' %>

<tr style="<%= border_style %>">
<% if video.tip == 'nutritie1'%>

<% end %>
  <td><%= video.nume %></td>
  <td><%= video.descriere %></td>
 
  <td>   
  <% if current_user && (@has_access || @has_access1) && ((video.ordine > 1000 && video.ordine < 2000) || (video.ordine > 2000 && video.ordine < 3000))%>
    <%= link_to "Vezi video", myvideo8_path(id: video.id, link: video.link), class: "btn btn-primary" %>
  <%end%>  
  <% if current_user &&  @condition1 && (video.ordine > 0 && video.ordine < 1000) %>
    <%= link_to "Vezi video", myvideo9_path(id: video.id, link: video.link), class: "btn btn-primary" %>
  <%end%>  
  </td>
  <% if defined?(previous_video_tip) %>
  <td>
  <%= link_to "Descarcă PDF", video.linkpdf, class: "btn btn-primary", download: '' %>


  </td>
  <%end%>
</tr>
<%= javascript_include_tag "epytv.js" %>