<h1>Detalii Facturare</h1>

<p>User_id: <%= @detaliifacturare.user_id %></p>
<p>Prenume: <%= @detaliifacturare.prenume %></p>
<p>Nume: <%= @detaliifacturare.nume %></p>
<p>Nume companie: <%= @detaliifacturare.numecompanie %></p>
<p>CUI: <%= @detaliifacturare.cui %></p>
<p>Tara: <%= @detaliifacturare.tara %></p>
<p>Localitate: <%= @detaliifacturare.localitate %></p>
<p>Judet/Sector: <%= @detaliifacturare.judet %></p>
<p>Cod postal: <%= @detaliifacturare.codpostal %></p>
<p>Strada: <%= @detaliifacturare.strada %></p>
<p>Numar: <%= @detaliifacturare.numar %></p>
<p>Alte date: <%= @detaliifacturare.altedate %></p>
<p>Telefon: <%= @detaliifacturare.telefon %></p>
<p>Adresa email: <%= @detaliifacturare.adresaemail %></p>
<p>Creat la data: <%= @detaliifacturare.created_at %></p>
<p>Update la data: <%= @detaliifacturare.updated_at %></p>