<section class="tabel-container .rotate-landscape">

<div id="pas">
  <%= search_form_for @q do |f|%>
    <div style="width:100%;" class="form-group">
      <div class="input-group">
        
      <%= f.text_field :aliment_cont, value: @search_term, placeholder: "Cautare Aliment", class: "form-control", name: "search_term" %>
      
        
        <div class="input-group-append">
          <%= f.submit 'Cauta', class: "btn btn-primary" %>
          <button id="reset-and-submit" type="button" class="btn btn-secondary">Cautare noua</button>
        </div>
      </div>
        <div class="radio">
          <%= radio_button_tag :search_type, "cont", params[:search_type] == 'cont' || params[:search_type].nil?, class: "form-check-input" %>
          <label class="form-check-label" for="search_type_cont">Căutare după text</label>

          <%= radio_button_tag :search_type, "eq", params[:search_type] == 'eq', class: "form-check-input" %>
          <label class="form-check-label" for="search_type_eq">Căutare cuvânt complet</label>
        </div>


    </div>
   
  <% end %>
</div>



<%= turbo_frame_tag "valorinutritionales_table" do %>
<div style="overflow: auto;">
  <span style= "font-size: 30px;font-family: Times New Roman, Times, serif;font-weight: bold;float: left;">Valori Nutriționale</span>
  <span style= "float: right;">Total <%=@total_records%> produse</span>
</div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr class= "trdesk">
        <th>Info</th>
        <th>Aliment</th>
        <th>Calorii</th>
        <th>Proteine</th>
        <th>Lipide</th>
        <th>Carbohidrati</th>
        <th>Fibre</th>
        <th>Cantitate(g)</th>
      </tr>
      <tr  class= "trmob">
        <th>Info</th>
        <th>Aliment</th>
        <th>Cal.</th>
        <th>Prot.</th>
        <th>Lip.</th>
        <th>Carb.</th>
        <th>Fib.</th>
        <th>Cant.(g)</th>
      </tr>
    </thead>
    <tbody>
      <% @valorinutritionales.each do |valorinutritionale| %>
        <% selected_value = session[:selected_values]&.find { |v| v[:id] == valorinutritionale.id.to_s } %>
        <tr data-observatii="<%= valorinutritionale.observatii %>">

          <td style= "color: green;text-align: center;text-decoration:underline;font-style: italic;font-weight: bold;">i</td>
          <td><%= valorinutritionale.aliment %></td>
          <td><%= valorinutritionale.calorii %></td>
          <td><%= valorinutritionale.proteine %></td>
          <td><%= valorinutritionale.lipide %></td>
          <td><%= (valorinutritionale.carbohidrati).round(2) %></td>
          <td><%= valorinutritionale.fibre %></td>
          <td class= "mw100";>
          
          <%= form_with(url: select_valorinutritionales_valorinutritionales_path, method: :post, remote: true, data: { turbo_action: "replace" }, id: "select-form-#{valorinutritionale.id}") do |form| %>

          
            <%= form.hidden_field :id, value: valorinutritionale.id %>
            <%= form.number_field :value, min: 0, max: 1000, step: 1, value: selected_value&.dig(:value) || 0 %>
            <%= form.submit "Adaugă", class: "btn"  %>
          <% end %>

          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
 

 

<% end %>
<div style="overflow: auto;">
  <span style= "padding-left:50%; float: left;"><%= paginate valorinutritionales, data: { turbo_action: "replace", turbo_frame: "valorinutritionales-page",
             class: "pagina"  } %></span>
  <span id="pagina-curenta" style= "float: right;">Pagina <%= params[:page] || 1 %> din <%= @nrpag/10+1%></span>
  
  
</div> 

<%= turbo_stream.update "tooltip_update" do %>
  <%= turbo_stream_action_tag "replace", target: "tooltip_update" %>
<% end %>

</section>
<%= javascript_include_tag "tooltip", "data-turbo-track": "reload" %>

<script>
function addPaginationClickHandlers() {
  const pagini = document.querySelectorAll('.pagination a');
  const paginaCurenta = document.querySelector('#pagina-curenta');
  console.log(pagini)
  pagini.forEach(pagina => {
    pagina.addEventListener('click', () => {
      const numarPagina = pagina.innerText.trim();
      paginaCurenta.innerText = numarPagina;
    });
  });
}

addPaginationClickHandlers();
</script>


