<section class="tabel-container">
<%= turbo_frame_tag "valorinutritionales_results" do %>
  <h3>Rezultate</h3>
   <table class='table table-striped table-bordered table-hover'>
    <thead class="table-dark">
      <tr>
        
        <th>Aliment</th>        
        <th>Calorii</th>
        <th>Proteine</th>
        <th>Lipide</th>
        <th>Carbohidrati</th>
        <th>Fibre</th>
        <th>Cantitate(g)</th>
        <th>Actiune</th>
       
      </tr>
    </thead>
    <tbody id="valorinutritionales_results">
      <% total_values = { proteine: 0, lipide: 0, carbohidrati: 0, fibre: 0 } %>

<% if session[:selected_valorinutritionales] %>
  
<% total_values = {
  proteine: 0,
  lipide: 0,
  carbohidrati: 0,
  fibre: 0,
  calorii: 0
} %>
<% total_grame = 0 %>
  <% session[:selected_valorinutritionales].each do |selected| %>
    
    <% id = selected[:id] || selected["id"] %>
    <% selected_value = selected[:value] || selected["value"] %>
    <% valorinutritional = Valorinutritionale.find_by(id: id) %>
    <% next if valorinutritional.nil? %>
    
    <tr>
      <td><%= valorinutritional.aliment %></td>
      
      <td><%= ((valorinutritional.calorii * (selected[:value] || selected["value"]).to_f)/100).round(2) %></td>
      <td><%= ((valorinutritional.proteine * (selected[:value] || selected["value"]).to_f)/100).round(2) %></td>
      <td><%= ((valorinutritional.lipide * (selected[:value] || selected["value"]).to_f)/100).round(2) %></td>
      <td><%= ((valorinutritional.carbohidrati * (selected[:value] || selected["value"]).to_f)/100).round(2) %></td>
      <td><%= ((valorinutritional.fibre * (selected[:value] || selected["value"]).to_f)/100).round(2) %></td>
      <td><%=selected_value%></td>
      <td><%= button_to "Șterge", { action: "delete_selected", id: valorinutritional.id }, method: :post, data: { turbo_action: "replace" }, class: "btn btn-danger btn-sm" %></td>
    </tr>
    <% total_grame += selected_value.to_i %>
    <% total_values[:calorii] += (valorinutritional.calorii * (selected[:value] || selected["value"]).to_f/100).round(2) %>
    <% total_values[:proteine] += (valorinutritional.proteine * (selected[:value] || selected["value"]).to_f/100).round(2) %>
    <% total_values[:lipide] += (valorinutritional.lipide * (selected[:value] || selected["value"]).to_f/100).round(2) %>
    <% total_values[:carbohidrati] += (valorinutritional.carbohidrati * (selected[:value] || selected["value"]).to_f/100).round(2) %>
    <% total_values[:fibre] += (valorinutritional.fibre * (selected[:value] || selected["value"]).to_f/100).round(2) %>
  <% end %>
  <tr>
  <td><b>Total</b></td>
  
  <td><b><%=total_values[:calorii]%></b></td>
  <td><b><%=total_values[:proteine]%></b></td>
  <td><b><%=total_values[:lipide].round(2)%></b></td>
  <td><b><%=total_values[:carbohidrati]%></b></td>
  <td><b><%=total_values[:fibre]%></b></td>
  <td><b><%= total_grame %></b></td>
  </tr>
<% end %>


    </tbody>
  </table>
  
 
  <%= button_to "Reseteaza", reset_session_data_valorinutritionales_path, method: :post, class: "btn btn-primary" %>
  

<% end %>
</section>



    



