
<tbody>
        <% @valorinutritionales.each do |valorinutritionale| %>
          <tr>
            <td><%= valorinutritionale.cod %></td>
            <td><%= valorinutritionale.aliment %></td>
            <td><%= valorinutritionale.calorii %></td>
            <td><%= valorinutritionale.proteine %></td>
            <td><%= valorinutritionale.lipide %></td>
            <td><%= valorinutritionale.carbohidrati %></td>
            <td><%= valorinutritionale.fibre %></td>
            <td><%= check_box_tag "selected_values[][id]", valorinutritionale.id, false, onchange: "updateValueField(this)" %>            
            <%= number_field_tag "selected_values[][value]", nil, class: 'form-control selected_values-value', disabled: true, min: 0, step: 0.1 %></td>
          </tr>
        <% end %>
</tbody>
