<div id="<%= dom_id valorinutritionale %>">
  <p>
    <strong>Cod:</strong>
    <%= valorinutritionale.cod %>
  </p>

  <p>
    <strong>Aliment:</strong>
    <%= valorinutritionale.aliment %>
  </p>

  <p>
    <strong>Calorii:</strong>
    <%= valorinutritionale.calorii %>
  </p>

  <p>
    <strong>Proteine:</strong>
    <%= valorinutritionale.proteine %>
  </p>

  <p>
    <strong>Lipide:</strong>
    <%= valorinutritionale.lipide %>
  </p>

  <p>
    <strong>Carbohidrati:</strong>
    <%= valorinutritionale.carbohidrati %>
  </p>

  <p>
    <strong>Fibre:</strong>
    <%= valorinutritionale.fibre %>
  </p>

</div>
