
<section class="tabel-container">

<div id="pas">
  <%= search_form_for @q do |f|%>
    <div style="width:100%;" class="form-group">
      <div class="input-group">
        <%= f.text_field :aliment_cont, placeholder: "Aliment...", class: "form-control" %>
        <div class="input-group-append">
         
          <%= f.submit 'Cauta', class: "btn btn-primary" %>
          <button id="reset-and-submit" type="button" class="btn btn-secondary">Reseteaza cautarea</button>
        </div>
        
      </div>
    </div>
  <% end %>
</div>


<%= turbo_frame_tag "valorinutritionales_table" do %>

<h2 class="valori-nutritionale">Valori Nutriționale</h2>


  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr class= "trdesk">
        <th>Nr.</th>
        <th>Aliment</th>
        <th>Calorii</th>
        <th>Proteine</th>
        <th>Lipide</th>
        <th>Carbohidrati</th>
        <th>Fibre</th>
        <th>Cantitate(g)</th>
      </tr>
      <tr  class= "trmob">
        <th>Nr.</th>
        <th>Aliment</th>
        <th>Cal.</th>
        <th>Prot.</th>
        <th>Lip.</th>
        <th>Carb.</th>
        <th>Fib.</th>
        <th>Cant.(g)</th>
      </tr>
    </thead>
    <tbody>
      <% @valorinutritionales.each do |valorinutritionale| %>
        <% selected_value = session[:selected_values]&.find { |v| v[:id] == valorinutritionale.id.to_s } %>
        <tr>
          <td><%= valorinutritionale.cod %></td>
          <td><%= valorinutritionale.aliment %></td>
          <td><%= valorinutritionale.calorii %></td>
          <td><%= valorinutritionale.proteine %></td>
          <td><%= valorinutritionale.lipide %></td>
          <td><%= valorinutritionale.carbohidrati %></td>
          <td><%= valorinutritionale.fibre %></td>
          <td>
         
          <%= form_with(url: select_valorinutritionales_valorinutritionales_path, method: :post, remote: true, data: { turbo_action: "replace" }, id: "select-form-#{valorinutritionale.id}") do |form| %>

          
            <%= form.hidden_field :id, value: valorinutritionale.id %>
            <%= form.number_field :value, min: 0, max: 1000, step: 1, value: selected_value&.dig(:value) || 0 %>
            <%= form.submit "Adaugă", class: "btn" %>
          <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
 

 

<% end %>
 <%= paginate valorinutritionales, data: { turbo_action: "replace", turbo_frame: "valorinutritionales-page" } %>
 
</section>


