
<% content_for :title, "Aplicație de calcul Nutrițional - Ayush Cell Romania" %>
<% content_for :description, "Descoperiți calculatorul nutrițional de la Ayush Cell Romania pentru a urmări și optimiza dieta zilnică, adaptând aportul de calorii, proteine și carbohidrați la obiectivele dvs." %>
<% content_for :keywords, "calculator nutrițional, conținut nutritiv, calorii, proteine, lipide, carbohidrați, fibre, alimentație sănătoasă, dietă echilibrată, monitorizare nutrițională, optimizare dietetică, baza de date alimente, instrucțiuni utilizare, calculator valori nutriționale, gestionare dietă, sănătate și nutriție, alegere alimente sănătoase, planificare mese, analiză nutrițională, aplicație nutriție." %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/testcognitronica">
<% end %>



<div class="container" id="calcnutr">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: aliceblue; ">

<h1 class="first-tittle">Ayush Cell Romania: Calculator Nutrițional</h1>
<h2 class="main-title mb0" >Aplicatie de calcul nutrițional</h2>




<p class="mb0">Vă invităm să descoperiți conținutul nutritiv al alimentelor și să calculați cu ușurință numărul de calorii, proteine, lipide, carbohidrați și fibre pentru fiecare masă. Alegeți zilnic o alimentație sănătoasă și echilibrată, adaptată nevoilor și obiectivelor dumneavoastră</p>
<p class="mb0">Această aplicație este un instrument indispensabil pentru oricine dorește să monitorizeze și să optimizeze aportul său nutritiv, contribuind astfel la un stil de viață sănătos și echilibrat. Fie că sunteți un atlet care își monitorizează aportul de proteine, un vegetarian care caută opțiuni nutritive diverse sau pur și simplu doriți să măncați sănătos, aplicația noastră este aici pentru a vă asista la fiecare pas.</p>


<div class="ayrow" style="margin:0 auto; max-width:1024px">
    <div class="aycolumn">
        <h2 class="main-title mb0">Instrucțiuni de Utilizare</h2>
        <dl>
            <dt>Pasul 1:</dt>
            <dd>Explorați vasta noastră bază de date cu alimente, de la fructe și legume până la produse de patiserie și alte alimente gătite. Utilizați funcția noastră de căutare intuitivă pentru a găsi rapid exact ceea ce doriți. Fie că sunteți în căutarea unor opțiuni sănătoase, fie că doriți să aflați detalii despre alimentele preferate, totul este la doar câteva clicuri distanță.</dd>
        
            <dt>Pasul 2:</dt>
            <dd>După ce ați selectat alimentele dorite, introduceți cantitățile pe care intenționați să le consumați. Fie că este vorba de o singură porție sau de o masă întreagă, puteți ajusta cantitățile în grame, oferindu-vă flexibilitatea de a personaliza calculul în funcție de nevoile dvs. nutriționale. Această etapă este crucială pentru a obține o estimare precisă a aportului caloric și nutritiv.</dd>
        

        </dl>
        
    </div>
    <div class="aycolumn">
    <img src="<%= image_path('calculator-nutritional-web.jpg') %>" alt="Calculator nutritional" id="myImg" style="width: -webkit-fill-available;padding:10px;">

    </div>
    <dl>
    <dt>Pasul 3:</dt>
        <dd>Odată ce ați selectat alimentele și ați introdus cantitățile, aplicația noastră vă oferă un rezumat detaliat al profilului nutrițional. Veți vedea nu numai numărul total de calorii, ci și o descompunere completă a macronutrienților - proteine, grăsimi și carbohidrați. Aceste informații vă ajută să înțelegeți mai bine impactul alimentației asupra obiectivelor dvs., permițându-vă să faceți alegeri adecvate pentru fiecare masă.</dd>
    </dl>
    <!-- Modalul pentru imagine -->
            <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
            </div>
</div>


<h2 class="main-title" style="margin-bottom: -20px;">Caracteristici Esențiale ale Calculatorului Nutrițional</h2>
<dl >
    <dt>Baza de Date a Alimentelor:</dt>
    <dd>
        Explorați o colecție impresionantă de peste 4000 de alimente. Fiecare aliment este detaliat cu informații despre calorii, proteine, lipide, carbohidrați, fibre și cantitatea standard (în grame).
    </dd>

    <dt>Calculator Nutrițional:</dt>
    <dd>
        Selectați diferite alimente și cantități, iar sistemul nostru va calcula automat totalul de calorii, proteine, lipide, carbohidrați și fibre. Această funcție vă permite să analizați precis conținutul nutritiv al fiecărei mese.
    </dd>

    <dt>Funcția de Căutare Avansată:</dt>
    <dd>
        Găsiți rapid și eficient alimentele dorite folosind opțiunea noastră de căutare flexibilă. Căutați după cuvinte întregi sau fragmente de cuvinte pentru a accesa informațiile necesare.
    </dd>
</dl>



<h2 class="main-title mb0" id="CalculatorValoriNutritionale">Calculator Valori Nutritionale</h2>
<%if current_user && @has_access%>
    <div class="btn-fp">
        <%= link_to 'Intra in aplicatie', valorinutritionales_path, class: 'btn-fp-link' %>

    </div>
<%else%>
<table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.select{ |prod| prod.curslegatura == 'Nutritie' }.each do |prod| %>
                    <tr>
                        <td> <%= prod.nume %> </td>                        
                        <td><%= prod.detalii %></td> 
                        
                         <td style="text-align:center;"><%= prod.pret.to_i %> lei</td>
                        <%if current_user%>
                            <td style="text-align:center;"> <%= link_to 'Comanda', datefacturare_path(s: prod.id), class: 'btn btn-primary' %> </td>      
                        <%else%>
                            <td style="text-align:center;"> <%= link_to 'Comanda', new_user_session_with_return_path('aplicatie nutritie'), class: 'btn btn-primary' %> </td>      
                            
                        <%end%>
                        </tr>  
                <% end %>  
            </tbody>
        </table>
<%end%>
</div>
</div>

<script>

document.addEventListener("turbo:load", function() {
    // Obține imaginea și modalul
    var img = document.getElementById("myImg");
    var modal = document.getElementById("myModal");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    // Deschide modalul când imaginea este apăsată
    img.onclick = function(){
        modal.style.display = "flex";
        modal.classList.add("active"); // Adaugă clasa "active"
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Obține elementul <span> care închide modalul
    var span = document.getElementsByClassName("close")[0];

    // Când utilizatorul apasă pe <span> (x), închide modalul
    span.onclick = function() { 
        modal.classList.remove("active"); // Scoate clasa "active"
        // Așteaptă finalizarea tranziției înainte de a ascunde complet modalul
        setTimeout(function() {
            modal.style.display = "none";
        }, 400); // 400ms este durata tranziției setate în CSS
    }
});



</script>