<div id="<%= dom_id facturaproforma %>">
  <p>
    <strong>Comanda:</strong>
    <%= facturaproforma.comanda_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= facturaproforma.user_id %>
  </p>

  <p>
    <strong>Prod:</strong>
    <%= facturaproforma.prod_id %>
  </p>

  <p>
    <strong>Numar factura:</strong>
    <%= facturaproforma.numar_factura %>
  </p>

  <p>
    <strong>Numar comanda:</strong>
    <%= facturaproforma.numar_comanda %>
  </p>

  <p>
    <strong>Data emiterii:</strong>
    <%= facturaproforma.data_emiterii %>
  </p>

  <p>
    <strong>Prenume:</strong>
    <%= facturaproforma.prenume %>
  </p>

  <p>
    <strong>Nume:</strong>
    <%= facturaproforma.nume %>
  </p>

  <p>
    <strong>Nume companie:</strong>
    <%= facturaproforma.nume_companie %>
  </p>

  <p>
    <strong>Cui:</strong>
    <%= facturaproforma.cui %>
  </p>

  <p>
    <strong>Tara:</strong>
    <%= facturaproforma.tara %>
  </p>

  <p>
    <strong>Localitate:</strong>
    <%= facturaproforma.localitate %>
  </p>

  <p>
    <strong>Judet:</strong>
    <%= facturaproforma.judet %>
  </p>

  <p>
    <strong>Strada:</strong>
    <%= facturaproforma.strada %>
  </p>

  <p>
    <strong>Numar adresa:</strong>
    <%= facturaproforma.numar_adresa %>
  </p>

  <p>
    <strong>Cod postal:</strong>
    <%= facturaproforma.cod_postal %>
  </p>

  <p>
    <strong>Altedate:</strong>
    <%= facturaproforma.altedate %>
  </p>

  <p>
    <strong>Telefon:</strong>
    <%= facturaproforma.telefon %>
  </p>

  <p>
    <strong>Produs:</strong>
    <%= facturaproforma.produs %>
  </p>

  <p>
    <strong>Cantitate:</strong>
    <%= facturaproforma.cantitate %>
  </p>

  <p>
    <strong>Pret unitar:</strong>
    <%= facturaproforma.pret_unitar %>
  </p>

  <p>
    <strong>Valoare tva:</strong>
    <%= facturaproforma.valoare_tva %>
  </p>

  <p>
    <strong>Valoare totala:</strong>
    <%= facturaproforma.valoare_totala %>
  </p>

  <p>
    <strong>Cod firma:</strong>
    <%= facturaproforma.cod_firma %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= facturaproforma.status %>
  </p>

</div>
