<section class="login">
  <% if flash[:alert] %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="login-container">
    <h1>Intră în cont</h1>

    <% turbo_option = request.path.ends_with?('/vn') ? false : true %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), local: true, data: { turbo: turbo_option }) do |f| %> 
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      <div class="field" >
      <%= f.label "parola" %><br />
      <div style="display: flex; align-items: center;background: #e8f0fe; border: 1px solid #ccc; border-radius: 4px;">
      <%= f.password_field :password, id: "current-password-input", autocomplete: "current-password", class: "bn-textField-input", style: "border:none; background:transparent; font-size:14px;" %>
     
      <%= f.text_field :password, id: "current-text-input", style: "display: none; background: #e8f0fe; font-size:14px; width: 100%; padding: 8px;", autocomplete: "current-password", class: "bn-textField-input" %>
      <div class="bn-textField-suffix">
        <div class="bn-flex" style="width: 20px; margin-right:10px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="password-visibility-icon" id="password-show-icon">
                   <ellipse cx="12" cy="12" rx="10" ry="6" fill="currentColor"></ellipse> <!-- Conturul ochiului -->
                   <circle cx="12" cy="12" r="3" fill="white"></circle> <!-- Pupila -->
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="password-visibility-icon" id="password-hide-icon" style="display: none;">
                    <ellipse cx="12" cy="12" rx="10" ry="6" fill="currentColor"></ellipse> <!-- Conturul ochiului -->
                    <line x1="3" y1="3" x2="21" y2="21" stroke="white" stroke-width="2"></line> <!-- Linia peste ochi -->
                </svg>
        </div>
      </div>
      </div>
    </div>
 
      <% if devise_mapping.rememberable? %>
        <div class="field remember-me">
          <%= f.label "Tine-ma minte" %>
          <%= f.check_box :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= hidden_field_tag 'return_to', params[:return_to] %>
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    <%= link_to "Ati uitat parola?", new_password_path(resource_name) %>
  </div>
</section>



<script>
document.addEventListener("turbo:load", function() {
  var showIcon = document.getElementById("password-show-icon");
  var hideIcon = document.getElementById("password-hide-icon");

  showIcon.addEventListener("click", function() {
    togglePasswordVisibility(true);
  });

  hideIcon.addEventListener("click", function() {
    togglePasswordVisibility(false);
  });

  function togglePasswordVisibility(isVisible) {
    var passwordInput = document.getElementById("current-password-input");
    var textInput = document.getElementById("current-text-input");
    if (isVisible) {
      passwordInput.style.display = "none";
      textInput.style.display = "block";
      textInput.value = passwordInput.value;
      showIcon.style.display = "none";
      hideIcon.style.display = "block";
    } else {
      passwordInput.style.display = "block";
      textInput.style.display = "none";
      passwordInput.value = textInput.value;
      showIcon.style.display = "block";
      hideIcon.style.display = "none";
    }
  }
});
</script>
