<div id="<%= dom_id tipconstitutional %>">
  <p>
    <strong>Nrtip:</strong>
    <%= tipconstitutional.nrtip %>
  </p>

  <p>
    <strong>Nr:</strong>
    <%= tipconstitutional.nr %>
  </p>

  <p>
    <strong>Tip:</strong>
    <%= tipconstitutional.tip %>
  </p>

  <p>
    <strong>Caracteristica:</strong>
    <%= tipconstitutional.caracteristica %>
  </p>

</div>
