<tr class="table-row" id="<%= dom_id tipconstitutional %>">
  <td class="row-item1"><%= tipconstitutional.id %></td>
  <td class="row-item1"><%= tipconstitutional.nrtip %></td>
  <td class="row-item1"><%= tipconstitutional.nr %></td>
  <td class="row-item1"><%= tipconstitutional.tip %></td>
  <td class="row-item1"><%= tipconstitutional.caracteristica %></td>
  <td class="row-item1">
    <%= link_to "Show this tipconstitutional", tipconstitutional %>
  </td>
</tr>
