<% content_for :title, "Test pentru evaluarea tipologiei Ayurvedice" %>
<% content_for :description, "Test pentru evaluarea tipologiei Ayurvedice" %>
<% content_for :keywords, "evaluare ayurvedică, test dosha online, vata, pitta, kapha, sănătate ayurvedică, echilibru dosha, caracteristici dosha, dieta ayurvedică, stil de viață ayurvedic, Ayush Cell Romania, principii ayurvedice, terapie ayurvedică, prevenție ayurvedică, tratament natural ayurvedic, consultanță ayurvedică, binefaceri ayurveda, detoxifiere ayurvedică, yoga și ayurveda, alimentație sănătoasă ayurvedică" %>

<% content_for :canonical do %>
  <link rel="canonical" href="https://www.ayushcell.ro/evaluare_tipologie_ayurvedica">
<% end %>

<div class="container" id="evaluare">


<%= render 'layouts/sideleft' %>




<div class="cr" style="background-color: aliceblue; ">
    <h1 class="first-tittle">Evaluare tipologie ayurvedică | Ayush Cell Romania</h1>
    <h2 class="main-title" >Test pentru evaluarea tipologiei Ayurvedice</h2>
    <p>În Ayurveda, cunoaşterea predominanţei constituţionale sau, altfel spus, a dosha-ei predominante, reprezintă un aspect esenţial în toate acțiunile ce vizează alegerea adecvată a unui anumit mod de viaţă care să fie cât mai potrivit și favorabil, precum şi pentru a stabili metodele adecvate de vindecare, în cazul în care ființa este afectată de vreo boală sau de vreun dezechilibru. Identificarea corectă a tipului constituţional ayurvedic (dosha-prakriti) este un proces de cunoaștere important, care se realizează ţinând cont de un număr suficient de factori diferențiatori. Unii dintre acești factori pot fi uşor de observat de către oricine, în timp ce alţii factori necesită o observare atentă și o pregătire prealabilă adecvată. </p>

    <p>Observarea atentă a factorilor diferențiatori din punct de vedere constituțional are o mare importanţă în evaluarea ayurvedică a tipologiei constituționale (dosha-prakriti) şi implică totodată corelarea şi interpretarea justă a elementelor observabile ce caracterizează o anumită fiinţă umană. Tocmai de aceea, pentru a ajunge la o acurateţe cât mai mare în evaluarea tipului constituţional (dosha-prakriti) este necesar un studiu sistematic și experienţă. </p>

    <p>O metodă simplă de evaluare constă în realizarea unui test constituţional ayurvedic simplu, care poate să contribuie la realizarea unei cât mai obiective aprecieri asupra tipului constituţional (dosha-prakriti) din perspectiva cunoaşterii tradiţionale din Ayurveda. Un astfel de test constituţional ne poate ajuta să putem aprecia care este predominanţa constituţională prin identificarea principalelor manifestări ale dosha ei predominante din fiinţa noastră. 
    Un exemplu de astfel de test este alcătuit din trei liste, fiecare cu câte 22 de afirmaţii care ilustrează aspecte şi caracteristici constituţionale diferite, ce sunt corespunzătoare în ordine celor trei dosha-uri: vata, pitta şi kapha. </p> 
    <p>Estimarea personală a fiecărui aspect se va realiza prin acordarea unui anumit punctaj, prin alegerea unui număr de la 0 la 6, ce va fi notat pe acelaşi rând cu afirmaţia la care se face referire. Pentru realizarea unui astfel de test simplu este necesar să fie lecturate cu atenţie descrierile enunţate şi apoi se va scrie o cifră de la 0 la 6 în căsuţa corespunzătoare, în funcție de următoarea listă de semnificaţii asociate: </p>  

    <table class="data-table" border="1" style="width: 100%; border-collapse: collapse; table-layout: auto; max-width: 650px;">
  <tr class="table-header">
    <th class="header-item">Nr.</th>
    <th class="header-item">Semnificația numerelor ce pot fi alese</th>
  </tr>
  <tr class="table-row">
    <td class="row-item">0</td>
    <td class="row-item">afirmaţia citată nu se aplică şi nu este valabilă în cazul nostru absolut deloc</td>
  </tr>
  <tr class="table-row">
    <td class="row-item">1</td>
    <td class="row-item">afirmaţia citată se aplică foarte rar, doar ocazional, în cazul nostru</td>
  </tr>
  <tr class="table-row">
    <td class="row-item">2</td>
    <td class="row-item">afirmaţia citată este uneori valabilă, dar nu atât de des, doar din când în când</td>
  </tr>
  <tr class="table-row">
    <td class="row-item">3</td>
    <td class="row-item">afirmaţia citată se aplică din timp în timp, cu o frecvenţă apreciată ca fiind medie</td>
  </tr>
  <tr class="table-row">
    <td class="row-item">4</td>
    <td class="row-item">afirmaţia citată este valabilă în cele mai multe cazuri și ne este familară</td>
  </tr>
  <tr class="table-row">
    <td class="row-item">5</td>
    <td class="row-item">afirmaţia citată este valabilă în cazul nostru frecvent, aproape tot timpul</td>
  </tr>
  <tr class="table-row">
    <td class="row-item">6</td>
    <td class="row-item">afirmaţia este valabilă în cazul nostru permanent, fiind o trăsătură definitorie</td>
  </tr>
</table>
<p>La sfârşitul fiecărui tabel dintre cele trei corespunzătoarea fiecăreia dintre cele trei dosha-uri se va calcula suma punctelor obţinute. </p>
<p>În cele din urmă, se obţin trei scoruri care sunt corespunzătoare aprecierii noastre asupra predominanţei celor trei dosha-uri. Apoi vom comparara aceste rezultate pentru a afla astfel rezultatul final al aprecierii noastre asupra tipului constituţional (dosha-prakriti) și a predominanţei relative a celor trei dosha-uri în fiinţa noastră. </p>

<% unless current_user %>  
    <p style="color: red;">⚖️ Pentru a accesa funcțiile automate de calcul și vizualizare a rezultatelor din cadrul acestui test ayurvedic, te invităm să <a href="/users/sign_in?return_to=evaluaretipologie">te loghezi pe site</a>. Dacă nu ai un cont, <a href="/users/sign_up?return_to=evaluaretipologie">creează unul acum</a>, este simplu și gratuit.</p>
  
<% end %>



<h2 class="main-title">Test pentru evaluarea caracteristicilor de tip vata</h2>
    
<table class="data-table test-vata" id="vata-table">
<tr class="table-header">
  <th class="header-item1">Nr.</th>
  <th class="header-item2">Caracteristici de tip vata</th>
  <th class="header-item3">Punctaj</th>
</tr>

<% @vata.each do |vata_item| %>
  <tr class="table-row">
    <td class="row-item1"><%= vata_item.nr %></td>
    <td class="row-item2"><%= vata_item.caracteristica %></td>
    <td class="row-item3">
    <select name="punctaj[]" class="punctaj-input" <%= 'disabled' unless current_user %>>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
    </td>
  </tr>
<% end %>

<tr class="table-row">
  <td colspan="2" style="text-align:right; padding-right:10px; font-weight:500; border-right:none;">Total calculat pentru Vata:  </td>
  <td id="total-punctaj-vata" style="text-align:center; border-left:none;font-weight:500;">0</td>
</tr>
</table>


  <h2 class="main-title" style="margin-top:20px;color: #bf0000;">Test pentru evaluarea caracteristicilor de tip pitta</h2>
  <table class="data-table test-pitta" id="pitta-table">
  <tr class="table-header">
  <th class="header-item1">Nr.</th>
  <th class="header-item2">Caracteristici de tip pitta</th>
  <th class="header-item3">Punctaj</th>
</tr>

<% @pitta.each do |vata_item| %>
  <tr class="table-row">
    <td class="row-item1"><%= vata_item.nr %></td>
    <td class="row-item2"><%= vata_item.caracteristica %></td>
    <td class="row-item3">
    <select name="punctaj[]" class="punctaj-input" <%= 'disabled' unless current_user %>>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
  </td>
  
  </tr>
<% end %>

<tr class="table-row">
  <td colspan="2" style="text-align:right; padding-right:10px; font-weight:500;">Total calculat pentru Pitta: </td>
  <td id="total-punctaj-pitta" style="text-align:center;font-weight:500;">0</td>
</tr>
</table>

<h2 class="main-title" style="margin-top:20px; color: #036803;">Test pentru evaluarea caracteristicilor de tip Kapha</h2>

<table class="data-table test-kapha" id="kapha-table">
<tr class="table-header">
<th class="header-item1">Nr.</th>
<th class="header-item2">Caracteristici de tip kapha</th>
<th class="header-item3">Punctaj</th>
</tr>

<% @kapha.each do |vata_item| %>
<tr class="table-row">
  <td class="row-item1"><%= vata_item.nr %></td>
  <td class="row-item2"><%= vata_item.caracteristica %></td>
  <td class="row-item3">
  <select name="punctaj[]" class="punctaj-input" <%= 'disabled' unless current_user %>>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
  </select>
  </td>
</tr>
<% end %>

<tr class="table-row">
  <td colspan="2" style="text-align:right; padding-right:10px; font-weight:500;">Total calculat pentru Kapha: </td>
  <td id="total-punctaj-kapha" style="text-align:center;font-weight:500;">0</td>
</tr>
</table>



<div style="text-align:right; margin-top:10px;"><button id="calculate-sum" class='btn-fp' data-controller="calculate" data-action="click->calculate#submitTotals ">Calculează valorile procentuale</button></div>

<%= turbo_frame_tag 'total-sum-display' do %>
  <!-- Aici va fi inserat conținutul din răspunsul HTML -->
<% end %>






   <h2 class="cr-title">Cursuri</h2>   
   <section class="line">
      <div class="col" style=" align-items: center; text-align: center;">
      <img src="<%= image_path('cursuri.jpg') %>" alt="Curs de Ayurveda" style='text-align:center; width: 100%; max-width: 350px;'>
         <h2>Curs de Ayurveda sesiunea octombrie 2023 - iulie 2024</h2>
         <div class="desc" style="max-width:720px;">Participa la cursurile de Ayurveda organizate de catre Ayush Cell Romania & AMN-Romania. Acest curs este accesibil tuturor celor interesați indiferent de pregătirea profesională. Înscrierile sunt în continuare deschise.</div>
         <div class="btn-fp">
         <%= link_to 'Înscrie-te la curs', cursayurveda2425_path, class: 'btn-fp-link' %>
         </div>
      </div>
    </section>

      
</div>

</div>
<script>
  console.log("Pagina a fost încărcată/reîncărcată1.");
  document.addEventListener("turbo:load", function() {
    console.log("Pagina a fost încărcată/reîncărcată2.");
  calculateTableTotal('vata-table', 'total-punctaj-vata');
  calculateTableTotal('pitta-table', 'total-punctaj-pitta');
  calculateTableTotal('kapha-table', 'total-punctaj-kapha');
});

function calculateTableTotal(tableId, totalId) {
  const table = document.getElementById(tableId);
  if (!table) return;

  const inputs = table.getElementsByClassName('punctaj-input');

  const calculateTotal = () => {
    let total = 0;
    for (const input of inputs) {
      total += parseInt(input.value) || 0;
    }
    document.getElementById(totalId).innerText = total;
  };

  for (const input of inputs) {
    input.addEventListener('change', calculateTotal);
  }
}


</script>