<p style="color: green"><%= notice %></p>

<%= render @tipconstitutional %>

<div>
  <%= link_to "Edit this tipconstitutional", edit_tipconstitutional_path(@tipconstitutional) %> |
  <%= link_to "Back to tipconstitutionals", tipconstitutionals_path %>

  <%= button_to "Destroy this tipconstitutional", @tipconstitutional, method: :delete %>
</div>
