<% border_style = (defined?(previous_video_tip) && previous_video_tip == 'nutritie2' && video.tip == 'nutritie3') ? 'border-top: 3px solid #000;' : '' %>

<tr style="<%= border_style %>">
<% if video.tip == 'nutritie3' %>

<% if video.tip == 'nutritie3'%>
    <td>
        <% case video.ordine %>
      <% when 1...1000 %>
        <%= video.ordine %>
      <% when 2001...3000 %>
        <%= video.luna %>
    <% end %>

      </td>
<% end %>

<% end %>



  <td><%= video.nume %></td>
  <td><%= video.descriere %></td>
 
  <td>   
  <% if (video.ordine > 1000 && video.ordine < 2000) || (video.ordine > 2000 && video.ordine < 3000)%>
  <%= link_to "Vezi video", myvideo7_path(id: video.id, link: video.link), class: "btn btn-primary" %>
  <% elsif video.ordine > 3000 && video.ordine < 4000 %>
      <%if current_user.role==1%>
        <%= link_to "Vezi video", myvideo7_path(id: video.id, link: video.link), class: "btn btn-primary" %>
        
        <% elsif current_user.nutritieabsolvit.nil? || current_user.nutritieabsolvit < 2 %>
      
      
        <% else %>
        <%= link_to "Vezi video", myvideo7_path(id: video.id, link: video.link), class: "btn btn-primary" %>
      <% end %>

  
  <% else %>
    <%= link_to "Vezi video", myvideo2_path(id: video.id, link: video.link), class: "btn btn-primary" %>
    <% end %>
  </td>
  <% if defined?(previous_video_tip) %>
  <td>
  <%= link_to "Descarcă PDF", video.linkpdf, class: "btn btn-primary", download: '' %>


  </td>
  <%end%>
</tr>
