<tr>
<% if video.tip == 'nutritie3' %>
<td>
  <% if video.ordine > 1000 %>
    <%= video.ordine - 1000 %>
  <% else %>
    <%= video.ordine %>
  <% end %>
</td>
<% end %>
  <td><%= video.nume %></td>
  <td><%= video.descriere %></td>
 
  <td>
   
   
    <%= link_to "Vezi video", myvideo2_path(id: video.id, link: video.link), class: "btn btn-primary" %>



  </td>
  
</tr>
