<td style="width: 40px;">
    <% if video.ordine >= 1000 && video.ordine < 2000 %>
      <%= video.ordine - 1000 %>
    <% elsif video.ordine >= 2000 && video.ordine < 3000%> 
    <%= video.ordine - 2000 %>
    <% elsif video.ordine >= 3000 && video.ordine < 4000%> 
    <%= video.ordine - 3000 %>
    <% elsif video.ordine >= 4000 && video.ordine < 5000%> 
    <%= video.ordine - 4000 %>
    <% elsif video.ordine >= 5000 && video.ordine < 6000%> 
    <%= video.ordine - 5000 %>
    <% else %>
      <%= video.ordine %>
    <% end %>
  </td>
  <td><%= video.nume %></td>
  <td><%= video.descriere %></td> 
  <td>  

    <%if video.tip== 'tayv24' && (video.ordine>1000 && video.ordine<2000)%>
      <%= link_to "Vezi video", myvideo14_path(id: video.id, link: video.link), class: "btn btn-primary" %>
    <%elsif video.tip== 'tayv24' && (video.ordine>4000 && video.ordine<6000)%>  
      <%= link_to "Vezi video", myvideo44_path(id: video.id, link: video.link), class: "btn btn-primary" %>
    <%elsif video.tip== 'tayv24' && (video.ordine>3000 && video.ordine<4000)%>  
      <%= link_to "Vezi video", myvideo444_path(id: video.id, link: video.link), class: "btn btn-primary" %>
    <%else%>
      <%= link_to "Vezi video", myvideo14_path(id: video.id, link: video.link), class: "btn btn-primary" %>
    <%end%>
  </td>  
</tr>
