<!-- Partea de sus a fișierului app/views/home/about.html.erb -->
<% content_for :custom_js do %>
    <%= raw File.read(Rails.root.join('app', 'javascript', 'epytv.js')) %>
    <% end %>
<style>
#tayv2024 .cm h2 {
    font-size:22px;
}
#tayv2024 .register{
    border: 1px solid #a064af;
    background-color:#64025e;
}
#tayv2024 .cm h3{
    font-size:18px;
    font-weight:800;

}
#tayv2024 .register{
    margin:0;
    margin-top:20px;
}
#tayv2024 .table td {
    text-align:center;
}
@media screen and (max-width: 720px) {
    #tayv2024 .register{
        margin:0 auto;
        margin-top:10px;
        margin-bottom:10px;
    }
    .cm{
        text-align:center;
    }
}

</style>
<% content_for :title, "Ayush Cell Romania: Tabăra de Ayurveda etapa de Vară 2024" %>
<% content_for :meta_tags do %>
  <meta name="description" content="Participă la Tabăra de Ayurveda 2024 și aprofundează cunoștințele despre Pancha-Kosha și Vijnana-Svasthya.">
  <meta name="keywords" content="ayurveda, tabara de ayurveda, dosha, Pancha-Kosha, Vijnana-Svasthya, vata, pitta, kapha, dosha-prakriti, sanatate holistica, practici ayurveda, tabara ayurveda vara 2024">

  <meta property="og:title" content="Ayush Cell Romania: Tabăra de Ayurveda etapa de Vară 2024">
  <meta property="og:description" content="Participă la Tabăra de Ayurveda 2024 și aprofundează cunoștințele despre Pancha-Kosha și Vijnana-Svasthya.">
  <meta property="og:url" content="https://www.ayushcell.ro/tayv2024">
  <meta property="og:image" content="https://www.ayushcell.ro/assets/Tabara de ayurveda etapa de vara 2024.webp">


  <link rel="canonical" href="https://www.ayushcell.ro/tayv2024">
<% end %>

<div class="container" id="tayv2024">
<%= render 'layouts/sideleft' %>

<div class="cr" style="background-color: white; ">
    <h1 class="first-tittle">Ayush Cell Romania: Tabăra de Ayurveda etapa de vară 2024</h1>
    <h2 class="main-title" >Tabara de Ayurveda etapa de vară 2024</h2>

<section>


<div class="row1 center" style="max-width:920px; margin:0 auto;">
    <div class="r1c1" style="height: 350px;">
      
      <img src="<%= image_url('Tabara de ayurveda etapa de vara 2024.webp') %>" alt="Tabara de Ayurveda">
    </div>
    <div class="r1c2">
    <p>Tabăra de Ayurveda oferă o oportunitate unică pentru cei dornici să exploreze în profunzime diverse domenii ale științei milenare Ayurveda. Timp de câteva zile, participanții studiază și practică împreună, pe baza unui program comun de activități.</p>

    <p>Acest program este conceput pentru a oferi fiecărui participant direcții valoroase de cunoaștere asupra unor aspecte esențiale ale vastei științe tradiționale milenare Ayurveda.</p>
    <% if !current_user %>      
    <div class="r1c2">
        <%= link_to 'Vizionează acum', new_user_session_with_return_path('tayv24'), class: 'register' %>
    </div>
    <%elsif current_user && !@has_access%>
    <%= link_to 'Vizionează acum', '#tayv202', class: 'register' %>

     <%end%> 
     
 </div>
  </div>
<section class="cm">  
<br>
<h2 style="font-size:22px;">Tabăra este organizată în două părți:</h2>
<br>

<h3 style="font-size:18px;">⏳ Partea 1: s-a desfășurat live în zilele de 16 - 21 iulie </h3>
<h2 style="font-size:18px;">Tematica primei părți: Pancha-Kosha</h2>
  <p>Termenul sanscrit kosha desemnează structura de bază a alcătuirii fiinţei individuale. Literal, înseamnă înveliş, strat, anvelopă sau acoperământ.</p>
    <p>În cadrul sistemului Ayurveda, termenul kosha se referă la câmpurile energetice de vibraţie care corespund celor cinci elemente fundamentale în forma lor subtilă (tattva-e) şi care sunt manifestări distincte ale Creaţiei. În cazul fiinţei umane, există cinci kosha-uri şi fiecare reprezintă un strat al realităţii existenţei noastre ca fiinţe. Cele cinci kosha-uri sunt: 1. anna-maya-kosha, 2. prana-maya-kosha, 3. mano-maya-kosha, 4. vijnana-maya-kosha şi 5. ananda-maya-kosha.</p>
    <p>În lucrarea orientală Taittirya-Upanishad este indicată descrierea celor cinci învelişuri succesive (kosha) ale fiinţei umane, despre care se afirmă că sunt cele care acoperă sau, altfel spus, „învelesc” Sinele Nemuritor Etern (Atman).</p>
    <p>Primul înveliş, pornind de la exterior, este numit anna-maya-kosha, învelişul grosier, trupul sau învelișul (kosha) care este alcătuit din hrană (anna). Al doilea înveliș (prana-maya-kosha) este învelişul vital, învelișul bioenergetic sau prana-ic. Acesta este cel care animă şi unifică trupul cu spiritul. Cel de-al treilea este învelişul gândirii (mano-maya-kosha), învelișul minții operative sau instrumentale (manas) care recepţionează impresiile înregistrate prin intermediul simţurilor (indriya). Al patrulea este învelişul inteligenţei superioare (vijnana-maya-kosha) sau învelișul supramental care cuprinde facultăţile de discriminare şi funcţia volitivă. Cel de-al cincilea înveliș (kosha) se numeşte ananda-maya-kosha şi este învelişul fericirii sau învelişul beatitudinii (ananda), deoarece acestea sunt stările pe care le trăieşte preponderent fiinţa umană, atunci când este cel mai aproape de realitatea Sinelui Suprem Nemuritor (Atman).</p>
    <p>Sinele Nemuritor Etern (Atman) nu este totuşi niciodată afectat de starea acestor învelişuri ale sale şi nu împărtăşeşte niciuna dintre restricţiile acestora.</p>
    <p>În această primă parte a taberei de Ayurveda, vor fi prezentate în detaliu aceste concepte și vor fi realizate metode practice la unison pentru a facilita atât percepția directă a realității subtile, cât și energizarea profund benefică a celor cinci învelișuri tainice ale ființei, manifestată în vederea vindecării și armonizării acestora.</p>

<hr style="border: 0; height: 1px; background-color: #000; max-width:61.8%; margin: 20px auto;">

<h3 style="font-size:18px;">⏳ Partea 2: s-a desfășurat live în zilele de 23 - 28 iulie </h3>
<p><strong>În aceasta parte a taberei se vor utiliza plante adecvate temelor din program. Pentru a primi coletul cu plante, vă rugăm să ne contactați utilizând formularul de contact disponibil pe pagina <a href="https://ayushcell.ro/contact" target="blank">ayushcell.ro/contact</a>, imediat după finalizarea plății.</strong></p>
<h2 style="font-size:18px;">Tematica părții a doua: Vijnana-Svasthya</h2>
<p>Vijnana-Svasthya este un termen sanscrit compus, care îmbină două concepte importante din tradiția ayurvedică: vijnana și svasthya. Această expresie face referire la cunoaștere supramentală și la sănătatea holistică, formând un sistem complex de practici destinate îmbunătățirii stării generale a ființei umane prin intermediul resurselor tainice ale conștiinței, al cunoașterii și înțelepciunii profunde aplicate.</p>

    <p>Vijnana-Svasthya face parte din cea de-a treia categorie de modalități de îmbunătățire a stării generale de bine a ființei, numită sattvavajaya. Aceasta este una dintre cele trei tipuri principale de modalități efective de vindecare utilizate în Ayurveda, alături de daivavyapasraya (raportarea directă prin evocare și aspirație la sferele de forță infinită ale aspectelor dumnezeiești) și yuktivyapasraya (utilizarea înțeleaptă a proprietăților substanțelor naturale în scopul reechilibrării și armonizării ființei).</p>

    <p>Sattvavajaya constă în măsuri practice care au rolul de a trezi și amplifica în ființa umană puterile psihice benefice. Aceste măsuri utilizează modalități practice ce angrenează conștiința benefică adecvată și armonioasă, care exprimă cel mai adesea starea de rezonanță ocultă cu modalitatea echilibrului și a armoniei (sattva-guna).</p>

    <p>În cadrul acestei tabere, vor fi explorate metode structurate pentru îmbunătățirea stării interioare prin dinamizarea supramentală. Fiecare metodă are o specificitate aparte și se concentrează pe activarea diferitelor aspecte ale instrumentului intern al conștiinței, Antahkarana.</p>

    <h3 style="font-size:18px">Exemple de practici de tip Vijnana-Svasthya</h3>
    <ol>
    <li>Gestionarea simțurilor (Indriya Jaya): Ilustrarea unei dispoziții optime a conștiinței pentru controlul și armonizarea simțurilor, menținând astfel stabilitatea psiho-emoțională.</li>
    <li>Optimizarea energiei interioare (Urdvareta): Gestionarea energiei interne prin sublimare și modulare distinctă.</li>
    <li>Raportarea la focarele de conștiință superioare (Ishvara Pranidhana): Ilustrarea unor dispoziții favorizante ale conștiinței pentru conectarea cu aspectele superioare ale conștiinței, ce conduc la o înțelegere profundă și spirituală.</li>
</ol>

    <p>Vijnana-Svasthya oferă o abordare integrativă a sănătății holistice și a conștiinței cu ajutorul cunoașterii supramentale, amplificând astfel echilibrul și armonia întregii ființe în viața de zi cu zi.</p>
<h3>Detalii livrare</h3>
<p>Fiecare participant va primi prin curier 9 plante care vor fi utilizate în cadrul programului părții a doua a taberei de Ayurveda, etapa de vară. Cheltuielile de transport vor fi suportate de către organizatorii taberei pentru adresele din România. Pentru persoanele care solicită trimiterea coletului în străinătate, cheltuielile de transport vor fi suportate de către participanți.</p>



<% if !user_signed_in? || (current_user && !@has_access) %>

<div class="r1c2" style="align-items: center; width:100%;">


    <%= link_to 'Vizionează înregistrările', '#tayv202', class: 'register' %>
</div>

<br>
<h2>Înscriere și participare</h2>
<br>

<h3><strong>Cine poate participa?</strong></h3>
<p>Tabăra este destinată tuturor celor interesați să aprofundeze diverse subiecte practice din domeniul ayurvedei. La aceasta pot participa atât lectorii de Ayurveda din cadrul AMN-România, cursanții Ayurveda, precum și alte persoane care nu urmează aceste cursuri.</p>
<h3><strong>Modalitatea de desfășurare a taberei</strong></h3>
    <ol>
        <li>Înscrierea conferă acces digital pentru vizionarea înregistrărilor taberei timp de 90 de zile de la data plății. Accesul este exclusiv pe bază de înregistrări.</li>
    </ol>
<h3><strong>Procesul de înscriere</strong></h3>
<p>Pentru a accesa înregistrările celor două părți ale tabarei de Ayurveda etapa de vară, vă invităm să efectuați plata aferentă. Dupa finalizarea platii, accesul la vizionarea inregistrarilor se va face direct in pagina de site.</p>
<h3><strong>Costul participării</strong></h3>
<h4 style="font-size:16px">Participanți:</h4>
    <ul>
        <li>Valoarea participării este de 350 lei. Participanții beneficiază de acces complet pentru vizionarea înregistrărilor direct pe site, pentru o perioadă de 90 de zile de la data efectuării plății. Aceasta le permite să revizuiască materialele ori de câte ori este necesar în intervalul specificat, asigurându-se că nu se pierde nicio informație importantă.</li>
    </ul>
    <h4 style="font-size:16px">Lectori de Ayurveda din cadrul AMN-România:</h4>
    <ul>
         <li>Valoarea participării este de 235 lei. Participanții beneficiază de acces complet pentru vizionarea înregistrărilor direct pe site, pentru o perioadă de 90 de zile de la data efectuării plății. Aceasta le permite să revizuiască materialele ori de câte ori este necesar în intervalul specificat, asigurându-se că nu se pierde nicio informație importantă.</li>
    </ul>
    


</section>


<section>

<%end%>

<% if current_user && (@a_cumparat_macar_un_cod || current_user.role==1) %>


<p>Programul taberei de Ayurveda etapa de vară - partea 1 <a href="/pdf/tayv24/Programul taberei de Ayurveda etapa de vara 2024 partea 1.pdf", <%= tag :a, download: '' %>poate fi descarcat de aici</a>.</p>
<p>Programul taberei de Ayurveda etapa de vară - partea 2 <a href="/pdf/tayv24/Programul taberei de Ayurveda etapa de vara 2024 partea 2.pdf", <%= tag :a, download: '' %>poate fi descarcat de aici</a>.</p>



<%end%>


<% if current_user && @has_access %>

<h3><strong>Modalitatea de vizionare a înregistrărilor</strong></h3>
    <ol>

        <li>Opțiunea aleasă permite accesul la vizionarea înregistrărilor direct pe site pentru o perioadă de 90 de zile de la data efectuării plății. În acest interval, utilizatorii pot reviziona materialele ori de câte ori doresc, asigurându-se că nu pierd nicio informație importantă. De asemenea, această opțiune permite participanților să vizioneze înregistrările modulului la orice oră, fără restricții de timp.</li>
    </ol>




<%else%>

<%end%>
   
 
</section>

<section>
<p>Vijnana-Svasthya oferă o abordare integrativă a sănătății holistice și a conștiinței cu ajutorul cunoașterii supramentale, amplificând astfel echilibrul și armonia întregii ființe în viața de zi cu zi.</p>
<h3 style="font-size:18px; text-align:center;">Prezentare introductiva Vijnana-Svasthya</h3></br>
<!-- for non autoplay video //-->
<div class="video" style="width: 100%; max-width: 640px; max-height: 360px; margin: 0 auto; background-image: url(<%= asset_path 'player.png' %>);background-size: 100%;">
    <div class="epyv-video-container" id="epyv-container[<%= @myvideo01 %>]">
        <div id="epytvPlayButton[<%= @myvideo01 %>]" class="play-button" onClick="clickToPlay('<%= @myvideo01 %>');"></div>
        <img id="epytvImage[<%= @myvideo01 %>]" src="/thumbnails/video-thumbnail-filename" />
        <div class="epyv-video-player" id="<%= @myvideo01 %>" data-params="controls=1,rel=1,autoplay=0"></div>
        <div id="epytvPlayerCounter[<%= @myvideo01 %>]" class="playerCounter" style="visibility: hidden;">10</div>
    </div>
</div>
</br>
</section>






<section>
<%if !@platit%>

<h1 class="alimente-nutritionale" id="tayv202" style="font-size:28px;">Acces prezentari video Tabara de vara 2024</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr class= "desk">
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Servicii</th>                    
                    <th style="height: 40px; vertical-align:middle; width: 30%;">Detalii</th>
                    
                    <th style="height: 40px; vertical-align:middle; width: 14%;">Pret</th>
                    <th style="height: 40px; vertical-align:middle; width: 12%;">Actiune</th>
                </tr>      
            </thead>
            <tbody>
            <% @prods.each do |prod| %>
              <tr>
                  <td><%= prod.nume %></td>                   
                  <td><%= prod.detalii %></td>
                  <td><%= prod.pret.to_i %> lei</td>
                  <% if current_user %>
                       <td style="text-align:center;">
                         <%= link_to 'Vezi înregistrările', datefacturare_path(s: prod.id), class: 'btn btn-primary' %>
                       </td>
                     <% else %>
                       <td style="text-align:center;">
                         <%= link_to 'Vezi înregistrările', new_user_session_with_return_path('tayv24'), class: 'btn btn-primary' %>
                       </td>
                     <% end %>
                  
            </tr>
              <% end %>  
                </tbody>
              </table>
          </div>
      <%end%>    

<% if current_user %>
<% if @platit %>

<h2 style= "text-align: center;padding: 0 10px; font-size:28px;">Acces prezentari video Tabara de vara 2024</h2></br>



<div id="videos">
  <table class="table">
    <thead>
    <tr>
        <th>Nr</th>
        <th>Nume</th>
        <th>Descriere</th>       
        <th>Actiune</th>
        
    </tr>
    </thead>
    <tbody>
    <% @myvideo.each do |video| %>
        <%= render partial: 'video1', locals: { video: video } %>
      <% end %>
    </tbody>
  </table>
</div>


<% end %><% end %>


<% if !user_signed_in? || (current_user && !@has_access) %>



<%end%>

    <% if current_user && (@has_access || @has_access1) && @myvideo13.count>0%>
        <h2 style= "text-align: center;padding: 0 10px; font-size:28px;margin-top:35px;">Resurse</h2></br>



        <div id="videos">
            <table class="table">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Nume</th>
                    <th>Descriere</th>       
                    <th>Actiune</th>
                    <th>Descarca PDF</th>
                </tr>
                </thead>
                <tbody>
                
                <% previous_video_tip = nil %>
                <% if current_user && @has_access%>
                <% @myvideo13.each do |video| %>
                    <%= render partial: 'video1', locals: { video: video, previous_video_tip: previous_video_tip } %>
                    <% previous_video_tip = video.tip %>
                <% end %>
                <% end %>
                <% if current_user && @has_access1%>
                <% @myvideo13.each do |video| %>
                    <%= render partial: 'video1', locals: { video: video, previous_video_tip: previous_video_tip } %>
                    <% previous_video_tip = video.tip %>
                <% end %>
                <% end %>

                </tbody>
            </table>
        </div>
    <%end%>
 
</section>

</div>
</div>
<script>
  document.addEventListener("turbo:load", function() {
    document.querySelectorAll('.no-turbo').forEach(link => {
      link.setAttribute('data-turbo', 'false');
    });
  });
</script>
<script>
  document.addEventListener("turbo:load", function() {
    document.querySelectorAll('.no-turbo').forEach(link => {
      link.setAttribute('data-turbo', 'false');
    });
  });
</script>
<script>
<%= yield :custom_js %>
</script>