<p style="color: green"><%= notice %></p>

<%= render @modulecursuri %>

<div>
  <%= link_to "Edit this modulecursuri", edit_modulecursuri_path(@modulecursuri) %> |
  <%= link_to "Back to modulecursuris", modulecursuris_path %>

  <%= button_to "Destroy this modulecursuri", @modulecursuri, method: :delete %>
</div>
