<header>
    <div class="header-content">
        <div class="logo-container">
            <a href="/" class="navbar-brand">
                <img src="https://nutritie.amnromania.ro/wp-content/uploads/2022/08/logo_transparent_background.png" alt="Ayus grup" class="logo" />
            </a>
        </div>
        <nav class="navcontainer">
            <div class="menu-toggler" onclick="toggleMobileMenu()">
                <img src="https://amnromania.ro/wp-content/uploads/2023/04/mbico1.png" width="60px" id="menuTogglerIconInactive" style="display: block;" />
                <img src="https://amnromania.ro/wp-content/uploads/2023/04/mbico2.png" width="60px" id="menuTogglerIconActive" style="display: none;" />
            </div>
            <ul class="nav-menu" id="navMenu">
                <li><%= link_to 'Acasa', root_path %></li>
                
                
                
                
                
                <%if current_user && (current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "Nutritie" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) })%>
                <li class="nav-item">
                <%= link_to 'Valori Nutritionale', valorinutritionales_path, id: 'valorinutritionales_link' %>
                </li>
                <% elsif current_user %>   
                <li class="nav-item">
                <%= link_to 'Valori Nutritionale', servicii_path, class: 'button-link' %>
                </li>
                <% else %>   
                <li class="nav-item">
                <%= link_to 'Valori Nutritionale', new_user_session_with_return_path('vn'), class: 'button-link' %>
                </li>
                <% end %>



                    
                    <%if current_user && (current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "Lista vegetale" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) })%>
                    <li class="nav-item">
                    <%= link_to 'Lista Vegetale', lista_vegetales_path, id: 'lista_vegetales_link' %>
                    </li>
                    <% elsif current_user %>   
                    <li class="nav-item">
                    <%= link_to 'Lista Vegetale', servicii_path, class: 'button-link' %>
                    </li>
                    <% else %>   
                    <li class="nav-item">
                    <%= link_to 'Lista Vegetale', new_user_session_with_return_path('lg'), class: 'button-link' %>
                    </li>
                    <% end %>
              





                   
                <li><%= link_to 'Servicii', servicii_path %></li>
                <% if current_user && current_user.role == 1 %>  
                <li class="nav-item">
                    <%= link_to 'Admin', panouadmin_path %>
                </li>
                <% end %>
                <% if user_signed_in? %>
                <li><%= link_to 'Delogare', destroy_user_session_path, id: 'logout_link', data: { turbo_action: 'replace', turbo_method: 'delete' }, class: "nav-link" %></li>
                
                <li class="nav-item has-submenu">
                    <a class="nav-link" href="#">Cont</a>
                    <ul class="submenu">
                        <li><%= link_to 'Cont', edit_user_registration_path, class: 'nav-item' %></li>
                        <% if current_user %>
                        <li><%= link_to 'Facturile mele', facturas_path, class: 'nav-item' %></li>
                        <% end %>
                    </ul>
                </li>

                
                <% else %>
                <li><%= link_to 'Login', new_user_session_with_return_path('menu') %></li>
                <li><%= link_to 'Creaza cont', new_user_registration_with_return_path('menu') %></li>

                <% end %>
                
               
                <li class="nav-item has-submenu">
                <a class="nav-link" href="#">Video</a>
                <ul class="submenu">
                  <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', tayv2_path, class: 'nav-item' %>
                  <!-- Adaugă aici alte sub-itemuri dacă este necesar -->
                </ul>
              </li>
              

                <li><%= link_to 'Contact', contact_path %></li> 
               
            </ul>
        </nav>
    </div>
</header>

<script>
  document.getElementById('valorinutritionales_link').addEventListener('click', function(event) {
    event.preventDefault();
    window.location.href = '<%= valorinutritionales_path %>';
  });
</script>
