<header>
    <div class="header-content">
        <div class="logo-container">
            <a href="/" class="navbar-brand">
                
                <img src="<%= image_path('ayus_logo.png') %>" alt="Ayus grup" class="logo" />
            </a>
                </a>
        </div>
        <nav class="navcontainer">
            <div class="menu-toggler" onclick="toggleMobileMenu()">
                
            
            <img src="<%= image_path('mbico1.png') %>" width="60px" id="menuTogglerIconInactive" style="display: block;" />
           
            <img src="<%= image_path('mbico2.png') %>" width="60px" id="menuTogglerIconActive" style="display: none;" />
            </div>
            <ul class="nav-menu" id="navMenu">
                <li><%= link_to 'Acasa', root_path %></li>
                <li><%= link_to 'Curs Ayurveda', cursayurveda_path %></li>               

                
                <li class="nav-item has-submenu">
                <a class="nav-link" href="#">Servicii</a>
                <ul class="submenu">
                    <li><%= link_to 'Servicii', servicii_path %></li>

                    <%if current_user && (current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "Nutritie" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) })%>
                    <li class="nav-item">
                    <%= link_to 'Valori Nutritionale', valorinutritionales_path, id: 'valorinutritionales_link' %>
                    </li>
                    <% elsif current_user %>   
                    <li class="nav-item">
                    <%= link_to 'Valori Nutritionale', servicii_path, class: 'button-link' %>
                    </li>
                    <% else %>   
                    <li class="nav-item">
                    <%= link_to 'Valori Nutritionale', new_user_session_with_return_path('vn'), class: 'button-link' %>
                    </li>
                    <% end %>


                    <%if current_user && (current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "Lista vegetale" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) })%>
                    <li class="nav-item">
                    <%= link_to 'Lista Vegetale', lista_vegetales_path, id: 'lista_vegetales_link' %>
                    </li>
                    <% elsif current_user %>   
                    <li class="nav-item">
                    <%= link_to 'Lista Vegetale', servicii_path, class: 'button-link' %>
                    </li>
                    <% else %>   
                    <li class="nav-item">
                    <%= link_to 'Lista Vegetale', new_user_session_with_return_path('lg'), class: 'button-link' %>
                    </li>
                    <% end %>
                    
                    <li class="nav-item">
                    <%= link_to "Tabara ayurveda 2023 etapa de toamna partile 1 si 2", tayt12_path %>
                    </li>


                    <%if current_user && (current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "tayv2" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) })%>
                    <li class="nav-item">
                    <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', tayv2_path, id: 'tayv2_link' %>
                    </li>
                    <% elsif current_user %>   
                    <li class="nav-item">
                    <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', servicii_path, class: 'button-link' %>
                    </li>
                    <% else %>   
                    <li class="nav-item">
                    <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', new_user_session_with_return_path('tayv2'), class: 'button-link' %>
                    </li>
                    <% end %> 

                    <% if current_user %>
                    <% if current_user.role == 1 || (current_user.role == 0 && ComenziProd.joins(:prod).where(user_id: current_user.id, prods: { cod: ["cod12", "cod11", "cod13"] }).exists?) %>
                    <li class="nav-item">
                    <%= link_to 'Nutritie modulul 3', nutritie3_path, id: 'nutritie3_link' %>
                    </li>
                    <%end%> <%end%>
                  
                </ul>
            </li>







                <% if current_user && current_user.role == 1 %>  
                <li class="nav-item">
                    <%= link_to 'Admin', panouadmin_path %>
                </li>
                <% end %>
                <% if user_signed_in? %>
                
                <li class="nav-item has-submenu">
                    <a class="nav-link" href="#">Cont</a>
                    <ul class="submenu">
                        <li><%= link_to 'Cont', edit_user_registration_path, class: 'nav-item' %></li>
                        <% if current_user %>
                        <li><%= link_to 'Facturile mele', facturas_path, class: 'nav-item' %></li>
                        <% end %>
                        <li><%= link_to 'Delogare', destroy_user_session_path, id: 'logout_link',  class: 'nav-item', data: { turbo_action: 'replace', turbo_method: 'delete' }, class: "nav-link" %></li>
                
                    </ul>
                </li>

                
                <% else %>
                <li><%= link_to 'Login', new_user_session_with_return_path('menu') %></li>
                

                <% end %>
                
               
                <li class="nav-item has-submenu">
                <a class="nav-link" href="#">Video</a>
                <ul class="submenu">

                <%if current_user && (current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "tayv2" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) })%>
                <li class="nav-item">
                <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', tayv2_path, id: 'tayv2_link' %>
                </li>
                <% elsif current_user %>   
                <li class="nav-item">
                <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', servicii_path, class: 'button-link' %>
                </li>
                <% else %>   
                <li class="nav-item">
                <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', new_user_session_with_return_path('tayv2'), class: 'button-link' %>
                </li>
                <% end %> 



                 
                  <!-- Adaugă aici alte sub-itemuri dacă este necesar -->
                </ul>
              </li>
              

                <li><%= link_to 'Contact', contact_path %></li> 
               
            </ul>
        </nav>
    </div>
</header>

<script>
  document.getElementById('valorinutritionales_link').addEventListener('click', function(event) {
    event.preventDefault();
    window.location.href = '<%= valorinutritionales_path %>';
  });
</script>
