<header> <div class="headercontainer">
  <div class="logo-container"> <a href="/" class="navbar-brand"> <img src="https://nutritie.amnromania.ro/wp-content/uploads/2022/08/logo_transparent_background.png" alt="Ayus grup"
    class="logo"> </a> </div> <!-- Meniu --> <button class="navbar-toggler" id="menu-toggler-button"
      type="button" onclick="toggleMobileMenu()" aria-label="Toggle mobile menu" style="border: none;
      outline: none;" data-target="#navbarNav">
        <img src="https://amnromania.ro/wp-content/uploads/2023/04/mbico1.png" class="menu-toggler-icon" id="menuTogglerIconInactive"
        style="display: block; width: 60px;"> <img src="https://amnromania.ro/wp-content/uploads/2023/04/mbico2.png" class="menu-toggler-icon" id="menuTogglerIconActive" style="display: none;
      width: 60px;"> 
      </button> 
    </div>
   <nav class="navbar navbar-expand-lg py-3" style="top: 0; width: 100%;"> 
   <div class="container"> 
 <!-- Logo -->
 
  <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav ms-auto px-2"> 
      <li class="nav-item"> <%= link_to 'Home', root_path, class: "nav-link "%> </li> 
          <% if (current_user && current_user.listacursuri.any? { |curs| curs.nume == "Nutritie" }) || (current_user && current_user.role == 1) %>  
      <li class="nav-item">
            <%= link_to 'Valori Nutritionale', valorinutritionales_path, class: "nav-link "%>
      </li> 
        <%end%>
        <% if current_user && current_user.role == 1 %>  
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            XlsxToPg 
          </a>  
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Plante', plantes_path, class: "dropdown-item"%>
            <%= link_to 'Plante-Parti', plante_partis_path, class: "dropdown-item"%>
            <%= link_to 'Recomandari', recomandaris_path, class: "dropdown-item"%>
            <%= link_to 'Lista Proprietati', listaproprietatis_path, class: "dropdown-item"%>
            <%= link_to 'Importanta', importanta_path, class: "dropdown-item"%>
            <%= link_to 'Tipuri Proprietati', tipuri_props_path, class: "dropdown-item"%>
            <%= link_to 'Srota', srota_path, class: "dropdown-item"%>
            
            <%= link_to 'XlsxToPostgres', xlsxtopg_index_path, class: "dropdown-item"%>
          </div>
        </li>  

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manager
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Valorinutritionale', valorinutritionales_path, class: "dropdown-item"%>
            <%= link_to 'Lista Cursuri', listacursuris_path, class: "dropdown-item"%>
            <%= link_to 'Cursuri', cursuris_path, class: "dropdown-item"%>
            <%= link_to 'Lista Users', admin_index_path, class: "dropdown-item" %>
            <%= link_to 'Gestionare Cursuri', gestionare_useri_cursuri_index_path, class: "dropdown-item"%>

          </div>
        </li>
        <%end%>
        
      
      <%if user_signed_in?%>
         <li class="nav-item">        
         <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_action: 'replace', turbo_method: 'delete' }, class: "nav-link" %>
         <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn-light" %>


        </li>
        
        <li class="nav-item">          
        <%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link" %>
        </li>
         <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Salut <%=current_user.name%></a>
        </li> 
        <%else%>
       <li class="nav-item"> <a class="nav-link" href="/users/sign_in">Login</a> </li>
  
      <li class="nav-item"> <a class="nav-link" href="/users/sign_up">Sign Up</a> </li> 
        <%end%>
      </ul>
      </div>
  </div>
</nav>


   
   </header>