<header>
    <div class="header-content">
        <div class="logo-container">
            <a href="/" class="navbar-brand">
                
                <img src="<%= image_path('ayus_logo.png') %>" alt="Ayus grup" class="logo" />
            </a>
                </a>
        </div>
        <nav class="navcontainer">
            <div class="menu-toggler" onclick="toggleMobileMenu()">
                
            
            <img src="<%= image_path('mbico1.png') %>" width="60px" id="menuTogglerIconInactive" style="display: block;" />
           
            <img src="<%= image_path('mbico2.png') %>" width="60px" id="menuTogglerIconActive" style="display: none;" />
            </div>
            <ul class="nav-menu" id="navMenu">
                <li><%= link_to 'Acasa', root_path %></li>
                <li><%= link_to 'Curs Ayurveda', cursayurveda_path %></li>               

                <li class="nav-item has-submenu">
                <a class="nav-link" href="#">Tabere Ayurveda</a>
                <ul class="submenu">
                <li class="nav-item">
                    <%= link_to "Tabara ayurveda 2023 etapa de toamna", tayt12_path %>
                    </li>
                    <li class="nav-item">
                    <% if current_user %>   
                      <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', tayv2_path, id: 'tayv2_link' %>
                    <% else %>   
                      <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', new_user_session_with_return_path('tayv2'), class: 'button-link' %>
                    <% end %>
                  </li>
                  
                    

                </ul></li>
                <li class="nav-item has-submenu">
                <a class="nav-link" href="#">Nutritie</a>
                <ul class="submenu">
                <li class="nav-item">
                    <% if user_signed_in? %>
                      <%= link_to 'Valori Nutritionale', valorinutritionales_path, id: 'valorinutritionales_link' %>
                    <% else %>
                      <%= link_to 'Valori Nutritionale', new_user_session_with_return_path('vn'), class: 'button-link' %>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <% if current_user && (current_user.role == 1 || (current_user.role == 0 && ComenziProd.joins(:prod).where(user_id: current_user.id, prods: { cod: ["cod12", "cod11", "cod13"] }).exists?)) %>
                      <%= link_to 'Nutritie modulul 3', nutritie3_path %>
                    <% else %>
                      <%= link_to 'Nutritie modulul 3', new_user_session_path(return_to: 'nutritie3'), id: 'nutritie3_link' %>
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <% if current_user && (current_user.role == 1 || current_user.nutritieabsolvit == 2) %>
                      <%= link_to 'Nutritie modulul 2', nutritie2_path %>
                    <% else %>
                      <%= link_to 'Nutritie modulul 2', new_user_session_path(return_to: 'nutritie2'), id: 'nutritie2_link' %>
                    <% end %>
                  </li>
                </ul>
              </li>
              

                




                
                <li class="nav-item has-submenu">
                <a class="nav-link" href="#">Servicii</a>
                <ul class="submenu">
                    <li><%= link_to 'Servicii', servicii_path %></li>

                    
                  

                    <%if current_user && (current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "Lista vegetale" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) })%>
                    <li class="nav-item">
                    <%= link_to 'Lista Vegetale', lista_vegetales_path, id: 'lista_vegetales_link' %>
                    </li>
                    <% elsif current_user %>   
                    <li class="nav-item">
                    <%= link_to 'Lista Vegetale', servicii_path, class: 'button-link' %>
                    </li>
                    <% else %>   
                    <li class="nav-item">
                    <%= link_to 'Lista Vegetale', new_user_session_with_return_path('lg'), class: 'button-link' %>
                    </li>
                    <% end %>
                    
                    


                    

                   
                  
                </ul>
            </li>







                <% if current_user && current_user.role == 1 %>  
                <li class="nav-item">
                    <%= link_to 'Admin', panouadmin_path %>
                </li>
                <% end %>
                <% if user_signed_in? %>
                
                <li class="nav-item has-submenu">
                    <a class="nav-link" href="#">Cont</a>
                    <ul class="submenu">
                        <li><%= link_to 'Cont', edit_user_registration_path, class: 'nav-item' %></li>
                        <% if current_user %>
                        <li><%= link_to 'Facturile mele', facturas_path, class: 'nav-item' %></li>
                        <% end %>
                        <li><%= link_to 'Delogare', destroy_user_session_path, class: 'nav-item', id: 'logout_link',  data: { turbo_action: 'replace', turbo_method: 'delete' } %></li>
                
                        <% if current_user && current_user.role==1 %>
                        <li><%= link_to 'Pagina veche', home_index1_path, class: 'nav-item' %></li>                       
                        <li>
                            <%= link_to 'Transport international', tayt12_transport_international_path('tri'), class: 'nav-item' %>
                        </li>
                        <li>
                        <% if (current_user && (current_user.email=="ilates@yahoo.com" || current_user.email=="costelaioanei@yahoo.com"))%>
                        <%= link_to 'PC', show_crypto_price_path, class: 'nav-item' %>
                        <% end %>
                        </li>
                        <% end %>

                    </ul>
                </li>

                
                <% else %>
                <li><%= link_to 'Login', new_user_session_with_return_path('menu') %></li>
                

                <% end %>
                
               
         
              

                <li><%= link_to 'Contact', contact_path %></li> 
               
            </ul>
        </nav>
    </div>
</header>

<script>
  document.getElementById('valorinutritionales_link').addEventListener('click', function(event) {
    event.preventDefault();
    window.location.href = '<%= valorinutritionales_path %>';
  });
</script>
