<header>
    <div class="header-content">
        <div class="logo-container">
            <a href="/" class="navbar-brand">
                
                <img src="<%= image_path('ayus_logo.jpg') %>" alt="Ayus Cell Romania" class="logo" />
            </a>
                </a>
        </div>
        <nav class="navcontainer">
            <div class="menu-toggler" onclick="toggleMobileMenu()">
                
            
            <img src="<%= image_path('mbico1.png') %>" width="60px" height="60px" id="menuTogglerIconInactive" style="display: block;" alt="MenuTooglerUp" />

            <img src="<%= image_path('mbico2.png') %>" width="60px" height="60px" id="menuTogglerIconActive" style="display: none;" alt="MenuTooglerDown" />
            
            </div>
            <ul class="nav-menu" id="navMenu">
                <li><%= link_to 'Acasa', root_path, class: 'no-turbo' %></li>
     
                
                </li>
                <li class="nav-item has-submenu">
                <a class="nav-link" href="#">Cursuri</a>
                <ul class="submenu">
                    <li class="nav-item">
                       <%= link_to 'Curs de Ayurveda', cursayurveda_path, class: 'no-turbo' %>
                    </li>
                    <li class="nav-item">
                       <%= link_to 'Curs Vajikarana', vajikarana_modul1_path, class: 'no-turbo' %>
                    </li>
                    <% if current_user && (current_user.role == 1 || Listacanal1.exists?(email: current_user.email)) %>
                    <li class="nav-item">
                      <%= link_to 'Ayush Cell Tv 1', '/tvs/canal1', class: 'no-turbo' %>
                    </li>
                    <% end %>
                    <% if current_user && (current_user.role == 1 || Listacanal2.exists?(email: current_user.email)) %>
                    <li class="nav-item">
                      <%= link_to 'Ayush Cell Tv 2', '/tvs/canal2', class: 'no-turbo' %>
                    </li>
                    <% end %>
                    <% if current_user && (current_user.role == 1 || Listacanal3.exists?(email: current_user.email)) %>
                    <li class="nav-item">
                      <%= link_to 'Ayush Cell Tv 3', '/tvs/canal3', class: 'no-turbo' %>
                    </li>
                    <% end %>
                    <li class="nav-item">
                       <%= link_to 'Ayush Cell Tv Seminarii', '/tvs/seminarii', class: 'no-turbo' %>
                    </li>
                </ul>
              </li>




                </li>
                <li class="nav-item has-submenu">
                <a class="nav-link" href="#">Nutritie</a>
                <ul class="submenu">
                
                  <li class="nav-item">
                   
                      <%= link_to 'Nutritie modulul 1', nutritie1_path, class: 'no-turbo' %>
                    
                  </li>
                  <li class="nav-item">
                    
                      <%= link_to 'Nutritie modulul 2', nutritie2_path, class: 'no-turbo' %>
                    
                  </li>
                  <li class="nav-item">
                    
                      <%= link_to 'Nutritie modulul 3', nutritie3_path, class: 'no-turbo' %>
                    
                  </li>
                  <li class="nav-item">
                    
                      <%= link_to 'Nutritie modulul 4', nutritie4_path, class: 'no-turbo' %>
                    
                  </li>
                </ul>
              </li>


                <li class="nav-item has-submenu">
                <a class="nav-link" href="#">Tabere</a>
                <ul class="submenu">
                <li class="nav-item">
                    <%= link_to "Tabara ayurveda 2024 etapa de vara", tayv24_path, class: 'no-turbo' %>
                    </li>
                <li class="nav-item">
                    <%= link_to "Tabara ayurveda 2023 etapa de toamna", tayt12_path, class: 'no-turbo' %>
                    </li>
                    <li class="nav-item">
                    <% if current_user %>   
                      <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', tayv2_path, id: 'tayv2_link', class: 'no-turbo' %>
                    <% else %>   
                      <%= link_to 'Tabara ayurveda 2023 etapa de vara partea 2', new_user_session_with_return_path('tayv2'), class: 'button-link no-turbo' %>
                    <% end %>
                  </li>
                  
                    

                </ul>
              

                




                
                <li class="nav-item has-submenu">
                <a class="nav-link" href="#">Aplicatii</a>
                <ul class="submenu">
                    <li><%= link_to 'Tradiția Ayurvedică - Amnaya Tantraka', amnaya_path, class: 'nav-item no-turbo' %> </li>
                    <li><%= link_to 'Evaluare tipologie ayurvedică', evaluare_tipologie_ayurvedica_path, class: 'nav-item no-turbo' %> </li>
                    <li class="nav-item">
                   
                      <%= link_to 'Aplicație de calcul nutrițional', aplicatie_path, class: 'no-turbo' %>
                    
                  </li>            

                    <%if current_user && (current_user.role == 1 || current_user.cursuri.any? { |curs| curs.listacursuri.nume == "Lista vegetale" && (curs.datasfarsit.nil? || Date.current <= curs.datasfarsit) })%>
                    <li class="nav-item">
                    <%= link_to 'Lista ingredientelor vegetale', lista_vegetales_path, id: 'lista_vegetales_link' , class: 'no-turbo'%>
                    </li>
                    <% elsif current_user %>   
                    <li class="nav-item">
                    <%= link_to 'Lista ingredientelor vegetale', servicii_path, class: 'button-link no-turbo' %>
                    </li>
                    <% else %>   
                    <li class="nav-item">
                    <%= link_to 'Lista ingredientelor vegetale', new_user_session_with_return_path('lg'), class: 'button-link no-turbo' %>
                    </li>
                    <% end %>                   
                    
                    <li><%= link_to 'Servicii', servicii_path, class: 'no-turbo' %></li>         
                  
                </ul>
            </li>







                <% if current_user && current_user.role == 1 %>  
                <li class="nav-item">
                    <%= link_to 'Admin', panouadmin_path, class: 'no-turbo' %>
                </li>
                <% end %>
                <% if user_signed_in? %>
                
                <li class="nav-item has-submenu">
                    <a class="nav-link" href="#">Cont</a>
                    <ul class="submenu">
                        
                        <li><%= link_to 'Cont', edit_user_registration_path, class: 'nav-item no-turbo' %></li>
                        <% if current_user %>
                        <li><%= link_to 'Facturile mele', facturas_path, class: 'nav-item no-turbo' %></li>
                        <% end %>

                        <% if current_user %>
                          <% if @newsauupdate == 1 %>
                          <li><%= link_to 'Date Facturare', new_date_facturare_path, class: 'nav-item no-turbo' %></li>
                          <% elsif @newsauupdate == 2 && @date_facturare %>
                          <li><%= link_to 'Date Facturare', edit_date_facturare_path(@date_facturare), class: 'nav-item no-turbo' %></li>
                          <% end %>
                        <% end %>
                        <% if current_user && (Listacanal2.exists?(email: current_user.email) || current_user.role==1) %>

                        <li><%= link_to 'An 2', an2_path, class: 'no-turbo' %></li>
                        <% end %>
                        <% if current_user && (Listacanal3.exists?(email: current_user.email) || current_user.role==1) %>

                        <li><%= link_to 'An 3', an3_path, class: 'no-turbo' %></li>
                        <% end %>
                        <% if current_user && (current_user.role == 1 || current_user.email.in?(['karunasland@hotmail.com', 'george.bondor@yahoo.com'])) %>
                            <li><%= link_to 'Contributie Curs Ayurveda', an_path, class: 'no-turbo' %></li>
                        <% end %>
                        <li><%= link_to 'Delogare', destroy_user_session_path, class: 'nav-item no-turbo', id: 'logout_link',  data: { turbo_action: 'replace', turbo_method: 'delete' } %></li>
                
                        <% if current_user && current_user.role==1 %>                

                        <li><%= link_to 'PC', show_crypto_price_path, class: 'nav-item no-turbo' %> </li>                       
                        <li><%= link_to 'Documente', documente_path, class: 'nav-item no-turbo' %></li>
                        <li><%= link_to 'Voluntariat', voluntariat_path, class: 'nav-item no-turbo' %></li>
                        <% end %>
                       
                    </ul>
                </li>

                
                <% else %>
                <li><%= link_to 'Login', new_user_session_with_return_path('menu'), class: 'no-turbo' %></li>
               

                <% end %>
                
               
         
              

                <li><%= link_to 'Contact', contact_path, class: 'no-turbo' %></li> 
               
            </ul>
        </nav>
    </div>
</header>



<script>
  document.addEventListener("turbo:load", function() {
    console.log("script din _header1");
    var linkElement = document.getElementById('valorinutritionales_link');
    if (linkElement) {
      linkElement.addEventListener('click', function(event) {
        console.log("script din _header2");
        event.preventDefault();
        window.location.href = '<%= valorinutritionales_path %>';
      });
    }
  });
</script>
