<header>
            <div class="header-content">
                <div class="logo-container">
                    <a href="/" class="navbar-brand">
                        <img src="https://nutritie.amnromania.ro/wp-content/uploads/2022/08/logo_transparent_background.png" alt="Ayus grup" class="logo" />
                    </a>
                </div>
                <nav class="navcontainer">
                    <div class="menu-toggler" onclick="toggleMobileMenu()">
                        <img src="https://amnromania.ro/wp-content/uploads/2023/04/mbico1.png" width="60px" id="menuTogglerIconInactive" style="display: block;" />
                        <img src="https://amnromania.ro/wp-content/uploads/2023/04/mbico2.png" width="60px" id="menuTogglerIconActive" style="display: none;" />
                    </div>
                    <ul class="nav-menu" id="navMenu">
                       
                        <% if (current_user && current_user.listacursuri.any? { |curs| curs.nume == "Nutritie" }) || (current_user && current_user.role == 1) %>  
                        <li class="nav-item">
                            <%= link_to 'Valori Nutritionale', valorinutritionales_path, id: 'valorinutritionales_link' %>
                        </li>

                        <script>
                            document.addEventListener('turbo:load', function() {
                            const valorinutritionalesLink = document.getElementById('valorinutritionales_link');

                            if (valorinutritionalesLink) {
                                valorinutritionalesLink.addEventListener('click', function(event) {
                                event.preventDefault();
                                window.location.href = '<%= valorinutritionales_path %>';
                                });
                            }
                            });
                        </script>


                        <%end%>
                        <% if current_user && current_user.role == 1 %>  
                        <li class="nav-item has-submenu">
                            <a class="nav-link" href="#"> XlsxToPg</a>
                            <ul class="submenu">
                              <li><%= link_to 'Plante', plantes_path%></li>
                              <li><%= link_to 'Plante-Parti', plante_partis_path%></li>
                              <li><%= link_to 'Recomandari', recomandaris_path%></li>
                              <li><%= link_to 'Lista Proprietati', listaproprietatis_path%></li>
                              <li><%= link_to 'Importanta', importanta_path%></li>
                              <li><%= link_to 'Tipuri Proprietati', tipuri_props_path%></li>
                              <li><%= link_to 'Srota', srota_path%></li>            
                              <li><%= link_to 'XlsxToPostgres', xlsxtopg_index_path%></li>
                            </ul>
                        </li>
                        <li class="nav-item has-submenu">
                            <a class="nav-link" href="#"> Manager</a>
                            <ul class="submenu">
                              <li><%= link_to 'Valori Nutritionale', valorinutritionales_path%></li>
                              <li><%= link_to 'Lista Cursuri', listacursuris_path%></li>
                              <li><%= link_to 'Cursuri', cursuris_path%></li>
                              <li><%= link_to 'Lista Users', admin_index_path %></li>
                              <li><%= link_to 'Pagini site', paginisites_path%></li>
                              <li><%= link_to 'Useri care s-au logat', userilogati_path%></li>
                              <li><%= link_to 'Gestionare Cursuri', gestionare_useri_cursuri_index_path%></li>
                            </ul>
                        </li>
                         <%end%>
                       
                        <%if user_signed_in?%>
                            <li><%= link_to 'Delogare', destroy_user_session_path, data: { turbo_action: 'replace', turbo_method: 'delete' }, class: "nav-link" %></li>
                            <li><%= link_to 'Cont', edit_user_registration_path, class: "nav-link" %></li>
                           
                        <%else%>
                            <li><%= link_to 'Login', new_user_session_path %></li>
                            <li><%= link_to 'Creaza cont', new_user_registration_path %></li>
                         <%end%>
                         <li><%= link_to 'Contact', contact_path %></li> 
                       
                    </ul>
                </nav>
            </div>
        </header>

<script>
  document.getElementById('valorinutritionales_link').addEventListener('click', function(event) {
    event.preventDefault();
    window.location.href = '<%= valorinutritionales_path %>';
  });
</script>