<h1 style="color:green;text-align:center">Gestionare Useri si Cursuri</h1>
<div class="jumbotron" style="background-color: #e9ecef;padding: 30px;margin: 40px;">
    
    
    <%= link_to 'Copie Useri,Cursuri asociere cu Nutritie si CursuriHistory', import_from_xlsx_cursantinutritie_gestionare_useri_cursuri_path, class: "btn btn-primary", method: :get %>
    <%= link_to 'Sterge toate înregistrările din tabela User Cursuri si CursuriHistory', stergecursntinutritie_gestionare_useri_cursuri_path,  class: "btn btn-primary" %>
<% if User.count > 0 %>
<span style="color: green;">"Tabela User are:  <%= User.count %>
 inregistrari Tabela Cursuri are <%=Cursuri.count%> inregistrari Tabela CursuriHistory are <%=CursuriHistory.count%> inregistrari"</span>
<% else %>
<span style="color: red;">"Nu are inregistrari"</span>
<% end %><br>
</div>
<div>
Explicatie functionalitate:
Cand apas 'Copie Useri si asociere cu Nutritie'  se copie din fisierul cursantinutritie.xlsx toti userii in tabela User
Totodata se copie si in tabela Cursuri care este de legatura user_id listacursuri_id datainceput datasfarsit (31.12.2023)
Totodata se copie si in tabela CursuriHistory ce sa copiat si in tabela Cursuri dar tabela CursuriHistory mai are un camp in plus 
de legatuta cu tabela Cursuri : cursuri_id  pt ca aici acelasi curs poate apare de mai multe ori.
</div>

